<template>
  <div class="page" v-if="pageShow">
    <div class="header">
      <p class="title-text">登录</p>
    </div>
    <div class="content-dv">
      <div class="phone-idv">
        <p class="phone-text">请输入手机号</p>
        <input  @input="keyboardWay" v-model="phone" maxlength="13" class="input-iv" type="number"/>
      </div>
      <div class="yzm-idv">
        <p class="phone-text yzm-text">请输入验证码</p>
        <div class="yzm-act">
          <input  @input="keyboardWay" v-model="yzmData" maxlength="6" class="input-iv input-yzm"  type="number"/>
          <p class="yzm-p" @click="getYZM">{{yzmNum}}</p>
        </div>
      </div>
      <div class="btn-div">
        <button open-type="getUserInfo" class="get-btn" type="primary" size="default" @getuserinfo="checkForm">登录</button>
        <p class="be-host"  @click="beHost">成为房东?</p> 
      </div>
    </div>
    <!-- <mes></mes> -->
  </div>
</template>

<script>
// import mes from '../../../components/socketMes.vue';
//测试的时候可开，但是实际不会在该页出现socket
export default {
  components: {
    // mes,
  },
  data () {
    return {
      pageShow:false,
      //****************1、一般数据
      userInfo:{},          //用户全部信息,下级rawData为传参
      wuid:"",            //wuid...用户的id
      phone:"",             //表单phone绑定
      yzmNum:"获取验证码",   //验证码text。倒计时
      yzmData:"",           //验证码
      interval:"",          //计时器保留期

      //****************0、render
      //****************2、表单数据
      //****************3、rule
      //****************4、本地数据（伪）
      //****************N、过期数据
      // notification:'',     //组件数组。已实现组件化
      // notiData:false,
      // phoneShow:false,     //被去掉的数据控制，估计是style相关
      // btnStu:true,         //btn Style控制
    }
  },
  computed:{
  },
  methods: {
    //1、公用框架模组————————————————————————————————

    //UI模块。手机344
    keyboardWay(e){
      // console.log(e);
      // let num=this.phone;
      // // if(num.length<2){
      // //   num.split("")
      // // }

      // //只是单纯的在3，7+1的地方加空格就满足需求了
      // if(e.mp.detail.cursor===3||e.mp.detail.cursor==8){
      //   this.phone=this.phone+" "
      // }
      // if(e.mp.detail.cursor==13){
      //   // this.btnStu=false;
      // }
    },

    //2、初始函数————————————————————————————————
    deafultData(){
      Object.assign(this.$data, this.$options.data())
      // console.log(this.$data);
    },

    //3、一般函数————————————————————————————————
    beHost(){
      const url = '../../becomeLandlord/main'
      wx.navigateTo({ url })
    },
    //获取手机验证码。10-5-1
    getYZM(){
      //禁止在限定时间内多次点击
      if(this.yzmNum!="获取验证码") return;
      let vm=this,
        mobile=vm.phone.replace(/\s+/g, "");
      //str....
      let data={
        mobile
      }
      vm.$https.ajax("","POST","api/system/mobile_code",data).then((res)=>{
        console.log('[initialize] mobile_code >> RES',res);
        vm.fns.wxMsgToast("验证码已发送")
        let num=60;
        vm.yzmNum=num;
        vm.interval=setInterval(function(){
          // console.log('interval...');
          if(vm.yzmNum!=0){
            vm.yzmNum--;
          }else{
            clearInterval(vm.interval);
            vm.yzmNum="获取验证码";
          }
        },1000)
      }).catch((err)=>{
        console.log(err);
      })
    },
    checkForm(e){
      //emmmm这个验证。。
      if(this.phone!=''&&this.yzmData!=''){
        this.getInfofn(e);
      }else{
        this.fns.wxMsgToast("???");
      }
    },
    //-1、检查授权情况。。。
    //第二次进来就可以直接检测不需要通过button。。emm
    checkInfo(){
      let vm=this;
      setTimeout(lastAct,1200);
      function lastAct(){
        wx.getSetting({
          success: function(res){
            // wx.hideLoading();
            if (res.authSetting['scope.userInfo']) {
              console.log('-1. 授权通过,直接调用获取信息接口');
              wx.getUserInfo({
                success: function(res) {
                  // console.log('userInfo...',res);
                  vm.userInfo=res;
                  vm.wxLogin();
                }
              })
            }
            else{
              console.log("未授权")
              vm.pageShow=true;
            }
          }
        })
      }
    },
    //0、授权入口
    getInfofn(e){
      this.userInfo=e.mp.detail;
      let vm = this;
      // console.log(e);
      // console.log(e.mp.detail.userInfo)
      if (e.mp.detail.userInfo) {
        vm.wxLogin();
      } 
      else {
        wx.showToast({
          title: "已拒绝授权",
          icon: 'none',
          duration: 2000
        })
      }
    },
    //1、—微信id获取用户的code(wx)
    wxLogin(){
      console.log("1. 获取用户wx.code...");
      let vm=this;
      vm.fns.wxMsgLoad("提交中");
      wx.login({
        success: function(res) {
          // wx.hideLoading();     //hide登录load
          if (res.code) {
            // console.log('用户code => ',res.code);
            vm.getKey(res.code);
          } else {
            console.log('获取用户code失败 => ' + res)
            vm.pageShow=true;
            wx.showToast({
              title: res.errMsg,
              icon: 'none',
              duration: 2000
            })
          }
        },
      })
    },

    //4、请求函数————————————————————————————————
    //2——code身份识别     
    getKey($code){
      console.log("2. code get Key...Secv");
      let vm=this;
        let data={
          "code":$code,
          "user_info":JSON.parse(vm.userInfo.rawData),
        };
        vm.$https.ajax("","POST","api/wechat/check_user",data).then((res)=>{
          console.log('[initialize] check_user >> RES',res);
          if(res.data.code===0){
            // vm.fns.wxMsgLoad("登录中");
            //这里是有atoken、role、wuid全部数据
            console.log("已绑定手机、用户组");
            let tokenMain=res.data.data.access_token;
            //存放token...
            vm.$store.commit("setToken",tokenMain);
            //手动注销，重新填电话/账户
            // vm.logoutAct();
            let rs=res.data.data;
            // console.log(rs.access_token,rs.login_role)
            vm.identityAct(res.data.data.login_role);
          }
          else if(res.data.code==-4001){
            console.log("下一步执行绑定手机....");
            //防止缓存没有了识别不了注销。也防止手机绑定出错导致不显示。因为手机绑定是没处理的
            vm.pageShow=true;
            vm.wuid=res.data.data.wuid;
            vm.sendPhone();
          }
          else if(res.data.code==-4005){
            //防止用户绑定出错导致不显示
            console.log("下一步执行绑定用户....");
            vm.pageShow=true;
            let tokenMain=res.data.data.wuid;
            vm.bindUserRold(tokenMain);
          }
          //主线
          else if(res.data.code==-2001){  
            vm.pageShow=true;     
            wx.showModal({
              title: '提示',
              content: '该手机未注册为房东，是否注册',
              confirmText:'成为房东',
              cancelText: '取消',
              success: function (res) {
                if (res.confirm) {
                  const url = '../../becomeLandlord/main'
                  wx.navigateTo({ url })
                } else if (res.cancel) {
                  console.log("已取消 成为房东");
                }
              }
            })
          }
          else{
            vm.pageShow=true;
            console.log('身份识别失败  ' + res.errMsg)
            vm.fns.wxMsgToast("未识别错误");
          }
        }).catch((err)=>{
          console.log(err);
          vm.pageShow=true;
        })
            // else{
            //   //自动判断的时候直接跑true。只有true了之后提交了什么乱七八糟的东西才跑正常。。。。（隐患）
            //   //好吧我不知道他是哪步绑定了我的操作然后给我返回其他接口的信息。只有非零操作了。
            //   if(vm.pageShow){
            //     }else{
            //       wx.showModal({
            //         title: '提示',
            //         content: '该手机未注册为房东，是否注册',
            //         confirmText:'成为房东',
            //         cancelText: '取消',
            //         success: function (res) {
            //           if (res.confirm) {
            //             const url = '../../becomeLandlord/main'
            //             wx.navigateTo({ url })
            //           } else if (res.cancel) {
            //             console.log("已取消 成为房东");
            //           }
            //         }
            //       })
            //     }
            //   }else{
            //     vm.pageShow=true;
            //     vm.fns.wxMsgToast("未绑定信息");
            //   }
            // }
            
            // else if(res.data.code===-4001){
            //   //这里只有token.....用于绑定手机接口的假token..
            //   console.log("下一步执行绑定手机....");
            //   vm.wuid=res.data.data.wuid;
            //   vm.sendPhone();
            // }
            // //突然变成4005搞了
            // else if(res.data.code==-4005){
            //   let tokenMain=res.data.data.wuid;
            //   vm.bindUserRold(tokenMain);
            // }
            // else{
            //   console.log('身份识别失败  ' + res.errMsg)
            //   wx.showToast({
            //     title: "未识别的出错",
            //     icon: 'none',
            //     duration: 2000
            //   })
            // }
        //   }
        // },
        // fail:function(){
        //   console.log("fail")
        // }
      // })
    },
    //2-2、绑定手机
    sendPhone(){
      let vm=this;
      // vm.fns.wxMsgLoad("提交中");
      let $phone=this.phone.replace(/\s+/g, "");
      let data={
        "wuid":vm.wuid,
        "mobile":$phone,
        "mobile_code":vm.yzmData
      };
      vm.$https.ajax("","POST","api/wechat/bind_user",data).then((res)=>{
        console.log('[initialize] bind_user >> RES',res);
        let tokenMain=res.data.data.wuid;
        vm.bindUserRold(tokenMain);
      }).catch((err)=>{
        console.log(err);
        vm.pageShow=true;
      })
        // wx.request({
        //   method:"POST",
        //   url: vm.$url2+"api/wechat/bind_user", 
        //   data: {
        //     "wuid":vm.wuid,
        //     "mobile":$phone,
        //     "mobile_code":vm.yzmData
        //   },
        //   success: function(res) {
            // console.log('bind_user RES',res);
            // let $mes=res.data.msg;
            // // if(res.data.code==-4005){
            //   let tokenMain=res.data.data.wuid;

            //   // //存放token...
            //   // vm.$store.commit("setToken",tokenMain);
            //   // //验证身份
            //   // vm.identityAct(res.data.data.login_role);
            //   vm.bindUserRold(tokenMain);

            // }
            // else{
            //   switch (res.data.code){
            //     case -3203:
            //       $mes="租客手机格式错误";
            //       vm.pageShow=true;
            //   }
            //   wx.showToast({
            //     title: $mes,
            //     icon: 'none',
            //     duration: 2000
            //   })
            // }
    },
    //绑定用户组.....房东版1，租客版2.。。。
    bindUserRold(wuid){
      let vm=this;
      let $phone=this.phone.replace(/\s+/g, "");
      let data={
        wuid,
        "login_role":1
      };
      vm.$https.ajax("","POST","api/wechat/login_role",data).then((res)=>{
        console.log('[initialize] login_role >> RES',res);
        if(res.data.code==0){
          let rs=res.data.data;
          console.log(rs,rs.access_token,rs.login_role);
          //存放token...
          vm.$store.commit("setToken",rs.access_token);
          //验证身份
          vm.identityAct(rs.login_role);
        }
        //主线
        else if(res.data.code==-2001){  
          vm.pageShow=true;     
          wx.showModal({
            title: '提示',
            content: '该手机未注册为房东，是否注册',
            confirmText:'成为房东',
            cancelText: '取消',
            success: function (res) {
              if (res.confirm) {
                const url = '../../becomeLandlord/main'
                wx.navigateTo({ url })
              } else if (res.cancel) {
                console.log("已取消 成为房东");
              }
            }
          })
        }
      }).catch((err)=>{
        console.log(err);
        vm.pageShow=true;
      })
    },
    //3、身份判断
    identityAct($arg){
      console.log('用户组',$arg);
      this.$store.commit("setRole",$arg);
      //1放到2租客
      // if($arg==1||$arg==2){
        wx.setStorage({//存储到本地
          key:"cook",
          data:true
        })
        const url = '../../index/main'
        wx.redirectTo({ url })
      // }
      // else if($arg==2){
      //   this.fns.wxMsgModal()
      // }
      // else if($arg===4){
      //   wx.showToast({
      //     title: "游客，没有权限浏览页面",
      //     icon: 'none',
      //     duration: 9000
      //   })
      // }
    },
    //-999
    //缓存。。。。判别。
    storageCheck(){
      //提取缓存判断注销。
      let vm=this;
      wx.getStorage({//获取本地缓存
        key:"cook",
        success:function(res){
          console.log('getStorage...',res);
          let logout=res.data;
          if(logout){
            vm.checkInfo();
          }else{
            vm.pageShow=true;
          }
        },
        fail:function(err){
          //没有找到缓存
          console.log(err);
          vm.pageShow=true;
        }
      })
    },
    
    //9、测试函数————————————————————————————————
    //socket模拟接口。。。。。后转前
    getMesDemo(){
      let $date=new Date();
      console.log($date);;
      // if(this.stop==true) return false;/////////停止用的测试
      let vm=this;
      wx.request({
        url: 'https://wx.grandacom.cn/api/device/accept_lock_data', 
        data: {
          "appId": "111",
          "deviceId": "18813754002",
          "data": {
            "code": $date,
            "power": 100
          }
        },
        method:"post",
        success: function(res) {
          setTimeout(vm.getMesDemo,2000);
        }
      })
    },
    // logoutAct(){
    //   let vm=this;
    //   wx.request({
    //     method:"GET",
    //     url: vm.$url2+'/api/wechat/logout', //仅为示例，并非真实的接口地址
    //     data: {
    //       "access_token":vm.$store.state.rqToken,
    //     },
    //     success: function(res) {
    //       console.log("success..",res);
    //       if(res.data.code==0){
    //         vm.fns.wxMsgModal("注销成功");
    //         const url = '../../initialize/index/main'
    //         setTimeout(function(){
    //           wx.redirectTo({url})
    //         },2000);
    //       }
    //     },
    //     fail(res){
    //       console.log("fail...",res);
    //     },
    //   })
    // },
  },
  onShow () {
    this.storageCheck();
    // this.checkInfo();

    // this.getMesDemo();
    // console.log(this.yzmNum)
  },
  //去申请会触发
  onHide(){
    // this.deafultData();
    //清除计时器，因为跳转之后计时器会存在，并且数据会变成str继续计时
    clearInterval(this.interval);
    this.deafultData();
  },
  onUnload(){
    // this.deafultData();
    clearInterval(this.interval);
    this.deafultData();
  }
}
</script>

<style scoped>
  .page{
    height:100%;
    box-sizing: border-box;
    /* background-color: #F0F4F3; */
    /* padding:0 20rpx; */
    /* padding-top:200rpx; */
  }
  .get-btn{
    margin-top: 20rpx;
  }
  .title{
    text-align: center;
    margin-bottom: 120rpx;
    color:#000;
  }
  .div{
    padding:0 20rpx;
  }
  .input{
    padding:30rpx;
    margin-bottom: 40rpx;
    background-color: #fff;
    opacity: 1;
  }
  *{
    font-weight: lighter;
  }
  .notification{
    background-color: #23F18D;
    position: fixed;
    top:0;
    width:100%;
    opacity: 0;
  }
  .noti-text{
    text-align: center;
    padding:10rpx 0;
    color:#FEFEFE;
    font-size: 28rpx;
  }
  .notiAct{
    opacity: 1;
    transition: .5s all; 
  }
  /* //通知 */
  
  .notification{
    background-color: #23F18D;
    position: fixed;
    top:0;
    width:100%;
    opacity: 0;
    transition: .5s all; 
  }
  .noti-text{
    text-align: center;
    padding:10rpx 0;
    color:#FEFEFE;
    font-size: 28rpx;
  }
  .notiAct{
    opacity: 1;
    transition: .5s all; 
  }
  .transStyle{
    /* transform: translateX(-999rpx);
    transition-duration: 1.5s;
    transition-property:all;
    transition-delay: .5s; */
    transition: all 3s;
    opacity: 0;
  }
  ._button{
    line-height: 2.5;
    /* width:72%; */
  }
  .page{
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
  }
  /* 改tmd */
  button{
    background:#ED3C3C;
    border-radius:50rpx;
  }
  .content-dv{
    padding:80rpx;
  }
  .header{
    height:200rpx;
    background-color: #F5F5F5;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .title-text{
    padding:36rpx 30rpx;
    border-bottom:6rpx solid #ED3C3C;
    font-size: 52rpx;
    color:#282828;
    display: inline-block;
  }
  .btn-div{
    margin-top: 150rpx;
  }
  .phone-text{
    font-size: 24rpx;
    color:#858585;
  }
  .input-iv{
    border-bottom: 1rpx solid #E8E8E8;
    margin-top: 20rpx;
  }
  .yzm-idv{
    margin-top: 20rpx;
  }
  .yzm-act{
    display: flex;
  }
  .yzm-p{
    font-size: 30rpx;
    padding: 15rpx;
    background-color: #ED3C3C;
    color:#fff;
    width:186rpx;
    margin-left: 10rpx;
    border-radius: 10rpx;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-sizing: border-box; */
  }
  .be-host{
    font-size: 30rpx;
    text-align: center;
    padding:15rpx;
    text-decoration:underline;
    color:#ED3C3C;
  }
  .input-yzm{
    flex-grow: 1;
  }
</style>
