<template>
  <div class="page">
    <div class="main">
      <!-- <div class="meun-top">
        <ul class="menu-ul">
          <li v-for="(item,index) in menuTitle" :key=index class="menu-li" @click="menuOnesAct(index,item)">
            <p class="menu-name" :class="focusIndex==index?'focusSty':''">{{item.name}}</p>
          </li>
        </ul>
        <p class="focus-span" :style="'transform:translateX('+(focusIndex==0?35:(175*(focusIndex))+(35*(focusIndex+focusIndex+1)))+'rpx'"></p>
      </div> -->
      <div class="content-list" :class="dataList.length==0?'none-data':''">
        <div class="content-nodata" v-if="dataList.length==0">
          <img src="/static/img/icon-norecord@3x.png" alt="">
        </div> 
        <ul class="content-ul" v-else>
          <li class="content-li" v-for="(item,index) in dataList" :key=index>
            <p class="list-id normal-sty">{{item.name}}</p>
            <p class="list-type normal-sty">{{item.open_status_str}}</p>
            <p class="list-time time-sty">{{item.time_str}}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import mes from '../../components/socketMes.vue';
export default {
  components: {
    mes,
  },
  data () {
    return {
      focusIndex:0,       //焦点index。。这个还可以充当判断第几页
      page:1,             //页码
      menuTitle:[
        {
          name:"开门记录",
          id:0
        },
        {
          name:"用户记录",
          id:1
        },
        {
          name:"实时数据",
          id:2
        },
      ],
      dataList:[
        {
          fingerprint:1,
          open_status_str:"钥匙",
          time_str:"2018-12-22 14:20:30"
        },
        {
          fingerprint:1,
          type:"钥匙",
          time:"2018-12-22 14:20:30"
        },
      ]
    }
  },
  computed:{
  },
  onPullDownRefresh(){
    console.log("下拉");
    this.getData(this.focusIndex);
  },
  onReachBottom(){
    console.log("上拉");
    this.getData(this.focusIndex,1);
  },
  methods: {
    //设置本地的初始数据展示
    resetData(){
      Object.assign(this.$data, this.$options.data())
    },
    //
    menuOnesAct(index,item){
      let vm=this;
      vm.focusIndex=index;
      console.log(index,item,vm.focusIndex);
      //为了调试zz。。。。(去掉)
      if(item.id!=0) return;
      //是第几页
      vm.option=item.id;
      vm.getData(item.id);
    },
    //option  tab菜单的第几项，对应文档值。如无默认0
    //type    是否为上拉。如果是，page+，最后合并（不能push）；如果否，dataList重置空
    getData(option,type){
      //如果不为空则为option，如果为空则默认
      //默认是0,默认是rest。。。清空数据
      let vm=this,
        dlid=vm.$store.state.dlid;
      option=option||0;
      type=type||0;
      type==0?vm.dataList=[]:vm.page++;
      vm.fns.wxMsgLoad();
      //每一个轻轻都wait一下。。
      setTimeout(wait,1500);
      function wait(){
        let data={
          "dlid":dlid,
          "device_type":0,
          "category":option,
          "p":vm.page,
          "l":15
        };
        vm.$https.ajax(1,"GET","api/device/record",data).then((res)=>{
          console.log('%c [record] RES',"color:red",res);
          wx.hideLoading();
          wx.stopPullDownRefresh();
          let rs=res.data.data;
          //fingerprint,open_status_str,time_str
          if(type==0){
            vm.dataList=rs
            console.log(type,vm.dataList)
          }else{
            vm.dataList=vm.dataList.concat(rs);
            console.log(type,vm.dataList);
          }
        }).catch((err)=>{
          console.log(err);
        })
        // wx.request({
        //   method:"GET",
        //   url: vm.$url2+'api/device/record', //仅为示例，并非真实的接口地址
        //   success: function(res) {
        //     wx.hideLoading();
        //     wx.stopPullDownRefresh();
        //     console.log('%c [record] RES',"color:red",res);
        //     let rs=res.data.data;
        //     //fingerprint,open_status_str,time_str
        //     if(type==0){
        //       vm.dataList=rs
        //       console.log(type,vm.dataList)
        //     }else{
        //       vm.dataList=vm.dataList.concat(rs);
        //       console.log(type,vm.dataList);
        //     }
        //   }
        // })
      }
    },
  },
  onShow () {
    this.getData()
    // console.log('...show');
  },
  onUnload(){
    this.resetData();
    // console.log('...unload');
  },
  onHide(){
    // console.log('...hide');
  }
}
</script>

<style scoped>
  .page{
    min-height:100%;
    /* background-color:#F6F7F8; */
    /* background-color: green; */
    height:100%;
  }
  .main{
    height:100%;
    min-height: 100%;
    /* background-color: yellow; */
  }
  .focusSty{
    color:#EC2727
  }
  .menu-name{
    font-size: 34rpx;
    padding:40rpx 20rpx;
    /* margin:0 34rpx; */
  }
  /* 下划线 */
  .focus-span{
    height:5rpx;
    background-color:#EC2727;
    width:175rpx;
    transition: .5s all;
    /* transform: translateX(35rpx); */
    transition-timing-function:ease-out;
  }
  .meun-top{
    background-color:#fff;
    border-top: 1px solid #E5E5E5;
  }
  .menu-ul,.content-li{
    display:flex;
  }
  .content-li{
    justify-content:space-between;
    padding:40rpx 35rpx;
    border-bottom: 1px solid #D2D2D2;
    background-color: #fff;
    /* margin-bottom: 20rpx; */
  }
  .time-sty{
    font-size: 24rpx;
    color:#B5B5B5;
  }
  .normal-sty{
    font-size: 30rpx;
  }
  .content-list{
    margin-top: 20rpx;
  }
  .menu-li{
    padding:0 35rpx;
  }
  .main{
    display: flex;
    flex-direction: column;
  }
  .none-data{
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
  }
  .content-nodata{
    /* width:88rpx;
    height:78rpx; */
    /* position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%) */
  }
  .content-nodata img{
    width:88rpx;
    height:78rpx;
  }
  .page,.main{
    /* height:auto; */
  }
</style>