<template>

</template>

<script>
  import {getPasswordListByDeviceId} from '../../https/api'

  export default {
    components: {

    },
    data() {
      return {

      }
    },
    computed: {
      //设备id
      deviceId() {
        return this.$store.state.dlid;
      },
      //兼容旧逻辑
      dlid() {
        return this.deviceId;
      },
      isScroll() {
        return false;
      }
    },
    methods: {

      //跳转到新增页面
      goToAddPasswordPage() {
        console.log('新增');
      },

      //4、请求函数————————————————————————————————
      //获取密码,(随机，临时密码)............add
      getPassword() {
        let vm = this,
          $passwordType = "4";
        // vm.customModal=false;
        vm.fns.wxMsgLoad();
        // console.log('[IDINFO] GET Pasw ARG',vm.idInfo.deviceId,vm.date,vm.day);
        let data = {
          "dlid": vm.dlid,
          "pwd_type": $passwordType,
          "action": "add",
          "super_pwd": vm.$store.state.superPsw,
          "old_pwd": "",
          "new_pwd": "",
          "length": 8,
          "effective_time": vm.date + " 00:00:00",
          "effective_count": vm.day,
        };
        vm.$https.ajax(1, "POST", "api/device/edit_pwd", data).then((res) => {
          wx.hideLoading();
          console.log('[PSW-LIST] edit_pwd  RES', res)
          vm.lsText = true;
          vm.code = res.data.password;
          setTimeout(vm.getPaswList, 1500);
        }).catch((err) => {
          console.log(err);
        })
      },
      delPaswModal(item) {
        this.addBtnShow = false;
        this.addBtnShowPer = false;
        let vm = this;
        this.paswInfo = item;
        console.log('[PASW-LIST] DEL Modal Pasw', item);
        wx.showModal({
          title: '警告',
          content: '确定删除密码?',
          success: function (res) {
            if (res.confirm) {
              vm.delPaswAct('delete');
            } else if (res.cancel) {
              console.log('cancel delete');
              vm.hideAlldata();
              vm.getPaswList();
            }
          }
        })
      },
      //delete request.......All action.......
      delPaswAct(arg) {
        let vm = this,
          paswType = 0;
        vm.fns.wxMsgLoad();
        vm.paswInfo.effectiveStr == '永久' ? paswType = 2 : paswType = 4;
        console.log('[PASW-LIST] DelPasw ARG', arg, vm.dlid, vm.paswInfo.password)
        wx.request({
          method: "POST",
          url: vm.$url2 + 'api/device/edit_pwd',
          data: {
            "access_token": vm.$store.state.rqToken,
            "dlid": vm.dlid,
            "pwd_type": paswType,
            "action": arg,
            "super_pwd": vm.$store.state.superPsw,
            "old_pwd": vm.paswInfo.password,
            "new_pwd": "",
            "length": 8,
          },
          success: function (res) {
            wx.hideLoading();
            console.log('[PASW-LIST] DelPasw Act RES', res);
            let $mes = res.data.errMsg;
            if (res.data.errCode == 0) {
              wx.showToast({
                title: $mes,
                icon: 'success',
                duration: 1500
              })
            } else {
              wx.showToast({
                title: $mes,
                icon: 'none',
                duration: 2000
              })
            }
            //重新获取密码列表信息
            setTimeout(vm.hideAlldata, 2000);
            setTimeout(vm.getPaswList, 2000);
          }
        })
      },

      getPasswordList() {
        const vm = this;
        getPasswordListByDeviceId(vm.deviceId).then((passwords) => {
          vm.list = passwords;
        });
      },
      //修改密码
      setNewPasw() {
        let vm = this,
          paswType = 0;
        vm.fns.wxMsgLoad();
        vm.paswInfo.effectiveStr == '永久' ? paswType = 2 : paswType = 4;
        vm.paswInfo.password == "" ? vm.paswInfo.password = '0000' : '';
        // console.log('[PASW-LIST] ChangPasw ARG (dlid,newperPasw,paswInfo.password)',vm.dlid,vm.newperPasw,vm.paswInfo.password)
        wx.request({
          method: "POST",
          url: vm.$url2 + 'api/device/edit_pwd', //仅为示例，并非真实的接口地址
          data: {
            "access_token": vm.$store.state.rqToken,
            "dlid": vm.dlid,
            "pwd_type": paswType,
            "action": "change",
            "super_pwd": vm.$store.state.superPsw,
            "old_pwd": vm.paswInfo.password,
            "new_pwd": vm.lvInput,
            "length": 4,
          },
          success: function (res) {
            wx.hideLoading();
            console.log('[set PASW] ChangePasw RES', res);
            let $mes = res.data.errMsg;
            if (res.data.errCode == 0) {
              wx.showToast({
                title: res.data.errMsg,
                icon: 'none',
                duration: 2500
              })
              //2秒后自动关闭该窗口。
              setTimeout(vm.hideAlldata, 2000);
              setTimeout(vm.getPaswList, 2000);
            } else {
              wx.showToast({
                title: $mes,
                icon: 'none',
                duration: 2500
              })
            }
          }
        })
      },

      initialize() {

      },
      //监听本页面的socket获取情况来获取新的列表信息
      uploadMes() {
        this.$bus.$on('socketMes', (mes) => {
          this.getPasswordList();
        })
      },
      //设置永久密码    //////
      setPassword(temp) {
        let vm = this,
          passwordType = "2";
        // vm.customModal=false;
        // if(temp) $passwordType=4
        vm.fns.wxMsgLoad();
        console.log(vm.idInfo);
        // console.log('[IDINFO] PerPasw ARG',vm.idInfo.deviceId,vm.perPasw);
        wx.request({
          method: "POST",
          url: vm.$url2 + 'api/device/edit_pwd',
          data: {
            "access_token": vm.$store.state.rqToken,
            "dlid": vm.dlid,
            "pwd_type": passwordType,
            "action": "add",
            "super_pwd": vm.$store.state.superPsw,
            "new_pwd": vm.lvInput,
            "length": 8,
            "old_pwd": "",
            "effective_count": 255255,
            "effective_time": "2018-12-30 23:59:59"
          },
          success: function (res) {
            wx.hideLoading();
            console.log('[IDINFO] PerPasw RES', res.data)
            let $mes = res.data.errMsg;
            // if(res.data.code=='') vm.code="获取密码出错,获取日期重复的密码已超过3次";
            if (res.data.errCode == 0) {
              wx.showToast({
                title: '设置成功',
                icon: 'success',
                duration: 2000
              })
              setTimeout(vm.modalToHidePer, 2000);//这个是false
            } else {
              wx.showToast({
                title: $mes,
                icon: 'none',
                duration: 2000
              })
            }
          }
        })
      },
    },
    // 假装是created===onload
    onShow() {
      // this.hideVariate();
      this.getPasswordList();
      this.uploadMes();
    },
    onUnload() {
      this.hideAlldata();
    },
  }
</script>

<style scoped>
  .list-page {

  }

  .list-item {
    position: relative;
    height: 200rpx;
    width: 100%;
  }

  .list-item movable-area {
    width: 1150rpx;
    position: absolute;
    right: 0;
    height: 100%
  }

  .list-item movable-view {
    height: 100%;
    width: 750rpx;
    position: absolute;
    right: 0;
  }

  .list-item .operation {
    height: 100%;
    width: 400rpx;
    position: absolute;
    right: 0;
  }

  .list-item .operation div {
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;
    color: #FFFFFF;
    line-height: 200rpx;
  }

  .list-item .item-content {
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    background: #F6F7F8;
    font-size:32rpx;
    padding-top: 20rpx;
  }

  .list-item .item-content .content-right div {
    font-size: 28rpx;
  }

  .list-item .item-content .content-right div.password {
    font-size: 32rpx;
    color: #000000;
  }

  .list-item .item-content div {
    padding-left: 20rpx;
  }

  .list-item .item-content .p-status {
    position: absolute;
    top: 30rpx;
    right: 30rpx;
    font-size: 25rpx;
  }

  .content-left {
    float: left;
    width: 30rpx;
  }

  .content-right {
    float: left;
  }

  .disable {
    color: #959595;
  }

</style>
