<template>
  <div class="page"  :class="{overHide:isScroll}">
    <div class="main">
      <div class="add-btns yj-pw" @click="numAdd" v-if="numBtnShow">
        <!-- <img src="/static/img/icon_add@3x.png" alt=""> -->
        <button type="primary" class="btn-sty btn-margin" :plain="onceBtn">通过卡号添加</button>
      </div>
      <div class="add-btns ls-pw" @click="interactiveAdd" v-if="interactiveAddShwo">
        <button type="primary" class="btn-sty" :plain="onceBtn">交互添加</button>
      </div>
      <!-- 临时遮罩 -->
      <div class="modal-big" v-if="numCardModal" @click="numCardHide"></div>
      <!-- 内容 -->
      <div class=" picker-div picker600"  v-if="numCardModal">
        <div class="picker-modal">
          <p class="modal-tit">添加门卡</p>
          <!-- tab.... -->
          <!-- <div class="checkboxTimeDate">
            <div class="radioEm" v-for="(item,index) in effective" :key=index @click="effectiveSele(index)">
              <div class="radius"></div>
              <p class="radio-text">{{item.value}}</p>
            </div>
          </div> -->
          <!-- <view class="section" v-if="dateShow"> -->
          <view class="section effective-num" >
            <p class="card-modal-text sele-text">门卡号码：</p>
            <input class="lv-input" v-model="lvInput" maxlength=12/>
          </view>
          <view class="section" >
            <picker mode="date" :value="date" :start="dateStart" @change.stop="bindDateChange" class="pick-pad26">
              <view class="picker">
                <p class="sele-text">有效日期：</p>
                <div class="sele-dv">
                  <p class="select-light">{{date}}</p>
                </div>
              </view>
            </picker>
          </view>
          <view class="section effective-num">
            <p class="sele-text">有效次数：</p>
            <input v-model="day" class="input-num"/>
            <!-- <picker :value="date" @change="bindDayChange" :range="array" >
              <view class="picker">
                <p class="sele-text">有效次数：</p>
                <div class="sele-dv">
                  <p class="select-light">{{day}}</p>
                </div>
              </view>
            </picker> -->
          </view>
        </div>
        <button type="warn" size bindtap="warn" class="btn80" @click="addCardAct">添加门卡</button>
      </div>
    </div>
    <mes></mes>
  </div>
</template>

<script>
import mes from '../../components/socketMes.vue';
export default {
  data () {
    return {
      //new this.....
      numBtnShow:false,        //
      interactiveAddShwo:true,
      lvInput:'',           //12个数字  //重置cz
      date:"",
      dateStart:'',         //限定开始
      array:[],
      day:1,                //密码参数，填入数据

      // modal
      isPerPasw:false,       //永久
      
      //永久data
      isFocus:false,
      isIndex:0,            //焦点初始位置//重置

      x:0,
      movableX:427,
      touchStartEnd:[],

      isScroll:false,       //控制page能不能滑动（overflow）
      isChange:false,       //控制changeModal........
      isDel:false,          //控制delModal(f)
      encryptionData:true,  //默认隐藏
      passwordList:[],      //for list
      pwtemList:[],
      newperPasw:'',        //新密码
      paswInfo:'',
      deviceIdInfo:'',
      lvInput:'',           //8个数字//重置
      isFocus:false,
      isIndex:0,            //焦点初始位置//重置
      notification:'',
      notiData:false,

      numCardModal:false,
      date:"",
      dateStart:'', //限定开始
      array:[],
      day:1,        //密码参数，填入数据
      lsText:false,
      code:"",
      interactiveAddShwo:true,
      numBtnShow:true,
      effective:[
        {value:"时间有效"},
        {value:"次数有效"},
      ],
      dateShow:true,
      normalList:[],  //区分可用和不可用密码列表。。。0716
      disabledArr:[],
    }
  },
  components: {
    mes,
  },
  computed:{
    lvInputTest(){
      return this.lvInput.split(''); 
    }
  },
  methods: {
    // 判断是时间有效还是次数有效。
    effectiveSele(arg){
      switch(arg){
        case 0:
          this.dateShow=true;
          break;
        case 1:
          this.dateShow=false;
          berak;
      }
    },
    // 密码modal.........
    modalToHide(){
      this.numCardModal=false;
      this.day=1;
      this.date="";
      this.code="";
      // this.modalToHide=false;
      this.lsText=false;
      this.interactiveAddShwo=true;
      this.numBtnShow=true;
      this.isScroll=false;
    },
    
    //获取密码,(随机，临时密码)............add
    getPassword(){
      let $this=this,
        $passwordType="4";
      // $this.numCardModal=false;
      //loading.....
      this.loadSysModal();
      // console.log('[IDINFO] GET Pasw ARG',$this.idInfo.deviceId,$this.date,$this.day);
      // this.dateShow===true?effective_count=
      wx.request({
        method:"POST",
        url: $this.$url2+'api/device/edit_pwd', 
        data: {
          "access_token":$this.$store.state.rqToken,
          "device_id": $this.deviceIdInfo,
          "pwd_type":$passwordType,
          "action":"add",
          "supper_pwd":$this.$store.state.id.supperPwd,
          "new_pwd":"",
          "length":8,
          "effective_time":$this.date+" 00:00:00",
          "effective_count":$this.day,
          "old_pwd":"",
        },
        success: function(res) {
          wx.hideLoading();
          console.log('[IDINFO] GET Pasw  RES',res)
          let $mes=res.data.errMsg;
          if(res.data.errCode===0){
            $this.lsText=true;
            $this.code=res.data.password;
          }
          else{
          }
          wx.showToast({
            title: $mes,
            icon: 'none',
            duration: 2000
          })
        }
      })
    },
    //时间选择
    bindDateChange: function (e) {
      // mpvue的封装e。e.mp.xx
      // console.log(e);
      // console.log('picker发送选择改变，携带值为', e.mp.detail.value)
      this.date=e.mp.detail.value;
    },
    bindDayChange: function (e) {
      // console.log(e);
      // console.log('picker发送选择改变，携带值为', e.mp.detail.value)
      this.day=this.array[e.mp.detail.value];
    },
    //没想到会用你那么多啊。。。
    loadSysModal(){
      wx.showLoading({
        title: '加载中',
      })
    },
    //控制修改新密码.数据初始化.....关闭
    showPaswModal(item){
      this.interactiveAddShwo=false;
      this.numBtnShow=false;
      this.isScroll=true;
      this.isChange=true;
      this.paswInfo=item;
      console.log('[PASW-LIST] Item....a cute background style...',item);
    },
    //在最后必须确保有一个取消数据和modal的方法
    hideAlldata(){
      this.isScroll=false;
      this.isChange=false;
      this.newperPasw='';
      this.paswInfo='';
      this.lvInput='';
      this.isIndex=0;
      this.passwordList=[]; //这个也要清空。。
      this.pwtemList=[];
      this.interactiveAddShwo=true;
      this.numBtnShow=true;
    },
    //可能是不需要的？或者说不需要那么多。
    //paswList不关闭......点击遮罩
    hideAlldataNotPasw(){
      this.isScroll=false;
      this.isChange=false;
      this.newperPasw='';
      this.paswInfo='';
      this.lvInput='';
      this.isIndex=0;
      this.interactiveAddShwo=true;
      this.numBtnShow=true;
    },
    //本地测试数据。。。。关乎一个双向响应的数据获取
    // hideVariate(){
    //   let mmp=[
    //     {
    //       pwName:'008',
    //       password:'12333333',
    //       addTime:'2000-00-00 00:00:00',
    //       validTime:'2000/00/00-2000/00/01',
    //       type:'1',
    //     },
    //     {
    //       pwName:'008',
    //       password:'123333332',
    //       addTime:'2000-00-00 00:00:00',
    //       validTime:'99次',
    //       type:'0',
    //       // encryptionData:false,
    //     },
    //   ]
    //   for(let i=0;i<mmp.length;i++){
    //     mmp[i].encryptionData=true;
    //     console.log(mmp);
    //   }
    //   this.passwordList=mmp;
    //   // this.passwordList.map(v => (v["node"] = "node", v))
    //   // console.log(this.passwordList);
    // },
    //获取密码列表信息（在每次操作之后都需要获取新的信息
    getPaswList(){
      this.loadSysModal();
      let $this=this;
      $this.deviceIdInfo=$this.$store.state.id.deviceId;
      // console.log('[PASW-LIST] PaswList ARG (deviceIdInfo,)',$this.deviceIdInfo);
      wx.request({
        url: $this.$url2+'api/device/get_lock_pwd_lists', //仅为示例，并非真实的接口地址
        data: {
          "access_token":$this.$store.state.rqToken,
          "device_id":$this.deviceIdInfo,
          "pwd_type":0,
        },
        success: function(res) {
          console.log(res);
          wx.hideLoading();
          // console.log('list-data RDD',res.data.data);
          let $data=res.data.data;
          let disabledArr=[];
          $this.normalList=[];
          $data.map(function(item){
            item.encryptionData=true;
            item.movableX=427;
            //已更新和正常不在这里。。。为毛
            if(item.statusCode===1||item.statusCode===2||item.statusCode===3||item.statusCode===5||item.statusCode===6){
              item.disabled=true;
              disabledArr.push(item);
              $this.disabledArr=disabledArr;
            }
            else{
              $this.normalList.push(item);
            }
          })
          // for(let i=0;i<$data.length;i++){
          //   $data[i].encryptionData=true;//这个只在[i]里面设了，$data没有
          //   $data[i].movableX=427;
            // if($data[i].typeStr=='管家密码'){
            //   $this.passwordList.push($data[i]);//在关管家密码只有一个的情况下考虑
            //   // $this.chajiArr($this.passwordList,$data);
            //   let arr=$this.chajiArr($this.passwordList,$data)
            //   arr.forEach((item) => {
            //     item.encryptionData=true;
            //     console.log(item);
            //   })
            //   $this.pwtemList=arr;
            // }
          // }

          $this.passwordList=$data;
          console.log('[PASW-LIST] PaswList (All Action)',$data,$this.passwordList,$this.pwtemList);
        }
      })
    },
    // 临时密码modal显示，设置默认值.................
    showModalFun(){
      this.isScroll=true;
      this.interactiveAddShwo=false;
      this.numBtnShow=false;
      // 这里设置modal为true,并且给一个默认值
      let $this=this,
          date=new Date();
      // console.log(date);
      this.numCardModal=true;
      //处理日期
      this.date=this.formatTime(date);
      console.log(this.date);
      this.dateStart=date.getFullYear()+"-01-01"
      console.log(this.dateStart)
      for(let i=1;i<32;i++){
        this.array.push(i);
      }
      // console.log(this.array);看1-31有没有写错
    },
    // 时间处理方案
    formatTime (date) {
      const year = date.getFullYear()
      let month = date.getMonth() + 1
      let day = date.getDate()
      if(month<10){month="0"+month;}
      if(day<10){day="0"+day;}

      const hour = date.getHours()
      const minute = date.getMinutes()
      const second = date.getSeconds()

      // const t1 = [year, month, day].map($this.formatNumber).join('/')
      const t1=year+'-'+month+'-'+day;
      return t1;
    },
    // 初始化数据值........
    initialize(){
      this.isChange=false;
    },
    //监听本页面的socket获取情况来获取新的列表信息
    uploadMes(){
      this.$bus.$on('socketMes',(mes)=>{
        console.log("getList..")
        this.getPaswList();
      })
    },
    touchFunction(item,e){
      // console.log(item,e);
      if(e.mp.detail.source=="touch"||e.mp.detail.source=="out-of-bounds"){
        // console.log(e.mp.detail.source);
        let $data=this.touchStartEnd;
        $data.push(e.x);
        // x-427.....0是尽头
        if($data[$data.length-1]-$data[$data.length-2]<0){
          item.movableX=0;
          // console.log('左')
        }
        else if($data[$data.length-1]-$data[$data.length-2]>0){
          item.movableX=234;
          // console.log('右');
        }
      }
    },
    //button...........indexs
    btnIndexWay(index,item){
      switch(index){
        //启用
        case 0:
          break;
        //冻结
        case 1:
          this.freezePaswModal(item);
          break;
        //删除
        case 2:
          this.delPaswModal(item);
          break;
        //编辑
        case 3:
          this.showPaswModal(item);
          break;
      }
    },
    //设置永久密码    //////
    setPassword(temp){
      let $this=this,
        passwordType=2;
      // $this.numCardModal=false;
      // if(temp) $passwordType=4
      this.loadSysModal();
      console.log($this.idInfo);
      // console.log('[IDINFO] PerPasw ARG',$this.idInfo.deviceId,$this.perPasw);
      wx.request({
        method:"POST",
        url: $this.$url2+'api/device/edit_pwd', 
        data: {
          "access_token":$this.$store.state.rqToken,
          "device_id":$this.deviceIdInfo,
          "pwd_type":passwordType,
          "action":"chang",
          "supper_pwd":$this.$store.state.id.supperPwd,
          "new_pwd":$this.lvInput,
          "lengtg":8,
          "old_pwd":"00001111",
        },
        success: function(res) {
          wx.hideLoading();
          console.log('[IDINFO] PerPasw RES',res.data)
          let $mes=res.data.errMsg;
          // if(res.data.code=='') $this.code="获取密码出错,获取日期重复的密码已超过3次";
          if(res.data.errCode==0){
            wx.showToast({
              title: '设置成功',
              icon: 'success',
              duration: 2000
            })
            setTimeout($this.modalToHidePer,2000);//这个是false
          }else{
            wx.showToast({
              title: $mes,
              icon: 'none',
              duration: 2000
            })
          }
        }
      })
    },
    //perpasw 
    // 永久遮罩
    modalToHidePer(){
      this.isPerPasw=false,
      // this.perPasw='';
      this.interactiveAddShwo=true;
      this.numBtnShow=true;
      this.lvInput='';
      this.isIndex=0;
      this.isFocus=false;
    },

    //newsssssssssssssssssssssssssssssssssssssssss
    //号码添加
    numAdd(){
      //modal
      this.numCardModal=true;
      //btn
      this.interactiveAddShwo=false;
      this.numBtnShow=false;
    },
    //交互添加
    interactiveAdd(){
      let $this=this;
      this.loadSysModal();
      wx.request({
        method:"POST",
        url: $this.$url2+'api/device/interactive', 
        data: {
          "access_token":$this.$store.state.rqToken,
          "dlid": $this.$store.state.id.deviceId,
          "device_type":0,
          "action":1,
          "super_pwd":$this.$store.state.id.supperPwd,
          "category":0,
          "role_type":1,
          //这个是假的，需要。。。问一下
          "effective_time":"2018-12-23 18:59:00",
          "effective_count":255255,
        },
        success: function(res) {
          wx.hideLoading();
          console.log('[CARDLIST] interactive  RES',res)
          let $mes=res.data.msg;
          // if(res.data.errCode===0){
          // }
          // else{
          // }
          wx.showToast({
            title: $mes,
            icon: 'none',
            duration: 2000
          })
        }
      })
    },
    //点击遮罩
    numCardHide(){
      this.numCardModal=false;
      // 数据重置
      this.date="",
      this.day=1;
      //
      this.interactiveAddShwo=true;
      this.numBtnShow=true;
    },
    //
    addCardAct(){
      wx.showToast({
        title: "功能尚未完善",
        icon: 'none',
        duration: 3000
      })
    },
  },
  // 假装是created===onload
  onShow () {
    // this.hideVariate();
    // this.loadSysModal();
    // this.getPaswList();
    this.interactiveAddShwo=true;
    this.numBtnShow=true;
    this.uploadMes();
  },
  onUnload(){
    this.hideAlldata();
    this.modalToHide(); //密码modal
  },
}
</script>

<style scoped>
  .pick-pad26{
    padding:26rpx;
  }
  .pick-pad26 .picker{
    padding:0;
  }
  /* image{
    width:auto;
    height:auto;
  } */
  .show-icon{
    width:30rpx;
    height:30rpx;
    margin-right: 35rpx;
  }
  .password-name{
    font-size: 34rpx;
    color:#333333;
    line-height: 0;
    font-family: SourceHanSansCN;
    font-weight: bold;
  }
  /* icon的透明层度 */
  .showTrans{
    opacity: .7;
  }
  .password{
    font-size: 34rpx;
    color:#282828;
    line-height: 0;
    font-family: ArialMT;
  }
  .password-detail p{
    color:#858585;
    font-size: 26rpx;
    font-family: SourceHanSansCN;
  }
  .pw-list,.pwtem-list{
    margin:0 40rpx;
  }
  .pw-info{
    padding:40rpx 0;
    border-bottom: 1rpx solid #D2D2D2;
  }
  .top{
    margin-bottom: 25rpx;
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  .encryption{
    margin-bottom: 30rpx;
    display:flex;
    /* background: red; */
    align-items:center;
  }
  .password-detail{
    margin-left:70rpx;
  }
  .add-time{
    margin-bottom: 20rpx;
  }
  .modal-big{
    position: absolute;
    bottom:0;
    top:0;
    left:0;
    right:0;
    background-color: rgba(0,0,0,.5);
  }
  /* modal */
  .picker-div{
    border-radius: 30rpx;
    /* border-bottom-right-radius: 10rpx; */
    padding:40rpx 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
    background-color: #fff;
    width:600rpx;
    /* border:1px solid #000; */
  }
  .modal-tit{
    font-size: 40rpx;
    padding-bottom: 44rpx;
    text-align: center;
    border-bottom:1rpx solid #D2D2D2;
  }
  .introduce-mes{
    font-size: 26rpx;
    color:#858585;
    margin-top: 95rpx;
  }
  .per-pw-once{
    padding:10rpx 10rpx;
    background-color: #E8E8E8;
    color:#282828;
    font-size: 48rpx;
    margin-right: 5rpx;
    text-align: center;
    height:88rpx;
    min-height: 88rpx;
    line-height: 88rpx;
  }
  .llpw-btn{
    /* width:70%; */
    border-radius: 50rpx;
    margin-top:30rpx;
    font-size: 34rpx;
  }
  .picker-modal2{
    padding:40rpx;
  }
  .per-pw-tit{
    padding:0;
    margin-bottom: 55rpx;
    border:none;
    font-weight: bold;
  }
  .per-pw-mes{
    margin:0;
    margin-bottom: 24rpx;
  }
  .per-pw-btn{
    margin-top:57rpx;
  }
  .action{
    display:flex;
    /* flex-direction: column; */
    align-items: center;
  }
  img{
    display: block;
  }
  .nullInfoText{
    font-size: 26rpx;
    color:#858585;
    text-align: center;
    margin-top: 40rpx;
  }
  .overHide{
    overflow: hidden;
  }
  .page{
    height:100%;
  }
  /* .main{
    height:9999rpx;
  } */
  /* lovely-input */
  .lvul{
    display:flex;
    justify-content: space-between;
    /* margin-top:-102rpx;      */
    /* height:98rxp !important; */
    /* width:100%; */
    /* 这个宽给了就不自动拿宽和间隔了 */
    /* box-sizing: border-box; */
  }
  .lvli{
  }
  .lvspan{
    font-size: 40rpx;
    width:65rpx !important;
    height:98rpx;
    background-color: #E8E8E8;
    align-items:  center;
    justify-content: center;
    display:flex;
  }
  /* input.lv-input{
    height:1rpx;
    overflow: hidden;
    min-height: 1rpx;
    background-color: transparent;
    color: transparent;
    width:1rpx;
    box-sizing: border-box;
    margin-bottom: 98rpx;
    margin-left:-100%;
  } */
  .lovely-btn{
    overflow: hidden;
  }
  .activeBoder{
    border:1rpx solid #09bb07;
  }
  /* 列表 */
  .pw-list{
    /* background:#E8E8E8; */
    /* height:900px; */
    padding-top:1rpx;
    /* 加上这个就好了 */
  }
  .pw-info{
    /* background:#fff; */
    /* border:1px solid #E8E8E8; */
    /* box-shadow: 5px 5px 10px #E8E8E8; */
    /* border-radius:10px; */
    margin-top:10rpx;
    padding:40rpx 20rpx;
  }
  /* 关于2个action图标 */
  .pw-info{
    position: relative;
  }
  .del-icon{
    position:absolute;
    bottom:40rpx;
    right:20rpx;
  }
  /* test */
  .test{
    position: relative;
  }
  .test-info{
    position: absolute;
    top:40rpx;
    right:35rpx;
    left:35rpx;
    margin:0;
  }
  .pwtem-list{
    margin-top:30rpx;
    margin-bottom: 20rpx;
  }
  /* 背景,min-height */
  .main{
    height:100%;
  }
  .all-list{
    min-height:100%;
    /* background-color: #D2D2D2; */
  }
  /*  */
  .yours{
    width:5rpx;
    height:20rpx;
    background-color: gold;
    position: absolute;
  }
  /* //通知 */
  
  .notification{
    background-color: #23F18D;
    position: fixed;
    top:0;
    width:100%;
    opacity: 0;
    transition: .5s all; 
  }
  .noti-text{
    text-align: center;
    padding:10rpx 0;
    color:#FEFEFE;
    font-size: 28rpx;
  }
  .notiAct{
    opacity: 1;
    transition: .5s all; 
  }
  /* 4位数的样式。 */
  .picker-div{
    width:400rpx;
  }
  .lvspan{
    box-sizing: border-box;
    width:95rpx;
  }
  .per-pw-btn{
    line-height: 2;
    width:60%;
  }
  /* end */
  .add-btn{
    /* width:50rpx; */
    height:50rpx;
    padding:25rpx;
    /* position: fixed; */
    /* bottom:100rpx;
    right:100rpx; */
    /* border:1rpx solid #000; */
    /* border-radius:50%; */
    border-radius:50rpx;
    bottom:50rpx;
    background:rgba(255,255,255,1);
    /* border-radius:20px; */
    box-shadow:6rpx 0 22rpx rgba(151,151,151,0.12);
    border:1rpx solid rgba(151,151,151,0.12);
  }
  .add-btn img{
    width:100%;
    height:100%;
  }
  .ls-pw{
    right:50rpx;
  }
  .yj-pw{
    left:50rpx;
  }
  /* 添加临时密码样式 */
  .modal-big{
    position: absolute;
    bottom:0;
    top:0;
    left:0;
    right:0;
    background-color: rgba(0,0,0,.5);
  }
  /* modal */
  .picker-div{
    border-radius: 30rpx;
    /* border-bottom-right-radius: 10rpx; */
    padding:40rpx 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
    background-color: #fff;
    width:600rpx;
    /* border:1px solid #000; */
  }
  .picker-modal{
    /* border-bottom:1px solid red; */
    padding:0 40rpx;
  }
  .picker-modal2{
    padding:40rpx;
  }
  .modal-tit{
    font-size: 40rpx;
    /* padding-bottom: 44rpx; */
    text-align: center;
    /* border-bottom:1rpx solid #D2D2D2; */
    font-weight: bold;
  }
  .section{
    border-bottom:1rpx solid #D2D2D2;
  }
  /* select */
  .picker{
    padding: 13rpx;
    background-color: #FFFFFF;
  }
  /* 修改默认picker */
  .picker{
    /* text-align: center; */
    display:flex;
    /* padding:16rpx; */
    align-items:center;

  }
  .sele-text{
    font-size: 30rpx;;
  }
  .sele-dv{
    display:flex;
    justify-content:center;
    flex-grow:1;
  }
  p.select-light{
    color:#09bb07;
  }
  .llpw-btn{
    width:60%;
    border-radius: 50rpx;
    margin-top:30rpx;
    font-size: 34rpx;
  }
  .get-pw-dv{
    padding:0 40rpx;
  }
  p.introduce-mes{
    font-size: 26rpx;
    color:#858585;
    margin-top: 15rpx;
  }
  .pw-dv{
    padding:30rpx 0;
    width:100%;
    background-color: #E8E8E8;
    text-align: center;
    margin-top: 22rpx;
  }
  .pw-text{
    font-size: 48rpx;
    color:#282828;
  }
  /*  */
  .pw-info:last-child{
    margin-bottom:40rpx;
  }
  /* 设计图0.01 */
  .pw-info{
    /* background:rgba(255,255,255,1);
    border-radius:20rpx;
    box-shadow:6rpx 0 22rpx rgba(151,151,151,0.12); */
  }
  /* 时间次数有效。。 */
  .checkboxTimeDate{
    display:flex;
    justify-content: space-between;
    font-size: 32rpx;
    padding:26rpx;
  }
  .radioEm{
    display:flex;
    align-items: center;
  }
  .radius{
    width:20rpx;
    height:20rpx;
    box-sizing: border-box;
    background-color:#09bb07;
    /* border:1rpx solid #09bb07 */
    /* background-color:#09bb07;  */
    margin-right: 10rpx;
  }
  .greenBg{
    background-color:#09bb07;
  }
  .effective-num{
    padding:26rpx;
    display: flex;
    align-items: center;
  }
  .sele-text{
    font-size: 30rpx;
    width:220rpx;
  }
  .input-num{
    text-align: center;
    color:#09bb07;
  }
  .page{
    border-top: 1rpx solid #D2D2D2;
  }
  img{
    width:100%;
    height:100%;
  }
  /* 滑块样式 精髓版*/
  .operLi{
    width:72rpx;
    height:72rpx;
    box-sizing: border-box;
    margin-right:20rpx;
    /* background-color: #fff;
    border-radius: 25%; */
    background-color:#fff;
    border-radius:50%;
    padding:15rpx;

  }
  movable-area{
    height:270rpx;
    width:calc(100% + 335rpx + 92rpx);
    background-color:#F0F0F0;
    overflow: hidden;
    box-sizing: border-box;
    /* right:427rpx; */
    transform:translateX(-427rpx);
    /* position: absolute; */


  }
  movable-view{
    height:270rpx;
    width:calc(100% - 335rpx - 92rpx);
    background-color: #fff;
    padding:35rpx 20rpx;
    box-sizing:border-box;

  }
  .pw-info-new{
    border-bottom:1rpx solid #D2D2D2;
    overflow: hidden;
  }
  .act-img{
    width:40rpx;
    height:40rpx;
    margin-right: 15rpx;
  }
  img{
    width:100%;
    height:100%;
  }
  .act-text{
    font-size: 26rpx;
    color:#282828;
    font-family: SourceHanSansCN;
  }
  .add-time,.valid-time{
    height: 27rpx;
    line-height: 27rpx;
  }
  .operationBtn{
    position: absolute;
    right:0;
    width:calc(335rpx + 92rpx);
    align-items: center;
    justify-content: center;
    top:0;
    bottom:0;
    display: flex;
  }
  .operUl{
    display: flex;
  }
  .operLi:last-child{
    margin: 0;
  }
  /* 不可再操作 */
  .disabledSty{
    opacity: .4;
  }
  .statusColor-del{
    color:#FF4545;
  }
  .statusColor-fro{
    color:#05B1FF;
  }
  .statusColor-upd{
    color:#3D64E0;
  }
  .statusColor-edi{
    color:#F99842;
  }
  .main{
    padding:20% 10%;
  }
  .btn-sty{
    height:100rpx;
    display:flex;
    align-items:center;
    justify-content:center;
    /* border-radius:50rpx; */
    width:80%;
  }
  .btn-margin{
    margin-bottom: 20rpx;
  }
  .btn80{
    width:80%;
    margin-top:30rpx;
  }
</style>
