<template>
  <div class="main">
    <div class="user-info" @click="goUserInfo">
        <div class="user-img">
          <open-data type="userAvatarUrl"></open-data>
          <!-- <img src="/static/img/my-ava@3x.png" alt=""> -->
        </div>
        <div class="user-name">
          <open-data type="userNickName" class="name-text"></open-data>
        </div>
    </div>
    <!-- MenuList -->
    <div class="menu-list">
      <!-- <div class="info-menu" v-for="(item,index) in deviceMenuList" :class="{menuBorder:index==0}" @click="menuOnesAct(index)"> -->
      <div class="info-menu" v-for="(item,index) in menuList" @click="menuOnesAct(item)" :key="index">
        <img :src="item.menuImg" alt="" class="menu-img">
        <div class="list-bordv"  >
          <p>{{item.menuName}}</p>
          <div class="info-detail">
            <!-- <p>{{item.menuDetail}}</p> -->
            <image src="/static/img/icon.png" alt="" class="menu-icon"></image>
          </div>
        </div>
      </div>
    </div>
    <div class="menuLink">
      <ul>
        <li @click="goIndex">
          <image src="/static/img/NavIcon02.png" alt=""></image>
        </li>
        <li >
          <image src="/static/img/NavIcon03a.png" alt=""></image>
        </li>
      </ul>
    </div>
    <mes></mes>
  </div>
</template>

<script>
import mes from '../../../components/socketMes.vue';
export default {
  components: {
    mes,
  },
  data () {
    return {
      menuList:[
        {
          menuImg:'/static/img/my-installinfo@3x.png',
          menuName:'安装说明',
        },
        {
          menuImg:'/static/img/my_userinfo@3x.png',
          menuName:'使用说明',
        },
        {
          menuImg:'/static/img/my-about@3x.png',
          menuName:'关于我们',
        },
        {
          menuImg:'/static/img/my-logout@3x.png',
          menuName:'注销',
        },
      ],
    }
  },
  computed:{
  },
  methods: {
    //1....................一般
    goUserInfo(){
      const url = '../userInfo/main'
      wx.navigateTo({ url });
    },
    //返回主页
    goIndex(){
      const url = '../../index/main'
      wx.redirectTo({ url });
    },
    //v-for index菜单判断事件
    menuOnesAct(ones){
      let vm=this;
      switch(ones.menuName){
        case "安装说明":
          console.log("安装说明");
          const url = '../installExplain/main'
          wx.navigateTo({ url })
        break;
        case "使用说明":
          console.log("使用说明");
        break;
        case "关于我们":
          // const url = '../aboutUs/main'
          // wx.navigateTo({ url });
          console.log("关于我们");
        break;
        case "注销":
          vm.logoutAct();
          console.log("注销");
        break;
      }
    },

    //4................请求
    //注销
    logoutAct(){
      let vm=this;
      vm.$https.ajax(1,"GET","api/wechat/logout").then((res)=>{
        console.log("logout RES..",res);
        vm.fns.wxMsgToast("注销成功");
        wx.setStorage({
          key:"cook",
          data:false
        })
        const url = '../../initialize/index/main'
        setTimeout(function(){
          wx.redirectTo({url})
        },2000);
      }).catch((err)=>{
        console.log(err);
      })
    }
  },
}
</script>

<style scoped>
  /* 菜单STR */
  .menuLink{
    width:100%;
    height:100rpx;
    background-color: #FAFAFB;
    position: fixed;
    bottom:0;
    display: flex;
    border-top:1px solid #E8E8E8;
  }
  .menuLink ul,.menuLink li{
    display: flex;
  }
  .menuLink ul{
    justify-content: space-around;
    width:100%;
    /* align-content: center; */
    /* height: 100%; */
  }
  .menuLink li{
    align-items: center;
    justify-content: center;
  }
  .menuLink ul li image{
    width:68rpx;
    height:68rpx;
  }
  /* 菜单END */
  /* MENULIST STR */
  .info-menu{
    display: flex;
    /* justify-content:space-between; */
    align-items: center;
  }
  .list-bordv{
    display: flex;
    border-bottom: 1px solid #A4A4A4;
    margin-left:23rpx;
    flex-grow: 1;
    padding: 30rpx 0;
    justify-content:space-between;
    
  }
  .info-menu .list-bordv>p{
    font-size: 34rpx;
    margin-left: 10rpx;
    /* font-weight: lighter; */
    color:#282828;
    /* font-weight:; */
  }
  .info-menu .info-detail p{
    font-size: 30rpx;
    color:#858585;
  }
  .info-detail{
    display: flex;
    align-items: center;
  }
  .menu-list{
    margin: 28rpx 33rpx;
  }
  .info-detail image{
    width:30rpx;
    height:30rpx;
    margin-left: 10rpx;
  }
  .menuBorder{
    border-top:1px solid #A4A4A4;
  }
  /* MENULIST END */
  .menu-img{
    width: 58rpx;
    height:58rpx;
  }
  .user-info{
    background-color: #282828;
    padding:50rpx 0;
    /* padding-top:90rpx; */
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .user-img{
    width:150rpx;
    height:150rpx;
  }
  .user-text{
    font-size: 62rpx;
    font-family: ArialMT;
  }
  .editimg{
    width:44rpx;
    height:44rpx;
    margin-left: 28rpx;
  }
  .user-img{
    width:132rpx;
    height:132rpx;
    border-radius: 50%;
    background-color: #FFFFFF;
    overflow: hidden;
  }
  .user-img-dv img{
    width:100%;
    height:100%;
  }
  .room-n-dev{
    display: flex;
    margin-top:-20rpx;
  }
  .room-n-dev>div{
    display:flex;
    align-items: center;
    flex-direction:column;
  }
  .room{
    margin-right: 55rpx;
  }
  .room-n-dev>div p:first-child{
    font-size: 28rpx;
    font-family: SourceHanSansCN-Normal;
  }
  .room-n-dev>div p:last-child{
    font-size: 42rpx;
    font-family: ArialMT;
  }
  .user-info view._p{
    color:#FEFEFE;
  }
  .name-text{
    font-size: 62rpx;
    font-family: ArialMT;
    color:#FEFEFE;
  }
  .num-p{
    font-family: ArialMT;
  }
  /* //通知 */
  /* .notification{
    background-color: #23F18D;
    position: fixed;
    top:0;
    width:100%;
    opacity: 0;
    transition: .5s all; 
  }
  .noti-text{
    text-align: center;
    padding:10rpx 0;
    color:#FEFEFE;
    font-size: 28rpx;
  }
  .notiAct{
    opacity: 1;
    transition: .5s all; 
  } */
  .user-name{
    margin-top:40rpx;
    /* margin-bottom: 30rpx; */
  }
  .name-text{
    color:#FEFEFE;
    font-size: 42rpx;
  }
</style>
