<template>
  <div class="main">
    <div class="logo-dv">
      <div class="logo-img">
        <img src="/static/img/825750545622979444.png" alt="">
        <p class="logo-text normal-text">{{'智乐锁APP '+ver}}</p>
      </div>
    </div>
    <div class="menu-list">
      <div class="info-menu" v-for="(item,index) in menuList" @click="oneFun(index)" :key="index">
        <p class="normal-text">{{item.menuName}}</p>
        <div class="info-detail">
          <p class="normal-text">{{item.menuDetail}}</p>
          <image src="/static/img/icon.png" alt="" class="menu-icon"></image>
        </div>
      </div>
    </div>
    <div class="notification" :class="{notiAct:notiData}">
      <!-- noti-act有数据的时候触发这个 -->
      <p class="noti-text">{{notification}}</p>
    </div>
    <mes></mes>
  </div>
</template>

<script>
import mes from '../../../components/socketMes.vue';
export default {
  data () {
    return {
      ver:'19.99',
      menuList:[
        {
          menuName:"访问官网",
          menuDetail:"",
        }
      ],
      notification:'',
      notiData:false,
    }
  },
  components: {
    mes,
  },
  computed:{
  },
  methods: {
    //v-for index菜单判断事件
    oneFun(index){
      if(index===0){
        this.goUsWeb();
      }
    },
  },
  onShow () {

  },
  onUnload(){
  },
}
</script>

<style scoped>
  /* MENULIST STR */
  .info-menu{
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-top: 1px solid #A4A4A4;
    padding: 30rpx 0;
    margin-left:23rpx;
  }
  .info-menu>p{
    font-size: 34rpx;
    margin-left: 10rpx;
    font-weight: lighter;
    color:#282828;
    /* font-weight:; */
  }
  .info-menu .info-detail p{
    font-size: 30rpx;
    color:#858585;
  }
  .info-detail{
    display: flex;
    align-items: center;
  }
  .menu-list{
    margin: 28rpx 33rpx;
  }
  .info-detail image{
    width:30rpx;
    height:30rpx;
    margin-left: 10rpx;
  }
  .menuBorder{
    border-top:1px solid #A4A4A4;
  }
  /* MENULIST END */
  .menu-img{
    width: 58rpx;
    height:58rpx;
  }
  .logo-img img{
    width:220rpx;
    height:220rpx;
  }
  .logo-text{
    color:#858484;
    font-size: 30rpx;
  }
  .logo-dv{
    margin:0 auto;
  }
  .logo-img{
    display:flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 67rpx;
    margin-top: 78rpx;
  }
  .logo-img img{
    margin-bottom: 23rpx;
  }

  /* 字体样ff */
  .num-text{
    font-family: serif;
  }
  .normal-text{
    font-family: SourceHanSansCN-Light;
  }
  /* //通知 */
  
  .notification{
    background-color: #23F18D;
    position: fixed;
    top:0;
    width:100%;
    opacity: 0;
    transition: .5s all; 
  }
  .noti-text{
    text-align: center;
    padding:10rpx 0;
    color:#FEFEFE;
    font-size: 28rpx;
  }
  .notiAct{
    opacity: 1;
    transition: .5s all; 
  }
</style>
