<template>
  <div class="page">
    <div class="main">
      <div class="renter-content">
        <div class="renter-list">
          <ul v-for="(item,index) in mainMenu2" :key=index class="main-menu">
            <!-- 第一层是一个li集合，第二层才是数据 -->
            <li class="type2-same-list" v-for="(items,indexs) in mainMenu[index]" :key=indexs :class="{liBorder:(indexs!=0)}">
              <p class="renter-title title-p">{{item[indexs].title}}</p>
              <div class="renter-info-div">
                <div class="menu-value" v-if="item[indexs].type===1">
                  <input class=" value-p" :class="item[indexs].warnInput?'warnInput':''" :placeholder="item[indexs].placeholder" :disabled="item[indexs].disabled" v-model="item[indexs].value" type="number" :maxlength="item[indexs].max" v-if="item[indexs].number" @input="ruleForm(item[indexs],indexs)"/>
                  <input class=" value-p" :class="item[indexs].warnInput?'warnInput':''" :placeholder="item[indexs].placeholder" :disabled="item[indexs].disabled" v-model="item[indexs].value" type="text" :maxlength="item[indexs].max||-1" v-else @input="ruleForm(item[indexs],indexs)"/>
                </div>
                <div class="menu-value" v-else-if="item[indexs].type===2">
                  <picker @change="bindSexChange($event,item[indexs])" :range="array">
                    <view class="picker value-p" :class="item[indexs].value==''?'placeholderStyle':''">
                      {{item[indexs].value==""?item[indexs].placeholder:item[indexs].value}}
                    </view>
                  </picker>
                </div>
                <div class="menu-value" v-if="item[indexs].type===9" @click="typeNineAct(item[indexs].title)">
                  <img :src="item[indexs].img" alt="" v-if="item[indexs].img" class="menu-value-img">
                  <input class=" value-p" :class="item[indexs].warm?'value-red':''" :placeholder="item[indexs].placeholder" :disabled="item[indexs].disabled" v-model="item[indexs].value" type="text" maxlength="40" v-else/>
                </div>
                <div class="renter-icon" v-if="item[indexs].type!=1">
                  <img src="/static/img/icon.png" alt="">
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="submit-btn-box">
        <button type="warn" class="submit-btn" @click="checkData" v-if="btnShow">提交</button>
      </div>
      <!-- warn -->
      <div class="warning-idv" v-if="isWarn">
        <p class="warning-txt">{{"请检查是否有漏填或出错项"}}</p>
      </div>
      <wxtoast :content="toastMes" :isShow="isShow"></wxtoast>
    </div>
    <mes></mes>
  </div>
</template>

<script>
import mes from '../../components/socketMes.vue';
import wxtoast from '../../components/meToast.vue';
export default {
  components: {
    mes,wxtoast
  },
  data () {
    return {
      //性别选择组
      array:['男','女'],
      //分开2个数组的形式。。。（但是其他值不存在，而且不好处理样式不一的Input）
      mainMenu:[
        ["身份证正面照"],
        ["姓名","性别","手机号码","身份证号"],
        ["紧急联系人","紧急联系人电话"],
        ["指纹"],
        ["房间信息"]
      ],
      mainReg:[
        [/(^[\u4e00-\u9fa5]{2,4}$)|(^[A-Za-z]+$)/,,/^(1[34578][0-9])\d{8}$/,/(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/]
        [/(^[\u4e00-\u9fa5]{2,4}$)|(^[A-Za-z]+$)/,/^(1[34578][0-9])\d{8}$/],
      ],
      // 0其他各种类型,1 input,2 自定select,3 年月slect,4时间,9其他
      //max,number,placeholder,warm
      //HTML数据
      mainMenu2:[
        [
          {
            title:"身份证正面照",
            value:"",
            type:9,
            img:"../../static/img/icon-camera@3x.png",
          },
        ],
        [
          {
            title:"姓名",
            value:"",
            type:1,
            placeholder:"请填写姓名",
            warnInput:false,
            reg:/(^[\u4e00-\u9fa5]{2,4}$)|(^[A-Za-z]+$)/,
            rule:false,
          },
          {
            title:"性别",
            value:"",
            type:2,
          },
          {
            title:"手机号码",
            value:"",
            type:1,
            placeholder:"请填写手机号码",
            max:11,
            number:true,
            warnInput:false,
            reg:/^(1[34578][0-9])\d{8}$/,
            rule:false,
          },
          {
            title:"身份证号",
            value:"",
            type:1,
            placeholder:"请填写身份证号",
            max:18,
            warnInput:false,
            reg:/^(\d{6})(\d{4})(\d{2})(\d{2})(\d{3})([0-9]|X)$/,
            rule:false,
          }
        ],
        [
          {
            title:"紧急联系人",
            value:"",
            type:1,
            placeholder:"请填写联系人",
            warnInput:false,
            reg:/(^[\u4e00-\u9fa5]{2,4}$)|(^[A-Za-z]+$)/,
            rule:false,
          },
          {
            title:"紧急联系人电话",
            value:"",
            type:1,
            placeholder:"请填写紧急联系人电话",
            max:11,
            number:true,
            warnInput:false,
            reg:/^(1[34578][0-9])\d{8}$/,
            rule:false,
          },
        ],
        [
          {
            title:"指纹",
            value:"",
            type:9,
            disabled:true,
            warm:true,
          },
        ],
        // [
        //   {
        //     title:"房间信息",
        //     value:"",
        //     type:9,
        //     disabled:true
        //   },
        // ]
      ],
      //接口所需的不存在html数据里的保存值。（暂时）
      formItem:{
        birth_date:"",    
      },
      isWarn:false,       //控制表单顶部提示信息现隐
      btnShow:false,      //给btn一个控制值是为了不先于form渲染？
      isNormal:false,     //是否为正常情况下的unload，hide。控制缓存是否存储
      //CPN 指纹的特定自定义modal
      isShow:false,       //控制现隐
      toastMes:"",        //信息
      cid:0,              //cid.0或者租客详情获取
    }
  },
  computed:{
  },
  methods: {
    //重置数据  resetData()
    resetData(){
      Object.assign(this.$data, this.$options.data())
    },
    //设置初始值
    initializeData(){
      let vm=this;
      this.mainMenu2.map((item)=>{
        item.map((items)=>{
          //这个好像是身份证获取数据之后的修复操作。
          if(items.value!="")return;
          switch(items.title){
            case "指纹":
              items.value="交互录入";
            break;
            case "性别":
              items.value=vm.array[0]
            break; 
          }
        })
      })
      //判断是不是进的详情
      if(vm.$store.state.ruid){
        wx.getStorage({
          key:vm.$store.state.ruid,
          success:function(res){
            console.log("有缓存的ruid数据");
            vm.checkIdStorge();
          },
          fail:function(err){
            console.log(err);
            vm.getData();
          }
        })
      }
      vm.btnShow=true;
    },
    //校验。
    //change的时候才会触发。必须要有个reg。
    ruleForm(item,index){
      // console.log(item.value)
      if(item.reg.test(item.value)){
        item.warnInput=false;
        item.rule=true;
        console.log(item.value,item.value)
      }
      else{
        item.warnInput=true;
      }
      // console.log(item.value,item.rule,item);
    },
    // 默认select
    bindSexChange: function (e) {
      console.log(e);
      // console.log('picker发送选择改变，携带值为', e.mp.detail.value)
      let item=this.fns.forName(this.mainMenu2,"性别");
      // console.log(item);
      item.value=this.array[e.mp.detail.value];
    },
    //校验.............
    checkData(){
      let vm=this,
        arr=[],
        index=0;
      vm.mainMenu2.map(function(item){
        item.map(function(items){
          index++;
          console.log(items.title,items.rule)
          if(items.title=="指纹"){
            // items.value=="交互录入"?items.value="":""
            arr.push(items);
          }
          else if(items.value!=""){
            if(items.rule===true){
              arr.push(items);
            }
          }
          else{
            vm.isWarn=true
            setTimeout(function(){vm.isWarn=false},3500)
          }
        })
      })
      console.log(arr,arr.length,index,arr.length==index);
      if(arr.length==index){
        vm.submitAct();
      }
      else{
        vm.isWarn=true
        setTimeout(function(){vm.isWarn=false},3500)
      }
    },
    //判断是哪一个li
    typeNineAct(name){
      let vm=this;
      switch(name){
        case "身份证正面照":
          this.idCardAct();
          break;
        case "指纹":
          //这里的dlid是获取房间的info里面的device_lock的，所以每次切换房间都会更新该值，即可直接用于判断有无绑定
          let dlid=vm.$store.state.dlid,
            stu=vm.$store.state.BLEstatus;
          console.log('Check vuex dlid、stu ',dlid,stu);
          let fingerprint=vm.fns.forName(this.mainMenu2,"指纹");
          //如果不是初始值，那么就是二次录入，需要删除
          if(fingerprint.value!="交互录入"){
            let msg="将清除当前租客已录入的指纹",
              vm=this;
            wx.showModal({
              title: '提示',
              content: msg,
              confirmText:'确认',
              cancelText: '手滑了',
              success: function (res) {
                if (res.confirm) {
                  // vm.clearFingerprintBLE();
                  vm.fns.wxMsgToast("其实还没做");
                } else if (res.cancel) {
                  console.log("已取消删除");
                }
              }
            })
          }
          //蓝牙在连接并且是该设备。则直接进去
          else if(dlid&&stu){
            vm.fingerprintActBLE();
          }
          else if(!dlid){
            vm.fns.wxMsgToast("门锁未绑定");
          }
          else if(!stu){
            console.log("没有连接蓝牙");
            let url='../bltSearchResult/main'
            wx.navigateTo({url});
          }
          break;
      }
    },
    //身份证正面照
    idCardAct(){
      console.log("idCardAct")
      let vm=this;
      wx.chooseImage({
        count: 1, // 默认9
        sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
        sourceType: ['album', 'camera'],      // 可以指定来源是相册还是相机，默认二者都有
        success: function (res) {
          console.log(res);
          // 返回选定照片的本地文件路径列表，tempFilePath可以作为img标签的src属性显示图片
          let  tempFilePaths = res.tempFilePaths;
          console.log(tempFilePaths[0]);
          vm.fns.wxMsgLoad("读取信息");
          wx.uploadFile({
            url: vm.$url2+'api/system/ocr_id_card', //仅为示例，非真实的接口地址
            filePath: tempFilePaths[0],
            name: 'id_card_image',
            header: { "Content-Type": "multipart/form-data" },
            formData:{
              "access_token": vm.$store.state.rqToken,
            },
            success: function(res){
              wx.hideLoading();
              let rs = res.data;
              console.log(rs);
              let idCardInfo=JSON.parse(rs);
              console.log(idCardInfo.data);
              vm.formItem.birth_date=idCardInfo.data.brith_date;
              
              vm.fns.forName(vm.mainMenu2,"身份证正面照").value=idCardInfo.img_url;
              vm.fns.forName(vm.mainMenu2,"身份证正面照").rule=true;
              vm.fns.forName(vm.mainMenu2,"姓名").value=idCardInfo.data.name;
              vm.fns.forName(vm.mainMenu2,"姓名").rule=true;
              vm.fns.forName(vm.mainMenu2,"性别").value=idCardInfo.data.sex;
              vm.fns.forName(vm.mainMenu2,"性别").rule=true;
              vm.fns.forName(vm.mainMenu2,"身份证号").value=idCardInfo.data.id_card_num;
              vm.fns.forName(vm.mainMenu2,"身份证号").rule=true;
              console.log(vm.mainMenu2);
              // vm.mainMenu2.map((item)=>{
              //   item.map((items)=>{
              //     switch(items.title){
              //       case "姓名":
              //         items.value=idCardInfo.data.name;
              //         items.rule=true;
              //         break;
              //       case "性别":
              //         items.value=idCardInfo.data.sex;
              //         items.rule=true;
              //         break;
              //       case "身份证号":
              //         items.value=idCardInfo.data.id_card_num;
              //         items.rule=true;
              //         break;
              //     }
              //   })
              // })
            }
          })
        }
      })
    },
    //删除指纹
    clearFingerprintBLE(){
      let vm=this,
        mac=vm.fns.BLEdata.deviceId,
        // uuid=this.fns.BLEdata.uuid,
        // serviceId=this.fns.BLEdata.serviceId,
        dlid=vm.$store.state.dlid,
        // token=vm.$store.state.rqToken,
        commandId=vm.fns.BLEdata.commandId,
        category=109;
      //传实例过去。。虽然很奇怪但是。。
      vm.fns.ActBLE(vm,category);
      //4、server tab msg
      //后台返回。响应
      vm.$bus.$on('BLEvalueChange',async(content)=>{
        //important.
        //如果服务号在base被改变证明监听的不是该服务的处理方案
        if(vm.fns.BLEdata.category!=category) return;
        console.log("响应的是...",category);
        let $time=new Date(),
          time=vm.fns.formatTime($time),
          status;
        content?status=1:"";
        vm.fns.BLEdata.imac?mac=vm.fns.BLEdata.imac:"";
        let data={
            "dlid":dlid,
            "bt_mac":mac,
            "category":category,
            "time_str":time,
            "command_id":commandId,
            "status":status,
            "content":[content]
          };
        // vm.isShow=true;
        // console.log(vm.isShow);
        // let ress=await vm.$https.ajax("POST","api/device/bt_response",data)
        await vm.$https.ajax(1,"POST","api/device/bt_response",data).then((res)=>{
          console.log(res);
        }).catch((err)=>{
          console.log(err);
        })
      })
    },
    fingerprintActBLE(){
      let vm=this,
        mac=vm.fns.BLEdata.deviceId,
        // uuid=this.fns.BLEdata.uuid,
        // serviceId=this.fns.BLEdata.serviceId,
        dlid=vm.$store.state.dlid,
        // token=vm.$store.state.rqToken,
        commandId=vm.fns.BLEdata.commandId,
        category=108;
      //传实例过去。。虽然很奇怪但是。。
      vm.fns.ActBLE(this,category);
      //4、server tab msg
      //后台返回。响应
      vm.$bus.$on('BLEvalueChange',(content)=>{
        //important.
        //如果服务号在base被改变证明监听的不是该服务的处理方案
        if(this.fns.BLEdata.category!=category) return;
        console.log("响应的是...",category);
        let $time=new Date(),
          time=vm.fns.formatTime($time),
          status;
        content?status=1:"";
        vm.fns.BLEdata.imac?mac=vm.fns.BLEdata.imac:"";
        let data={
          "dlid":dlid,
          "bt_mac":mac,
          "category":category,
          "time_str":time,
          "command_id":commandId,
          "status":status,
          "content":[content]
        };
        // vm.isShow=true;
        // console.log(vm.isShow);
        // let ress=await vm.$https.ajax("POST","api/device/bt_response",data)
        vm.$https.ajax(1,"POST","api/device/bt_response",data).then((res)=>{
          console.log('%c bt_response RES','blue',res);
          let rs=res.data.data;
          vm.codeMes.data.map((item)=>{
            // console.log(item.code,rs.rep_code,item.code==rs.rep_code)
            if(item.code==rs.rep_code){
              //开始
              wx.hideLoading();
              if(rs.rep_code==50181){
                vm.isShow=true;
                vm.toastMes=item.msg
              }
              //中间
              else if(rs.rep_code==20001){
                vm.isShow=true;
                vm.toastMes=rs.tips;
              }
              //最后
              else if(rs.rep_code==50371||rs.rep_code==50372){
                vm.isShow=true;
                vm.toastMes=rs.tips;
                let zhiwen=vm.fns.forName(vm.mainMenu2,"指纹");
                zhiwen.value=rs.fingerprint;
                setTimeout(function(){
                  vm.isShow=false;
                },2000)
              }
              //其他错误码（在他是在这里返回的情况下）
              else{
                vm.isShow=false;
                vm.fns.wxMsgToast(item.msg);
              }
            }
          })
        }).catch((err)=>{
          console.log(err);
        })
      })
    },
    //提交。。先提交创建房客，然后生成合同
    async submitAct(){
      // wx.hideLoading();
      //str 1
      let vm=this,
        sex;
      let $sex=vm.fns.forName(this.mainMenu2,"性别");
      $sex.value=="男"?sex=1:sex=2;
      let mobile=vm.fns.forName(this.mainMenu2,"手机号码"),
        id_card_photo=vm.fns.forName(this.mainMenu2,"身份证正面照"),
        id_card_num=vm.fns.forName(this.mainMenu2,"身份证号"),
        name=vm.fns.forName(this.mainMenu2,"姓名"),
        fingerprint=vm.fns.forName(this.mainMenu2,"指纹"),
        ec_name=vm.fns.forName(this.mainMenu2,"紧急联系人"),
        ec_mobile=vm.fns.forName(this.mainMenu2,"紧急联系人电话"),
        ruidArg=vm.$store.state.ruid||"0";
      fingerprint.value=="交互录入"?fingerprint.value="":"";
      vm.fns.wxMsgLoad();
      let data={
        "renter_id":ruidArg,
        "mobile":mobile.value,
        "sex":sex,
        "id_card_type":1,
        "id_card_photo":id_card_photo.value,
        "hold_id_card_photo":"",
        "id_card_num":id_card_num.value,
        "name":name.value,
        "birth_date":vm.formItem.birth_date,
        "ec_name":ec_name.value,
        "ec_mobile":ec_mobile.value,
        "fingerprint":fingerprint.value,
      };
      let ruid,
        info;
      let ajx1=await vm.$https.ajax(1,"POST","api/renter/renter_edit",data);
      // await vm.$https.ajax("POST","api/renter/renter_edit",data).then((res)=>{
        wx.hideLoading();
        console.log(' [addRenter] renter_edit RES...',ajx1);
        // console.log('vx rid',vm.$store.state.roomInfo);
        vm.fns.wxMsgLoad("正在生成合同");
        // 这里拿到的的一个info。。。。。好像是必要的
        info=vm.$store.state.roomInfo;
        ruid=ajx1.data.renter_id;
      // }).catch((err)=>{
      //   console.log(err);
      // })
      //str 2
      let dateStr=(new Date().getTime()/1000).toFixed(0),
        dateEnd=(+dateStr+864000).toString();
      let data2={
        // "access_token":vm.$store.state.rqToken,
        "cid":vm.cid,
        "renter_id":ruid,
        "rid":info.rid,
        "aid":info.apartment.aid,
        "oid":info.organization.oid,
        "start_date":dateStr,
        "end_date":dateEnd,
        "cycle":0,
        "price":0,
        "pay_type":"",
        "room_deposit":0,
        "card_deposit":0,
        "amount":0,
        "remark":"",
        "rent_type":0,
        "rent_type_num":0,
      };
      let ajx2=await vm.$https.ajax(1,"POST","api/contract/contract_edit",data2);
      wx.hideLoading();
      vm.isNormal=true;
      vm.clearIdStorge();
      console.log("contract_edit...",ajx2);
      let mes=ajx2.data.msg;
      vm.fns.wxMsgToast(mes);
      setTimeout(function(){
        wx.navigateBack({delta: 1})
      },2000)
    },
    //.......获取详情
    getData(){
      let vm=this,
        data={
          "renter_id":vm.$store.state.ruid,
        };
      vm.fns.wxMsgLoad();
      vm.$https.ajax(1,"GET","api/renter/renter_detail",data).then((res)=>{
        console.log('[renterInfo] renter_detail >> RES',res);
        let rs=res.data.data;
        wx.setNavigationBarTitle({
          title: rs.name
        })
        vm.cid=rs.contracts[0].cid;
        vm.mainMenu2.map((item)=>{
          item.map((items)=>{
            switch (items.title){
              case "身份证正面照":
                items.value=rs.id_card_photo;
                items.rule=true;
                break;
              case "姓名":
                items.value=rs.name;
                vm.ruleForm(items)
                break;
              case "性别":
                let sex;
                rs.sex==1?sex="男":sex="女";
                items.value=sex;
                items.rule=true;
                break;
              case "手机号码":
                items.value=rs.mobile;
                vm.ruleForm(items)
                break;
              case "身份证号":
                items.value=rs.id_card_num;
                vm.ruleForm(items)
                break;
              case "紧急联系人":
                items.value=rs.ec_name;
                vm.ruleForm(items)
                break;
              case "紧急联系人电话":
                items.value=rs.ec_mobile;
                vm.ruleForm(items)
                break;
              case "指纹":
                items.value=rs.fingerprint
                break;
            }
          })
        })
        wx.hideLoading();
      })
    },
    //unload的时候把vuex中ruid置空
    resetVXRuid(){
      this.$store.commit("setRuid","")
    },
    //保存到storge。。。。各种返回，退出，等触发hide的操作
    backupItemAct(){
      let vm=this,
        data={};
      vm.mainMenu2.map((item)=>{
        item.map((items)=>{
          if(items.value!=""){
            // console.log(items.value);
            switch (items.title){
              case "身份证正面照":
                data.id_card_photo=items.value;
                break;
              case "姓名":
                data.name=items.value;
                break;
              case "性别":
                data.sex=items.value
                break;
              case "手机号码":
                data.mobile=items.value
                break;
              case "身份证号":
                data.id_card_num=items.value
                break;
              case "紧急联系人":
                data.ec_name=items.value
                break;
              case "紧急联系人电话":
                data.ec_mobile=items.value
                break;
              case "指纹":
                data.fingerprint=items.value
                break;
            }
          }
        })
      })
      let objLength=Object.keys(data).length,
        key={
          "sex":"男",
          "fingerprint":"交互录入"
        },
        indexrKey=JSON.stringify(data).indexOf(JSON.stringify(key));
      //json有长度，并且里面不是只有一个sex的key、和。。。指纹
      if(objLength!=0&&indexrKey!=0){
        //存储到本地
        wx.setStorage({
          //如果vuex有值，证明是edit模式。key为ruid。如果没值，那么是添加，0
          key:vm.$store.state.ruid||"0",
          data:data,
          success:function(){
            console.log("...存储成功");
            // vm.fns.wxMsgToast("信息已存储到缓存")
          },
          fail:function(){
            console.warn("存储失败!!!");
          }
        })
      }else{
        console.log("...不需要存储备份");
      }
    },
    //提取缓存。检查看缓存中有没有对应id的数据
    checkIdStorge(){
      let vm=this;
      //获取本地缓存
      wx.getStorage({
        key:vm.$store.state.ruid||"0",
        success:function(res){
          console.log('getStorage...',res);
          let data=res.data;
          vm.mainMenu2.map((item)=>{
            item.map((items)=>{
              switch (items.title){
                case "身份证正面照":
                  items.value=data.id_card_photo
                  items.rule=true;
                  // vm.ruleForm(items)
                  break;
                case "姓名":
                  items.value=data.name;
                  vm.ruleForm(items)
                  break;
                case "性别":
                  items.value=data.sex;
                  items.rule=true;
                  // vm.ruleForm(items)
                  break;
                case "手机号码":
                  items.value=data.mobile;
                  vm.ruleForm(items)
                  break;
                case "身份证号":
                  items.value=data.id_card_num;
                  vm.ruleForm(items)
                  break;
                case "紧急联系人":
                  items.value=data.ec_name;
                  vm.ruleForm(items)
                  break;
                case "紧急联系人电话":
                  items.value=data.ec_mobile;
                  vm.ruleForm(items)
                  break;
                case "指纹":
                  items.value=data.fingerprint;
                  // items.rule=true;
                  // vm.ruleForm(items)
                  break;
              }
            })
          })
        },
        //没有找到缓存
        fail:function(err){
          console.log(err);
        }
      })
    },
    //提交后。清除缓存
    clearIdStorge(){
      wx.removeStorage({
        key:this.$store.state.ruid||"0",
        success:function(res){
          console.log('clearStorage...',res);
        },
        fail:function(err){
          console.log(err);
        }
      })
    }
  },
  onShow () {
    console.log(' [add]...show');
    this.resetData();
    this.initializeData();
    this.checkIdStorge();   //提取缓存
  },
  onUnload(){
    console.log(' [add]...unload');
    if(!this.isNormal){
      this.backupItemAct();
    }
    this.resetVXRuid();
  },
  onHide(){
    console.log(' [add]...hide');
    this.backupItemAct();
  }
}
</script>

<style scoped>
  .page{
    background:#F6F7F8;
    min-height: 100%;
    height:auto;
  }
  .main{
    padding-top: 35rpx;
  }
  img{
    width: 100%;
    height: 100%;
    display: block;
    /* 不然太小不会上去 */
  }
  /* 菜单same......... */
  .type2-same-list{
    display: flex;
    /* padding:0 40rpx; */
    padding:35rpx 40rpx;
    justify-content: space-between;
    align-items: center;
    border:1rpx solid #E5E5E5;
    flex-grow:1;
    background-color: #fff;
  }
  .renter-title{
    color:#282828;
    font-size: 30rpx;
    font-family:SourceHanSansCN;
    /* font-weight: bold; */
  }
  .renter-info-div{
    display: flex ;
    align-items: center;
  }
  .renter-info{
    font-size:30rpx;
    font-family:SourceHanSansCN;
    color:#454545;
    text-align: right;
  }
  .renter-icon{
    width:22rpx;
    height:22rpx;
    margin-left: 30rpx;
  }
  .main-menu{
    margin-top: 35rpx;
  }
  /*  */
  .liBorder{
    border:none;
    border-bottom: 1rpx solid #E5E5E5;
  }
  ::-webkit-input-placeholder{
    color: red;
  }
  
  .submit-btn-box{
    padding:100rpx 80rpx 50rpx 80rpx;
    /* padding-bottom: 50rpx; */
  }
  .submit-btn{
    border-radius: 46rpx;
    height: 92rpx;
    line-height: 92rpx;
    font-size: 36rpx;
    color: #fff;
    font-family: SourceHanSansCN;
    transition: width .8s;
    width:100%;
    /* margin-top: 50rpx; */
  }
  .submit-btn-box{
    /* position: fixed;
    bottom: 55rpx;
    width:100%;
    box-sizing: border-box;  */
  }
  .submit-btn{
    /* width:100%; */
  }
  .placeholderStyle{
    color:#B6B6B6;
    font-size: 30rpx;
    height: 30rpx;
    line-height: 30rpx;
  }
  .notification-text{
    text-align: center;
    font-weight: bold;
  }
  .value-p{
    font-size: 30rpx;
    color:#282828;
    /* font-weight: lighter; */
    line-height: 30rpx;
    height:30rpx;
  }
  .value-red{
    color:#FD404B;
  }
  .title-p{
    color: #454545;
    font-size: 30rpx;
    /* font-weight: lighter; */
    line-height: 30rpx;
    height:30rpx;
  }
  input{
    text-align: right;
    /* min-height: 0; */
    /* padding:35rpx 0; */
  }
  /* ............元素太短会点不到所以需要搞一下 */

  .renter-info-div{
    display:flex;
    justify-content: flex-end;
    flex-grow: 1;
  }
  .menu-value{
    width:100%;
    text-align: right;
    /* padding:35rpx 0; .....*/
    /* padding-left:100rpx; */
  }
  .renter-title{
    /* padding:35rpx 0; */
  }
  .picker{
    /* padding:35rpx 0; */
  }
  /* 讲究，要在最里面给个padding，没数据的时候再title里面padding.... */
  .warnInput{
    color:#FD404B;
  }
  /* 新加了个img */
  .menu-value-img{
    width:36rpx;
    height:30rpx;
    display:inline-block;
    /* 全靠30撑起 */
  }
  /* warn */
  .warning-idv{
    transition: all .5s;
    position: fixed;
    top:0;
    left:0;
    right:0;
    background-color: #23F18D;
    padding:20rpx 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation:anim .8s;
  }
  .warning-txt{
    color:#fff;
    font-size: 30rpx;
  }
  @keyframes anim
  {
    from {opacity:0;}
    to {opacity: 1;}
  }
</style>
