<template>
  <div class="main">
    <div class="container" :style="{backgroundImage:'url('+bgImg+')'}" v-if="bgImg">
      <!-- <div class="container"> -->
      <!-- 头部 -->
      <div class="top">
        <div class="top-text">
          <p class="text-bg">智乐家</p>
          <p>给你一个安全的家 / 指为你守候</p>
        </div>
        <div class="add-device">
          <!-- <image src="/static/img/icon_add@3x.png" alt="" @click="testRoute"></image> -->
        </div>
      </div>
      <!-- body -->
      <div class="content">
        <!-- <div class="menu-list" :class="[{menuListBot:menListSty==9},{addBottom:dataRoom!=''}]"> -->
        <div class="menu-list" :class="[{menuListBot:menListSty==9},{addBottom:dataApartment!=''}]">
          <div :class="dataApartment.length==0&&dataRoom.length==0?'':'lately-def'" @click="getRoomAndBind()" class="lately">
            <img src="/static/img/icon_allID@3x.png" alt="">
            <p class="active lately-text" v-if="dataApartment!=''">全部</p>
          </div>
          <scroll-view scroll-y  class="apartment-list" @scrolltolower="apartEnd">
            <ul>
              <li v-for="(item,index) in dataApartment" :key="index" @click="getRoomAndBind(item.name,index)">
                <div class="home-one">
                  <image src="/static/img/icon_homered@3x.png" alt="" v-if="apartFocus==index"></image>
                  <image src="/static/img/icon_home@3x.png" alt="" v-else></image>
                  <p class="lately-text">{{item.name}}</p>
                </div>
              </li>
            </ul>
          </scroll-view>
          <div class="setting" v-if="dataApartment.length!=0" @click="menListSty++">
            <image src="/static/img/icon_setting_gray@3x.png" alt=""  :class="{menuIconTran:menListSty==5}" class="set-img"></image>
          </div>
        </div>
        <!-- <div class="room-list"> -->
        <div class="room-list" v-if="dataApartment.length==0&&dataRoom.length==0">
          <div class="device-info static-info">
            <div class="info-text">
              <p class="info-name static-name"></p>
              <p class="info-site static-site"></p>
              <p class="info-state static-state"></p>
            </div>
            <div class="info-img bgcol">
              <p>Glock</p>
              <p>smart-lock</p>
            </div>
          </div>
        </div>
        <div class="room-list" v-else-if="dataRoom.length==0">
          <div class="device-info static-info no-room-sty">
            <p class="no-room-txt">没有相关房源</p>
          </div>
        </div>
        <div v-else>
          <scroll-view scroll-y class="room-list" @scrolltolower="roomEnd">
            <!-- <div class="device-info" v-for="(items,index) in homeList[0].deviceList" @click="toRoomInfo"> -->
            <!-- after -->
            <!-- normal -->
            <!-- <div class="device-info" v-for="(items,index) in dataRoom" @click="toRoomInfo(items)" :key="index">
              <div class="info-text">
                <p class="info-site">{{items.roomName}}</p>
                <p class="info-name">{{items.name}}</p>
                <p class="info-state">{{items.status=="ONLINE"?'在线':'不在线'}}</p>
              </div>
              <div class="info-img">
                <img src="/static/img/8.png" alt="">
              </div>
            </div> -->
            <!-- test.......2.0 -->
            <!-- 滑块功能版 -->
            <div class="area_box"  v-for="(items,index) in dataRoom" :key="index">
              <movable-area>
                <div class="operationBtn">
                  <ul class="operUl">
                    <li v-for="(item,indexs) in btnList" :key="indexs" @click="btnIndexWay(indexs)" class="operLi">
                      <img :src="item.url" alt="" class="operImg">
                    </li>
                  </ul>
                </div>
                <movable-view   direction="horizontal" @change="touchFunction(items,$event)" :x="items.movableX"  @click="toRoomInfo(items)">
                  <div class="device-info">
                    <div class="info-text">
                      <p class="info-name room-name">{{items.name}}</p>
                      <p class="info-site">{{items.deviceName||"未绑定门锁"}}</p>
                      <div class="status-idv">
                        <div class="dev-stateus-idv ones-status">
                          <div class="info-state" v-if="items.status=='ONLINE'">
                            <img src="/static/img/icon-devonline@3x.png" alt="" class="dev-status">
                            <p>设备在线</p>
                          </div>
                          <div class="info-state" v-else>
                            <img src="/static/img/icon-devoffline@3x.png" alt="" class="dev-status">
                            <p>设备离线</p>
                          </div>
                        </div>
                        <div class="ble-status-idv ones-status">
                          <div class="info-state" v-if="items.BLEstatus">
                            <img src="/static/img/icon-bluetoothonline@3x.png" alt="" class="ble-status">
                            <p>已连接</p>
                          </div>
                          <div class="info-state" v-else>
                            <img src="/static/img/icon-bluetoothoffline@3x.png" alt="" class="ble-status">
                            <p>未连接</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="info-img">
                      <img src="/static/img/img-door@3x.png" alt="" :class="{unlineOpe:items.status!='ONLINE'}">
                    </div>
                  </div>
                </movable-view>
              </movable-area>
            </div>
          </scroll-view>
        </div>
        <!-- </div> -->
      </div>
    </div>
    <div class="menuLink">
      <ul>
        <li>
          <image src="/static/img/NavIcon02a.png" alt=""></image>
        </li>
        <li @click="goUser">
          <image src="/static/img/NavIcon03.png" alt=""></image>
        </li>
      </ul>
    </div>
    <!-- <wxtoast @toaClick="propTest" :content="wxcontent"></wxtoast> -->
    <mes></mes>
  </div>
</template>

<script>
import mes from '../../components/socketMes.vue';
import wxtoast from '../../components/meToast.vue';
export default {
  components: {
    mes,wxtoast
  },
  data () {
    return {
      //****************1、一般数据
      //1-1 控制数据
      menListSty:0,       //彩蛋....样式控制
      emitOnly:false,     //socket控制（...)
      apartFocus:-1,      //公寓焦点
      touchStartEnd:[],   //看左滑还是右滑。。2个数对比

      //1-2 存储数据
      dataRoom:[],        //存储设备列表的数据。通过这个控制很多html的显控
      dataApartment:[],
      apartName:"all",    //公寓名称。上拉刷新用
      apartPage:1,        //公寓列表页码
      roomPage:1,         //房间列表页码

      //测试。
      // prop toast.....Z、组件数据
      // wxcontent:"父组件数据渲染",

      //****************0、render

      //****************2、表单数据
      //****************3、rule

      //****************4、本地数据/资源
      bgImg:'',         //背景图
      btnList:[
        {url:"/static/img/icon-idlock@3x.png"},
        {url:"/static/img/icon-idcard@3x.png"},
        {url:"/static/img/icon-idfinger@3x.png"},
      ],
      //...........本地测试数据（旧）
      homeList:[
        // {
        //   name:"HomeA",
        //   deviceList:[
        //     {
        //       installSite:"1号房间",
        //       deviceName:"智能锁A",
        //       state:"设备在线",
        //       img:"/static/img/7.png",
        //     },
        //     {
        //       installSite:"2号房间",
        //       deviceName:"智能锁B",
        //       state:"设备离线",
        //       img:"/static/img/8.png",
        //     }
        //   ]
        // },
        // {
        //   name:"HomeB",
        //   deviceList:[
        //     {
        //       installSite:"02号房间",
        //       deviceName:"智能锁C",
        //       state:"设备在线",
        //       img:"/static/img/7.png",
        //     }
        //   ]
        // },
      ],

      //****************N、过期数据
      // x:0,              //item.x...     (x)
      // movableX:427,     //控制滑块的trans类的数据。。可是好像并不会用到，而是用的item.x     (x)
      // isInter:false,    //请求轮询控制量，true的时候停止.....现用来socket更新list不再获取(只删剩最后那个)
    }
  },
  methods: {
    //1、公用模组————————————————————————————————

    //2、初始函数————————————————————————————————
    resetData(){
      Object.assign(this.$data, this.$options.data())
    },
    //img初始处理
    baseImg(){
      this.bgImg=this.$url2+'static/apartment/adc38f6859ff0fbdd3c9d785533c745d.png';
    },

    //3、一般函数————————————————————————————————
    //阻断第二次进入页面触发socket emit on
    starSocket(){
      if(this.emitOnly===true) return;
      this.socketRunning();
    },
    //去房间详情
    toRoomInfo (item) {
      this.$store.commit('setRid',item.rid);
      // console.log("%c[Index] Check VUEX IdInfo","color:red",this.$store.state.rid);
      const url = '../roomInfo/main'
      // const url = '../bltSearchResult/main'
      wx.navigateTo({ url })
    },
    //去用户
    goUser(){
      // console.warn('STOP Index requert....Go User');
      const url = '../user/userIndex/main'
      wx.redirectTo({ url });
    },
    //滑块
    //touch返回的东西....change
    touchFunction(item,e){
      // console.log(item,e);
      if(e.mp.detail.source=="touch"||e.mp.detail.source=="out-of-bounds"){
        // console.log(e.mp.detail.source);
        //这个move是单纯为了简写，因为即使每次都let，但是move改变会影响this里所以。。。
        let $move=this.touchStartEnd;
        $move.push(e.x);
        // x-427.....0是尽头
        if($move[$move.length-1]-$move[$move.length-2]<0){
          item.movableX=-200;
          // console.log('左')
        }
        else if($move[$move.length-1]-$move[$move.length-2]>0){
          item.movableX=0;
          // console.log('右');
        }
      }
    },
    //判断按钮操作
    btnIndexWay(index){
      //这玩意还必须是个url.......url:url
      let url="";
      switch(index){
        case 0:
          console.log('....UnLock');
          url = '../passwordList/main'
          wx.navigateTo({ url });
          break;
        case 1:
          console.log('....Card');
          url = '../cardList/main'
          wx.navigateTo({ url });
          break;
        case 2:
          console.warn('....Fingerprint');
          // url = '../user/userIndex/main'
          // wx.redirectTo({ url });
          break;
      }
    },
    //滚动到底部触发apart....
    apartEnd(){
      console.log('Move apartEnd');
      this.getApartmentist(1);
    },
    roomEnd(){
      console.log('Move roomEnd');
      this.getRoomAndBind(0,0,1);
    },

    //4、请求函数————————————————————————————————
    //设备列表。有房源的时候才会触发。每次房源变化都触发获取新值
    //然后把2个凑在一起了
    //.....ARG  房间ID、列表index、是否更多
    async getRoomAndBind(aid,index,more){
      // if(this.isInter) return false;//阻断计时器（旧轮询）
      this.fns.wxMsgLoad();
      let vm=this,
        dataRoom={
          "option":aid?"apartment_name":"all",
          "p":1,
          "l":10
        };
      // 是否点击公寓加载房间
      if(aid){
        console.log(aid,index,more);
        dataRoom.keyword=aid;
        vm.apartFocus=index;
      }else{
        vm.apartFocus=-1;
      }
      //是否是加载更多
      //不能及时刷新json里面数据。。。？
      if(more){
        vm.roomPage++;
        dataRoom.p=vm.roomPage;
      }
      let ajx1=await vm.$https.ajax(1,"GET","api/room/room_lists",dataRoom);
        console.log('%c [Index] room_lists >> RES','color:red',ajx1);
        let rs1=ajx1.data.data;
        //薛定谔的movableX
        rs1.lists.map(function(item){
          item.movableX=0;
        })
        if(more){
          vm.dataRoom=vm.dataRoom.concat(rs1.lists)
        }else{
          vm.dataRoom=rs1.lists;
        }
        console.log(vm.dataRoom);
        //有数据才请求
        if(!vm.dataRoom){
          wx.stopPullDownRefresh();
          return;
        }
      let ajx2=await vm.$https.ajax(1,"GET","api/device/device_lists");
        console.log('%c [Index] device_lists >> RES','color:red',ajx2);
        wx.hideLoading();
        wx.stopPullDownRefresh();
        let rs2=ajx2.data.data;
        //处理所有的房间
        vm.dataRoom.map((item)=>{
          rs2.lists.map((items)=>{
            // console.log(items.dlid,items.name,item.dlid);
            if(items.dlid==item.dlid){
              //在线状态,管理员密码
              item.status=items.status;
              item.supperPwd=items.super_pwd;
              item.deviceName=items.name;
            }
            //蓝牙连接的设备。蓝牙接口会动态改变该值。vuex设备列表的保留值。
            if(item.dlid==vm.$store.state.dlid){
              item.BLEstatus=vm.$store.state.BLEstatus
            }
          })
        })
        // console.log(vm.dataRoom);
    },
    //公寓.arg为是否为加载更多
    getApartmentist(more){
      this.fns.wxMsgLoad();
      let vm=this;
      more?vm.apartPage++:"";
      let data={
        "option":"all",
        "p":vm.apartPage,
        "l":10
      };
      vm.$https.ajax(1,"GET","api/apartment/apartment_lists",data).then((res)=>{
        wx.hideLoading();
        console.log('%c [Index] apartment_lists >> RES','color:red',res);
        let rs=res.data.data;
        if(more){
          vm.dataApartment=vm.dataApartment.concat(rs.lists)
        }else{
          vm.dataApartment=rs.lists;
        }
        // console.log(vm.dataApartment);
      }).catch((err)=>{
        console.log(err);
      })
    },

    //Sock...............
    socketRunning(){
      let vm=this;
      vm.uploadMes();
      // let mmp=wx.connectSocket({
      // console.log(this.setToken,this.mmp);
      //1.
      wx.connectSocket({
        url: 'wss://wx.grandacom.cn/echo/device_status?access_token='+vm.$store.state.rqToken,
        success:function(res){
          console.log(res);
        },
        error:function(err){
          console.log(err);
        }
      })
      //2.
      wx.onSocketOpen(function(res){
        console.log('WebSocket连接已打开！')
        //3.发送
        // wx.sendSocketMessage({
        //   data:vm.$setToken,
        //   success:function(res){
        //     console.log(res);
        //   }
        // })
      })
      wx.onSocketError(function(res){
        console.error('WebSocket连接打开失败，请检查！')
      })
      //socket 2
      // mmp.onOpen(function(res){
      //   console.log('open');
      // })
      // mmp.onError(function(res){
      //   console.log('error');
      // })
      //4.
      wx.onSocketMessage(function(res){
        console.log('socket mes ',res);
        let mes=JSON.parse((res.data).replace(/'/g, '"')).status;
        console.log(mes);
        //不中断持久的push进vuex数组
        // vm.$store.commit("socketMes",res.data);
        vm.$bus.$emit('socketMes',mes);
      })
    },
    //监听本页面的socket获取情况来获取新的列表信息..............每一个页面都需要这个操作
      //不是应该每个页面都有这个操作，而且特定的有关联数据的页面才需要。。
      //而且这里并没有作跳转中断处理。。
      //if(stopStock==true) return false;
    uploadMes(){
      this.$bus.$on('socketMes',(mes)=>{
        console.log('%c [Index] News —— Socket message ',mes)
        this.getApartmentist();
        this.getRoomAndBind();
      })
    },

    //9、测试函数————————————————————————————————
    testRoute(){
      // let url = '../becomeLandlord/main'
      // wx.navigateTo({ url });
    },
    //测试prop
    propTest(mes){
      // console.log(mes);
    },
  },
  onPullDownRefresh(){
    console.log("下拉————");
    if (getCurrentPages().length != 0) {
      //刷新当前页面的数据
      getCurrentPages()[getCurrentPages().length - 1].onShow()
    }
  },
  onReachBottom(){
    console.log("上拉————");
  },
  onLoad:function(){
    console.log('%c   Index Load','color:green');
    console.log(' socket on-off ==> ',this.emitOnly);//t
    //因为比show快，所以可以初始化。。
    this.starSocket();
  },
  onReady:function(){
    // 生命周期函数--监听页面初次渲染完成
    console.log('%c   Index Ready','color:green');
  },
  onShow() {
    console.log('%c   Index Show','color:green');
    this.resetData();
    this.baseImg();
    this.getApartmentist();
    this.getRoomAndBind();
  },
  onHide(){
    console.log('   hide...index');
    this.emitOnly=true;
    // this.BLEstatus=false;
  },
  onUnload(){
    console.log('   unload...index');
    this.emitOnly=true;
    // this.BLEstatus=false;
  }
}
</script>

<style scoped>
  .main{
    height:100%;
    display: flex;
    flex-direction:column;
  }
  .container{
    height:100%;
    background-size:100% 100%;
    background-repeat:no-repeat;
    padding: 40rpx;
    box-sizing: border-box;
    /* background-image: url('../../../static/img/indexbg@3x.png'); */
  }
  .menuLink{
    width:100%;
    height:100rpx;
    background-color: #FAFAFB;
    /* position: fixed; */
    bottom:0;
    display: flex;
    border-top:1px solid #E8E8E8;
    box-sizing: border-box;
  }
  .menuLink ul,.menuLink li{
    display: flex;
  }
  .menuLink ul{
    justify-content: space-around;
    width:100%;
    /* align-content: center; */
    /* height: 100%; */
  }
  .menuLink li{
    align-items: center;
    justify-content: center;
  }
  .menuLink ul li image{
    width:68rpx;
    height:68rpx;
  }
  .top{
    display:flex;
    justify-content: space-between;
  }
  .top-text p{
    font-size: 28rpx;
    color:#545454;
  }
  p.text-bg{
    font-size: 42rpx;
    color:#282828;
    margin-bottom: 14rpx;
    font-weight: bold;
  }
  .add-device{
    align-items: center;
    display:flex;
  }
  .add-device image{
    width:50rpx;
    height:50rpx;
  }
  .lately image,.setting image,.home-one image{
    width:78rpx;
    height:78rpx;
  }
  /* 内容 */
  .content{
    margin-top: 37rpx;
    display: flex;
    /* position: relative; */
  }
  .active{
    color:#EC2727;
  }
  .lately-text,.home-one{
    /* font-size: 24rpx; */
    font-size: 18rpx;
    word-wrap: break-word;
  }
  .menu-list{
    background-color: #fff;
    padding:24rpx;
    width:126rpx;
    /* emmmmm写死是最快的解决办法。。 */
    /* height:880rpx; */
    /* overflow:  */
    /* position:relative; */
    border-radius: 12rpx;
    box-sizing: border-box;
    position: absolute;
    top:192rpx;
    /* bottom:130rpx; */
    /* 130 */
    /* bottom:800rpx; */
    transition: .5s all;
    /* top:140rpx; */
    /* 190-140 可能是字体变小的缘故？ */
  }
  /* .menu-list ul,.menu-list ul li{
    display:flex;
  } */
  .lately-def{
    /* display:flex; */
    text-align: center;
    padding-bottom:30rpx;
    border-bottom: 1px solid #C9C9C9;
  }
  .lately img{
    transition: .5s ;
  }
  .home-one{
    color:#545454;
    text-align: center;
    padding-bottom: 60rpx;
  }
  .apartment-list li:nth-of-type(1)>.home-one{
    /* padding-top:50rpx;
    border-top: 1px solid #C9C9C9; */
    padding-top: 40rpx;
  }
  .setting{
    text-align: center;
    padding-top: 17rpx;
    border-top: 1px solid #C9C9C9;
    position: absolute;
    bottom:24rpx;
    /* left:24rpx; */
  }
  /* 设备列表 */
  .room-list{
    /* margin-left: calc(18rpx + 126rpx); */
    /* height:910rpx; */
    position: absolute;
    top:192rpx;
    bottom:130rpx;
    /* 130 */
    left:184rpx;
    width:auto;
  }
  .device-info{
    transform: all .5s;
    background-color: #fff;
    margin-bottom: 18rpx;
    /* border-radius: 6px; */
    display:flex;
    padding:24rpx;
    width:526rpx;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
  }
  .info-img{
    display:flex;
    align-items:center;
    width:134rpx;
    /* height:134rpx; */
    height:160rpx;
    flex-direction:column;
    justify-content:center;
  }
  .info-img image{
    width:100%;
    height:100%;
  }
  .info-text p{
    font-size: 28rpx;
  }
  .info-text p.info-state{
    font-size: 26rpx;
    opacity: .6;
    margin-top: 35rpx;
  }
  .menuListBot{
    bottom:88rpx;
  }
  .menuIconTran{
    transform: rotateZ(2160deg);
    transition: .5s;
  }
  /* 无数据时样式优化 */
  .static-site{
    background-color: #d2d2d2;
    width:150rpx;
  }
  .static-name{
    background-color: #d2d2d2;
    width:250rpx;
  }
  .static-state{
    background-color: #d2d2d2;
    width:80rpx;
  }
  .info-img p{
    font-size: 16rpx;;
  }
  /* 为了有背景 */
  .static-info p{
    height:30rpx;
  }
  .addBottom{
    bottom:130rpx;
  }
  .bgcol{
    background-color: #C9C9C9;
  }
  /* //通知 */

  /* .notification{
    background-color: #23F18D;
    position: fixed;
    top:0;
    width:100%;
    opacity: 0;
    transition: .5s all;
  }
  .noti-text{
    text-align: center;
    padding:10rpx 0;
    color:#FEFEFE;
    font-size: 28rpx;
  }
  .notiAct{
    opacity: 1;
    transition: .5s all;
  } */
  .stop{
    margin-top: -200rpx;
  }
  /* ......... */
  .area_box{
    width:526rpx;
    height:200rpx;
    margin-bottom: 18rpx;
    border-radius: 12rpx;
    overflow: hidden;
    /* border:1px solid #F0F0F0; */
    /* box-sizing: border-box;
    overflow: hidden; */
    /* 迷至泄露背景边色 */
    /* background:#F0F0F0; */
    background-color:rgba(240,240,240,.4);
    /* background: red; */
    /* position: relative; */
    /* background-color: green; */
    /* border-color:blue; */
  }
  movable-area{
    /* position: absolute; */
    right:335rpx;
    width:861rpx;
    height:200rpx;
    border-radius: 12rpx;
    /* background-color: #F0F0F0; */
    background-color: transparent;
    overflow: hidden;
    /* border:1px solid #F0F0F0; */
    /* border-color:gold; */
    /* top:-1rpx; */
    /* box-sizing: border-box; */
    /* left: -200rpx; */
    /* 这里postion要用left不能margin */
    /* transform: translate(-1px,-1px); */
    /* background-color:#EC2727; */
  }
  movable-view{
    width:526rpx;
    /* height:186rpx; */
    height:200rpx;
    right:0;
    left:auto;
    border-radius: 12rpx;
    /* border:1rpx solid peru; */
    /* box-sizing: border-box; */
    /* margin-left: 200rpx; */
    /* left:200rpx; */
    /* border:1px solid #F0F0F0; */
    /* transform: translateY(-1rpx); */
    /* transform: translate(-1rpx,-1rpx); */
    /* border:1rpx solid #fff;*/
    /* background: blue; */
  }
  .device-info{
    /* height:208rpx; */
    /* box-sizing: border-box; */
    /* align-items: center; */
    padding:0 38rpx;
    justify-content: space-between;
    margin:0;
    height:200rpx;
    border-radius: 12rpx;
    /* width:456rpx; */
    /* border:1rpx solid #fff; */
    /* border-color: yellow; */
    /* box-sizing: border-box; */
    /* width:100%; */
    /* transform: translateY(-1rpx); */
    /* transform: translate(-1rpx,-1rpx); */
    /* box-sizing: initial; */
  }
  .operationBtn{
    position: absolute;
    right:0;
    width:335rpx;
    align-items: center;
    justify-content: center;
    top:0;
    bottom:0;
    display: flex;
  }
  .operLi{
    width:72rpx;
    height:72rpx;
    box-sizing: border-box;
    margin-right:20rpx;
    /* background-color: #fff;
    border-radius: 25%; */
  }
  .operImg{
    width:100%;
    height:100%;
  }
  /* ul,li{
    display:flex;
  } */
  .operUl{
    /* align-items: center;
    justify-content: center; */
    display: flex;
  }
  .dev-status{
    width:34rpx;
    height:24rpx;
    margin-right: 10rpx;
  }
  .info-state{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-top: 36rpx;
  }
  .info-state p{
    color:#858585;
    font-size: 24rpx;
    margin:0;
  }
  .unlineOpe{
    opacity: .5;
  }
  .apartment-list{
    display: block;
    /* top:176rpx; */
    top:166rpx;
    position:absolute;
    left:0;
    right:0;
    padding:0 24rpx;
    bottom:129rpx;
    overflow:auto;
    box-sizing: border-box;
  }
  /* .baba{
    width:400rpx;
    height:400rpx;
    background: #858585;
    border-radius: 10rpx;
    overflow: hidden;
  }
  .son{
    width:500rpx;
    height:200rpx;
    background: green;
  } */
  .status-idv{
    display: flex;
  }
  .ones-status:last-child{
    margin-left: 40rpx;
  }
  .ble-status{
    width:20rpx;
    height:24rpx;
    margin-right: 10rpx;
  }
  .info-name{
    font-size: 32rpx !important;
    color:#282828;
    margin-bottom: 16rpx;
  }
  .set-img{
    transition: .5s;
  }
  .room-name{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
  }
  .info-text{
    width:calc(100% - 144rpx);
    margin-right: 10rpx;
  }
  .no-room-sty .no-room-txt{
    height: auto;
    font-size: 36rpx;
  }
  .no-room-sty{
    justify-content: center;
  }
</style>
