<template>
  <div class="main">
    <div class="content-box">
      <div class="explain">
        <p class="explain-text value-p">手持身份证照片内的证件文字信息必须完整清晰，否则您的认证将不通过！</p>
      </div>
      <div class="card-box" @click="uploadImg">
        <!-- percent==100 -->
        <div class="two" v-if="imgUrl">
          <img :src="imgUrl" alt="" class="upload-img2">
        </div>
        <div class="one" v-else>
          <p class="tip-text vlaue-red">点击上传照片</p>
          <img src="/static/img/img-handonidcard@3x.png" alt="" class="upload-img">
          <!-- <progress :percent="percent"  show-info class="progress-style" v-if="percent>0"/> -->
        </div>
        <!-- <div class="two" v-else-if="percent>0">
          <p class="active-text">{{percent}}</p>
        </div> -->
      </div>  
      <div class="submit-btn-box">
        <button type="warn" class="submit-btn" :disabled="!btnShow" @click="goBack">继续</button>
      </div>
    </div>
    <mes></mes>
  </div>
</template>

<script>
import mes from '../../components/socketMes.vue';
export default {
  data () {
    return {
      // btnDisabled:false,      //按钮的disab
      // percent:0,              //进度条
      // percentShow:false,      //进度条显示
      // imgPath:"",
      imgUrl:"",
      btnShow:false,
    }
  },
  components: {
    mes,
  },
  computed:{
  },
  methods: {
    // 1-1、初始化.....................数据
    // 1-2、初始化...........背景图...
    // baseImg(){
    //   this.bgImgHead=this.imghead+'lockstatus_bg@3x.png';
    // },
    // 2、共用的modal等........

    // 3、数据函数..........
    uploadImg(){
      let vm=this;
      wx.chooseImage({
        count: 1, // 默认9
        sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
        sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
        success: function (res) {
          // 返回选定照片的本地文件路径列表，tempFilePath可以作为img标签的src属性显示图片
          var tempFilePaths = res.tempFilePaths
          console.log(res);
          vm.imgUrl=tempFilePaths[0];
          // vm.$store.commit("setIdCard",vm.imgUrl);
          vm.btnShow=true;
          // wx.uploadFile({
          //   url: vm.$url2+'api/system/image_upload', //仅为示例，非真实的接口地址
          //   filePath: tempFilePaths[0],
          //   name: 'icon',
          //   header: { "Content-Type": "multipart/form-data" },
          //   formData:{
          //     "path": "img_renter",
          //   },
          //   success: function(res){
          //     console.log(res);
          //   }
          // })
          // const uploadTask=wx.uploadFile({
          //   url: vm.$url2+'api/system/image_upload', //仅为示例，非真实的接口地址
          //   filePath: tempFilePaths[0],
          //   name: 'file',
          //   formData:{
          //     "access_token": vm.$store.state.rqToken,
          //     "icon":tempFilePaths[0],
          //     "path":"img_renter",
          //   },
          //   success: function(res){
          //     console.log(res);
          //     var data = res.data
          //     //do something
          //   }
          // })
          // // 
          // uploadTask.onProgressUpdate((res) => {
          //   vm.percent=res.progress;
          //   console.log('上传进度', res.progress)
          //   // console.log('已经上传的数据长度', res.totalBytesSent)
          //   // console.log('预期需要上传的数据总长度', res.totalBytesExpectedToSend)
          // })
          // wx.getImageInfo({ 
          //   src: tempFilePaths[0], 
          //   success: function (res) { 
          //     console.log(res);
          //     vm.imgUrl=res.path;
          //   } 
          // // })  
          ////////////////////上传图片用。
          // wx.getFileSystemManager().readFile({
          //   filePath: vm.imgUrl, //选择图片返回的相对路径
          //   encoding: 'base64', //编码格式
          //   success: res => { 
          //     // console.log('data:image/png;base64,' + res.data)
          //     vm.imgUrl='data:image/png;base64,' +res.data;
          //     //上传到后台
          //     let url=vm.imgUrl
          //     let data={
          //       icon:url,
          //       path:"img_renter"
          //     }
          //     vm.$https.ajax("","POST","api/system/image_upload",data).then((res)=>{
          //       console.log(res);
          //       vm.imgUrl=res.data.data.img_url;
          //     }).catch((err)=>{
          //       console.log(err);
          //     })
          //   }
          // })
        }
      })
    },
    // 4、其他函数........
    //返回
    goBack(){
      this.$store.commit("setIdCard",this.imgUrl);
      wx.navigateBack({
        delta: 1
      })
    },
  },
  onUnload(){
    console.log(' unlod 房东2')
  },
  onHide(){
    console.log('  hide 房东2')
  },
  onShow () {
    console.log('  show 房东2')
  }
}
</script>

<style scoped>
@import "../../utils/weui.css";
  img{
    width:100%;
    height:100%;
    /* display: block; */
  }
  .value-p{
    font-size: 26rpx;
    color:#858585;
    font-weight: lighter;
    /* line-height: 29rpx;
    height:29rpx; */
  }
  .vlaue-red{
    color:#FD404B;
    font-size: 30rpx;
  }
  ._p{
    font-family: SourceHanSansCN;
  }
  .content-box{
    padding:40rpx 35rpx 55rpx 35rpx;
  }
  .explain{
    margin-bottom: 40rpx;
  }
  .card-box{
    width:100%;
    /* height:415rpx; */
    background-color: #EEEEEE;
    text-align: center;
  }
  .tip-text{
    padding:60rpx 0;
  }
  .upload-img{
    width:263rpx;
    height:199rpx;
    margin-bottom: 60rpx;
  }
  .submit-btn-box{
    position: fixed;
    bottom:55rpx;
    width:calc(100% - 70rpx);
    box-sizing: border-box;
  }
  .submit-btn{
    height: 92rpx;
    line-height: 92rpx;
    border-radius: 46rpx;
    padding: 0;
    margin: 0;
    width:100%;
  }
  .progress-style{
    /* margin-top: 100rpx; */
    padding:0 40rpx;
  }
  .upload-img2{
    width:100%;
    /* min-height: 200rpx; */
    /* width:200rpx; */
    height:400rpx;
  }
</style>
