<template>
  <div class="main">
    <div class="top-content">
      <ul>
        <li>
          <p class="title">手机名称</p>
          <div class="name-idv">
            <p class="name">{{phoneName}}</p>
          </div>
        </li>
        <li>
          <p class="title">开启搜索</p>
          <div class="name-idv">
            <switch checked @change="switchOnesAct" v-model="searchData"/>
          </div>
        </li>
      </ul>
    </div>
    <div class="now-search-list">
      <p class="title-main">当前蓝牙搜索列表</p>
      <div class="dev-list-idv">
        <ul>
          <li class="list-ones" v-for="(item,index) in devList" :key=index @click="blueConcent(item)">
            <p class="right-text title">{{item.localName}}</p>
            <p class="left-text name name-idv">{{brand?item.deviceId:item.mac}}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import mes from '../../components/socketMes.vue';
export default {
  components: {
    mes
  },
  data () {
    return {
      //****************1、一般数据
      //1-1 控制数据  modal、样式、开关
      brand:true,           //安卓是true，根据平台获取deviceId
      hideStatus:false,
      searchData:true,
      // isShow:false,         //toastShow控制
      
      //1-2 存储数据
      phoneName:"",         //设备名字
      // BLEmes:"",         //toastMes
      
      //****************0、render
      //****************2、表单数据
      //****************3、rule
      //****************4、本地数据/资源
      // deviceId:"DF:24:0D:77:BD:B6",
      deviceId:"",
      serviceId:"",
      uuid:"",
      sendCommand:[],
      commandId:"",
      //设备列表
      devList:[
        // {
        //   deviceId:"123456789123456789",
        //   localName:"localName"
        // },
        // {
        //   deviceId:"deviceId",
        //   localName:"localName"
        // }
      ],

      //****************N、过期数据
      //历史连接
      // hostoryDevList:[],
      
      //****************X、组件数据 
      //（COMP-lvInput)
    }
  },
  computed:{
  },
  methods: {
    //1、公用框架模组————————————————————————————————

    //2、初始函数————————————————————————————————
    //初始
    defaultSet(){

    },
    clearDataAct(){
      Object.assign(this.$data, this.$options.data())
      // console.log(this.$data);
    },
    //官方自带的转16位方案
    ab2hex(buffer) {
      var hexArr = Array.prototype.map.call(
        new Uint8Array(buffer),
        function (bit) {
          return ('00' + bit.toString(16)).slice(-2)
        }
      )
      return hexArr.join('');
    },
    //获取设备的信息。。。平台
    sysAct(){
      let vm=this;
      wx.getSystemInfo({
        success: function(res) {
          console.log(res.brand,res.model,res.platform)
          vm.phoneName=res.model;
          res.platform=="android"?vm.brand=true:vm.brand=false;
          console.log(vm.brand,vm.phoneName);
          // vm.phoneName=res.model;
          // res.platform=="android"?vm.brand=true:vm.brand=false;
        },
        fail(res){
          console.log('获取设备信息失败');
        }
      })
    },

    //3、一般函数————————————————————————————————
    //开关控制搜索和停止。
    switchOnesAct(e){
      console.log(e.mp.detail.value);
      if(e.mp.detail.value){
        this.blueTest();
      }else{
        this.stopSearch();
      }
    },

    //***********************BLE PROJ************************ */
    //蓝牙测试。0831
    //连接监听。。包括开发者主动连接或断开连接，设备丢失，连接异常断开等等。。
    watchBLEstate(){
      let vm=this;
      console.log("  w 监听连接状态...")
      wx.onBLEConnectionStateChange(function(res) {
        // 该方法回调中可以用于处理连接意外断开等异常情况
        console.warn("  wc 连接状态发生改变...",res.connected);
        if(!res.connected){
          console.log("  wc蓝牙连接断开，传递vx，尝试重连（并不能实时修改vx的前变量值）");
          console.log("  wc蓝牙连接断开 toast")
          //这个好像是应该
          vm.$store.commit("setBLEstatus",false);
          //1
          // vm.fns.wxMsgLoad("尝试重连",true);
          //不然这玩意闪得太快了
          // setTimeout(vm.automationConcent,2000)
          //2
          // vm.fns.wxtoast("蓝牙连接断开");
          //3
          let pages = getCurrentPages(),
            currentPage = pages[pages.length-1],
            url = currentPage.route;
          if(url.indexOf("bltSearchResult")){
            vm.fns.wxMsgToast("蓝牙连接断开");
          }else{
            wx.showModal({
              title:"提示",
              content:"蓝牙连接断开，是否前往连接页",
              success:function(res){
                if(res.confirm){
                  console.log("去连接蓝牙");
                  let url='../bltSearchResult/main'
                  wx.navigateTo({url});
                }
              },
              fail:function(){
                console.log("fail",res);
              }
            })
          }
        }
      })
    },

    //初始化至搜索出列表
    blueTest(){
      this.devList=[];
      let vm=this;
      // vm.$bus.$emit('BLEmes',mes);("蓝牙已开启，准备搜索附近的蓝牙设备");
      // var wxfns={
        //初始化
        function BLEdefault(){
          wx.openBluetoothAdapter({
            success(res) {
              console.log(" bt初始化成功(已开启)...开始搜索...",res);
              console.log("check devList==>",vm.devList);
              startSearch();
            },
            fail(res){
              console.warn(' fail...设备不支持蓝牙或蓝牙未开启',res);
              vm.fns.wxMsgToast("设备不支持蓝牙，或蓝牙未开启")
            },
            complete(){
              //监听断开开启
              BLEchangeWatch();
            }
          })
        }
        //？？？ 这个到底有什么卵用
          //好像是关闭蓝牙会触发这个。。。手机关闭。硬件不知道
        //监听改变
        function BLEchangeWatch(){
          console.log(" w 监听设备器状态");
          wx.onBluetoothAdapterStateChange((res)=>{
            console.log(" w 设备器状态改变，开关蓝牙||开关搜索",res);
            // 关到开。关闭搜索和hide一起判断
            if(res.available&&!res.discovering&&!vm.hideStatus){
            // if(res.available&&!res.discovering){
              console.log(" w 蓝牙已开启，尝试自动连接,toast")
              vm.fns.wxMsgToast("蓝牙已开启，尝试自动连接")
              setTimeout(function(){
                vm.automationConcent()
              },2000);
            }
            //开到关
            else if(!res.available){
              console.log(" w 蓝牙服务出错 toast")
              vm.fns.wxMsgToast("蓝牙服务出错")
              //这里会有一个状态传给vx
              vm.$store.commit("setBLEstatus",false);
              // console.log('BLE STATUS...',vm.$store.state.BLEstatus);
            }
          })
        }
        //搜索
        function startSearch(){
          vm.fns.wxMsgLoad('持续搜索中');
          wx.startBluetoothDevicesDiscovery({
            // services: [],  //根据uuid筛选...uuid是啥子
            success(res) {
              // if(res.errCode===0){
                console.log("搜索",res)
                setTimeout(function(){
                  wx.hideLoading();
                },5000)
                // getConnectDev();
                getAllDev();
                updataNewDev();
              // }
            },
            fail(res){
              console.log("搜索失败，3s后重新搜索");
              // vm.fns.wxMsgLoad('搜索失败，3s后重新搜索');
              setTimeout(startSearch,3000);
            }
          })
        }
        function updataNewDev(){
          console.log('等待上报设备')
          //每一个新设备都上报
          wx.onBluetoothDeviceFound(function(devices) {
            console.log('new device list has founded')
            console.log(devices)
            // console.log(ab2hex(devices[0].advertisData))
            getAllDev();
          })
        }
        //???
        //获取处于连接状态的设备
        function getConnectDev(){
          console.log("正在连接的 ...before");
          wx.getConnectedBluetoothDevices({
            services: [],
            success: function (res) {
              console.log("获取处于连接状态的设备", res);
              if(res.devices.length!=0){
                res.devices.map((item)=>{
                  // console.log('item 1 ',item);
                  let arr=JSON.stringify(vm.devList),
                      json=JSON.stringify(item);
                  if(arr.indexOf(json)==-1){
                    vm.devList.push(item);
                  }
                })
              }
            }
          })
        }
        //'获取在小程序蓝牙模块生效期间所有已发现的蓝牙设备，包括已经和本机处于连接状态的设备
        function getAllDev(){
          console.log("before list");
          wx.getBluetoothDevices({
            success(res){
              console.log('获取在小程序蓝牙模块生效期间所有已发现的蓝牙设备，包括已经和本机处于连接状态的设备。');
              console.log(res);
              let arr=[];
              res.devices.map((item)=>{
                let name=item.localName||item.name;
                if(name.indexOf("CETC")!=-1||name.indexOf("TechPhant")!=-1){
                // if(item.localName!=""){
                  // console.log(item);
                  // console.log(item.advertisData);
                  // console.log(item[advertisData]);
                  // let typedArray = new Uint8Array(item.advertisData.match(/[\da-f]{2}/gi).map(function (h) {
                  //     return parseInt(h, 16)
                  // }))
                  // let buffer1 = typedArray.buffer
                  // console.log(buffer1);
                  let mmp=vm.ab2hex(item.advertisData);
                  // console.log(mmp);
                  vm.brand?(item.deviceId=item.deviceId):(item.mac=mmp);
                  arr.push(item);
                }
              })
              vm.devList=arr;
              console.log('devList...',vm.devList);
            }
          })
        }
      setTimeout(BLEdefault,1000);
      //获取状态。所以你有什么卵用。
      // wx.getBluetoothAdapterState({
      //   success: function (res) {
      //     console.log("");
      //     console.log(res)
      //   },
      //   fail:function(res){
      //     console.log('fail',res)
      //   }
      // })
    },
    //停止搜索
    stopSearch(msg){
      let vm=this;
      wx.stopBluetoothDevicesDiscovery({
        success(res) {
          console.log("停止搜索",res)
          vm.fns.wxMsgToast(msg||"搜索停止");
          vm.searchData=false;
        },
        fail(res){
          console.log("停止搜索失败");
        }
      })
    },
    //手动连接
    blueConcent(item){
      console.log('item...',item);
      let vm=this;
      // vm.brand?(item=item.deviceId):(item=item.advertisServiceUUIDs[0]);
      let mac=item.mac,
      dlid=item.deviceId;
      console.log(dlid,mac);
      vm.fns.wxMsgLoad("连接中",true);
      wx.createBLEConnection({
        // 这里的 deviceId 需要已经通过 createBLEConnection 与对应设备建立链接 
        deviceId: dlid,
        success: function (res) {
          console.log("连接成功",res);
          vm.deviceId=dlid;
          //util data deviceId****************************
          // 传给微信的也是deviceId而不需要判断，这里我需要一个额外的值传mac
          // vm.brand?(vm.fns.BLEdata.deviceId=dlid):(vm.fns.BLEdata.deviceId=mac);
          // console.log(vm.brand,vm.fns.BLEdata,vm.fns.BLEdata.deviceId);
          vm.fns.BLEdata.deviceId=dlid
          vm.brand?"":(vm.fns.BLEdata.imac=mac)
          //获取服务
          vm.getBLEDeviceServices(vm.deviceId);
        },
        fail:function(res){
          console.warn("蓝牙连接出错",res)
          vm.fns.wxMsgToast("蓝牙连接出错");
        }
      })
    },
    //自动连接（免搜索）（已搜索过的情况下才可使用）
    automationConcent(){
      let vm=this;
      console.log('自动 dlid => ',vm.deviceId);
      wx.hideLoading();
      vm.fns.wxMsgLoad("连接中",true);
      //友好化loading最少秒数 setTimeout
      setTimeout(function(){
        wx.createBLEConnection({
          deviceId: vm.deviceId,
          success(res) {
            console.log("自动连接成功,即将获取蓝牙服务",res);
            vm.getBLEDeviceServices(vm.deviceId);
            // //这里会有一个状态传给vx
            // vm.$store.commit("setBLEstatus",true);
            // setTimeout(function(){
            //   wx.navigateBack({delta: 1})
            // },2000)
          },
          fail:function(res){
            console.log("蓝牙连接出错，初始化蓝牙（自动）",res);
            wx.hideLoading();
            vm.fns.wxMsgToast("蓝牙连接出错,尝试初始化蓝牙");
            setTimeout(vm.blueTest,2000);
          }
        })
      },2000)
    },
    //蓝牙连接断开  (主动)
    closeConcent(){
      let vm=this;
      wx.closeBLEConnection({
        deviceId:vm.deviceId,
        success: function (res) {
          console.log("蓝牙连接已中断(主动)，toast",res);
          vm.fns.wxMsgToast("蓝牙连接已中断");
        },
        fail(){
          console.log("蓝牙主动断开失败");
        }
      })
    },

    //4、请求函数————————————————————————————————

    //9、测试函数————————————————————————————————
    uploadMes(){
      this.$bus.$on('socketMes',(mes)=>{
        console.log('[DeviceInfo] socket mes ',mes)
        console.log("%c [DeviceInfo] on socket GetNews.....","color:orange");
        // this.getData();
      })
    },

    //获取低功耗蓝牙设备的sevice
      // 这里有3个服务，但是配对使用的是某个固定的。即F0
    getBLEDeviceServices(deviceId) {
      console.log(" 服务开启中...");
      // this.fns.wxMsgLoad("服务开启中");
      let vm=this;
      wx.getBLEDeviceServices({
        deviceId,
        success: (res) => { //成功返回设备服务列表
          console.log(" 获取所有的服务..",res);
          for (let i = 0; i < res.services.length; i++) {
            if (res.services[i].isPrimary && res.services[i].uuid.indexOf("0000FFF0")==0) { //如果为主服务
              vm.getBLEDeviceCharacteristics(deviceId, res.services[i].uuid) //调用page对象的方法，获取该主服务中的所有特征值
              vm.fns.BLEdata.serviceId=res.services[i].uuid;
              console.log(vm.fns.BLEdata.serviceId);
            }
          }
        }
      })
    },
    //获取低功耗设备服务中的所有特征值
    getBLEDeviceCharacteristics(deviceId, serviceId) {
      let vm=this;
      console.log(' 服务特征值 before');
      wx.getBLEDeviceCharacteristics({
        deviceId,
        serviceId,
        success: (res) => {
          console.log('getBLEDeviceCharacteristics success 获取连接的低功耗设备主服务特征值 成功！特征值为：', res.characteristics)
          for (let i = 0; i < res.characteristics.length; i++) { //遍历特征值
            let item = res.characteristics[i]
            //如果该特征值支持read操作
            //获取低功耗蓝牙设备的特征值的二进制数值
              //据说这玩意是notify改变触发的东西。
            if (item.properties.read) {         
              wx.readBLECharacteristicValue({   
                deviceId,                       //蓝牙设备id
                serviceId,                      //蓝牙设备特征值对应服务的 uuid
                characteristicId: item.uuid,    //低功耗蓝牙设备特征值的 uuid
                success: function (res) {
                  console.log('1、read ok =>', res)
                }
              })
            }
            //如果该特征值支持写入
            //调用低功耗特征值写入接口
            if (item.properties.write) {        
              // this.setData({ //设置page对象的data为：
              //   canWrite: true
              // })
              // this._deviceId = deviceId
              // this._serviceId = serviceId
              // this._characteristicId = item.uuid //特征值id
              // this.writeBLECharacteristicValue()
              vm.serviceId=serviceId;
              vm.uuid = item.uuid       //特征值id....这个是服务还是特征值。应该是2
              vm.fns.BLEdata.uuid=item.uuid;
              console.log("2、write ok =>",item);
            }
            //启用低功耗蓝牙设备特征值变化时的 notify 功能，订阅特征值
            if (item.properties.notify || item.properties.indicate) {
              wx.notifyBLECharacteristicValueChange({
                deviceId,
                serviceId,
                characteristicId: item.uuid,
                state: true,
                success (res) {
                  console.log('3、notify watch change =>', res)
                }
              })
            }
          }
          console.log("after characteristics...");
          vm.stopSearch("连接成功,即将返回");
          //这里会有一个状态传给vx
          vm.$store.commit("setBLEstatus",true);
          vm.hideStatus=true;
          setTimeout(function(){
            vm.$store.commit("BLEmes",false);
            wx.navigateBack({delta: 1})
          },2000)
          wx.hideLoading();
        },
        fail(res) {
          wx.hideLoading();
          console.error('getBLEDeviceCharacteristics fail 服务特征码出错 ', res)
        }
      })
      // 监听低功耗蓝牙设备特征值变化，必须先启用 notify 接口才能接收到设备推送的 notification
      wx.onBLECharacteristicValueChange((res) => {
        // const idx = inArray(this.data.chs, 'uuid', res.characteristicId)
        // const data = {}
        // if (idx === -1) {
        //   data[`chs[${this.data.chs.length}]`] = {
        //     uuid: res.characteristicId,
        //     value: ab2hex(res.value) //ArrayBuffer 转二进制
        //   }
        // } else {
        //   data[`chs[${idx}]`] = {
        //     uuid: res.characteristicId,
        //     value: ab2hex(res.value)
        //   }
        // }
        // data[`chs[${this.data.chs.length}]`] = {
        //   uuid: res.characteristicId,
        //   value: ab2hex(res.value)
        // }
        // this.setData(data)
        console.log("特征值变化...",res);
        let a=this.ab2hex(res.value);
        //这里原本是用来判断接收的是否为最后一个
        // console.log(a,a.substring(8,a.length-2));
        // vm.BLEendAct(a);
        this.$bus.$emit('BLEvalueChange',a);
      })
    },
  },

  onUnload(){
    // 3、
    // this.stopSearch();
    this.clearDataAct();

    // this.closeConcent();
    // this.closeBLEall();
  },
  onHide(){
  },
  onShow () {
    // this.blueTest();

    // 3、
    this.automationConcent();
    this.sysAct();
    this.watchBLEstate();
  }
}
</script>

<style scoped>
@import "../../utils/weui.css";
.main{
  padding:55rpx 40rpx 0 40rpx;
}
li{
  padding:20rpx 0;
  border-bottom:1px solid #D2D2D2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-main{
  border-bottom:1px solid #D2D2D2;
  margin-top: 48rpx;
  padding-bottom: 25rpx;
  color:#858585;
  font-size: 30rpx;
}
.title{
  font-size: 34rpx;
  color:#282828;
  max-width:40%;
  overflow: auto;
}
.name{
  font-size: 30rpx;
  color:#858585;
  /* max-width:60%; */
  overflow: auto;
  /* min-width:200rpx; */
  /* text-align: right; */
}
.name-idv{
  max-width:60%;
}

</style>