<template>
  <div class="page">
    <div class="main">
      <div class="apartment-list">
        <div class="pw-list">
          <div class="pw-info">
            <img src="/static/img/img-gestlistbg@3x.png" alt="" class="room-img">
            <!-- :style="{backgroundImage:'url('+imgUrl+')'}"  -->
            <!-- <img src="/static/img/img-gestlistbg@3x.png" alt="" class="room-img"> -->
            <!-- <img :src="url" alt="" class="room-img"> -->
            <!-- :style="{backgroundImage:'url('+imgUrl+')'}" -->
            <!-- <p class="bind-device-img" @click="bindDevice" v-if="noLength">绑定设备</p> -->
            <div class="top">
              <p class="apartment-name">{{idInfoAll.name || "name"}}</p>
            </div>
            <div class="apartment-detail">
              <div class="detail-one" v-for="(items,indexs) in roomList" :key=indexs @click="menuOnesAct(items)">
                <div class="one-img">
                  <img :src="items.url" alt="">
                </div>
                <!-- &&Object.keys(idInfoAll.device_lock).length==0 -->
                <!-- <div class="one-text" v-if="indexs==3&&noLength">
                  <picker @change="bindPickerChange" :value="deviceItem.index" :range="deviceItem.array">
                    <view class="picker">
                      {{deviceItem.array[deviceItem.index]}}
                    </view>
                  </picker>
                </div> -->
                <p class="one-text">{{items.text}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="pw-info-null" v-else>
        <p class="nullInfoText one-text">这个人很穷还没有房</p>
      </div> -->
      <div class="device_lock" @click="clickDeviceLock">
        {{device_lock ? device_lock.name : ''}}

        <div v-if="device_lock == null" class="xj">未绑定? <img src="/static/img/icon-camera@3x.png"></div>
      </div>
      <div class="rental-content">
        <div class="rental-top">
          <p class="rental-title">租客信息</p>
          <div class="rental-top-img">
            <img src="/static/img/icon_add@3x.png" alt="" @click="goAddRenter">
          </div>
        </div>
        <!-- 默认 -->
        <!-- <div class="rental-lists static-renter-info" v-if="renterList==''">
          <div class="rental-card cardBg">
            <div class="top-img">
              <p class="top-img-text"></p>
            </div>
            <div class="rental-info-top">
              <div class="rental-img">
              </div>
              <p class="rental-name"></p>
              <p class="person-card rental-text"></p>
            </div>
            <div class="rental-ones" v-for="(items,indexs) in rentalInfo" :key=indexs>
              <div class="ones-img">
              </div>
              <div class="rental-text">
                <p class="ones-text"></p>
              </div>
            </div>
          </div>
        </div> -->
        <!-- 默认2 -->
        <div class="rental-lists static-renter-info" v-if="renterList==''">
          <div class="rental-card cardBg">
            <div class="static-idv">
              <img src="/static/img/icon-tenant@3x.png" alt="" class="static-renter-img">
              <p class="static-renter-text">暂无租客信息</p>
            </div>
          </div>
        </div>
        <!-- 主体 -->
        <div class="rental-lists" v-else>
          <div class="rental-card" v-for="(item,index) in renterList" :key=index
               :class="[item.bgfff?'cardBg':'',item.trans?transStyle:'']" :style="'top:'+110*index+'rpx'"
               @click="showCard(renterList,item,index)">
            <!-- @click="showCard(index,item)" -->
            <!-- [(index!=testList.length-1)?'cardBg':'',(item.trans?((item.status!=1)?'styleTrans210':'styleTrans252'):'')] -->
            <div class="top-img" v-if="item.status===2">
              <img src="/static/img/img-reviewfail@3x.png" alt="">
              <p class="top-img-text">{{item.err}}</p>
            </div>
            <div class="rental-info-top">
              <div class="rental-img">
                <img :src="item.url||'/static/img/my-ava@3x.png'" alt="">
                <!-- <img src="" alt=""> -->
              </div>
              <p class="rental-name">{{item.name}}</p>
              <p class="person-card rental-text" v-if="!item.focus">{{item.id_card_num}}</p>
              <div class="action-top-txt" v-else>
                <p class="edit-txt action-txt" @click.stop="goInfoRenter(item)">编辑</p>
                <p class="del-txt action-txt" @click.stop="delRenterBefore(item)">删除</p>
              </div>
            </div>
            <div class="rental-ones" v-for="(items,indexs) in rentalInfo" :key=indexs>
              <div class="ones-img">
                <img :src="items.url" alt="">
              </div>
              <div class="rental-text">
                <p class="ones-text error-text"
                   v-if="indexs==rentalInfo.length-1 && (item.fingerprint=='00000000' || item.fingerprint=='')">
                  {{item.fingerprint ? "失败指纹" : "未录入"}}</p>
                <!-- <p class="ones-text error-text" v-if="item.fingerprint=='000000' || indexs==rentalInfo.length-1">未录入</p> -->
                <p class="ones-text" v-else>{{item[items.text]}}</p>
              </div>
            </div>
            <div class="rental-warn rental-ones" v-if="item.status==2">
              <div class="warn-img">
                <img src="/static/img/icon-notice@3x.png" alt="">
              </div>
              <p class="warn-text">{{item.errMsg}}</p>
            </div>
            <div class="btn-idv rental-ones">
              <!-- <div class="del-img btn-img"  @click.stop="delRenter(item)">
                <img src="/static/img/icon_add@3x.png" alt="">
              </div> -->
              <!-- <div class="info-img btn-img" @click.stop="goInfoRenter(item)">
                <img src="/static/img/icon_add@3x.png" alt="" >
              </div> -->
            </div>
            <div class="clearfloat"></div>
          </div>
        </div>
      </div>
      <div class="contract-content" v-if="renterList!=''">
        <div class="contract-list">
          <ul>
            <li class="type2-same-list">
              <p class="contract-title">租贷管理</p>
              <div class="contract-info-div">
                <!-- <p class="contract-info">{{contractInfo}}</p> -->
                <div class="contract-icon">
                  <img src="/static/img/icon.png" alt="">
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <mes></mes>
  </div>
</template>

<script>
  import mes from '../../components/socketMes.vue';

  export default {
    components: {
      mes,
    },
    data() {
      return {
        noLength: false,
        idInfoAll: {},              //详情
        // idInfo:{},                //基本详情
        renterList: [],            //多了个info应该不会死吧
        transStyle: '',
        contractInfo: '',
        imgUrl: "",              //房间卡片背景图
        deviceItem: {
          index: 0,
          array: [],
          arrayId: [],
        },
        //测试数据
        // apartmentList:[
        //   {
        //     title:'青年公寓',
        //     site:'20号',
        //     owner:'小明',
        //     phone:'0769',
        //     deviceName:'99',
        //   },
        // ],
        testList: [
          {
            url: "/static/img/icon-glist-user@3x.png",
            name: "老王A",
            idCard: '440124123******0123',
            phone: '139****1234',
            fingerprint: 'CR-00009898',
            status: 1,
            errMsg: "",
            err: "",
            contract: "No.1",
            bgfff: false,
            trans: false,
          },
          {
            url: "/static/img/icon-glist-user@3x.png",
            name: "老王B",
            idCard: '440',
            phone: '133',
            fingerprint: 'CR',
            status: 2,
            errMsg: "身份证号码与姓名不匹配",
            err: "审核失败",
            contract: "No.2",
            bgfff: false,
            trans: false,
          },
          {
            url: "/static/img/icon-glist-user@3x.png",
            name: "老王C",
            idCard: '440',
            phone: '133',
            fingerprint: 'CR',
            status: 1,
            errMsg: "",
            err: "",
            contract: "No.3",
            bgfff: false,
            trans: false,
          },
          {
            url: "/static/img/icon-glist-user@3x.png",
            name: "老王D",
            idCard: '440',
            phone: '133',
            fingerprint: 'CR',
            status: 2,
            errMsg: "身份证号码与姓名不匹配",
            err: "审核失败",
            contract: "No.4",
            bgfff: false,
            trans: false,
          },
        ],
        //固定数据url........text是testList的键
        roomList: [
          {
            url: "/static/img/icon-glist-map@3x.png",
            text: "site",
            name: "site",
          },
          {
            url: "/static/img/icon-glist-user@3x.png",
            text: "owner",
          },
          {
            url: "/static/img/icon-glist-photo@3x.png",
            text: "phone",
            name: "phone",
          }
        ],
        // rentalInfo
        rentalInfo: [
          {
            url: "/static/img/icon-ginfo-idnum@3x.png",
            text: "id_card_num",
          },
          {
            url: "/static/img/icon-ginfo-photo@3x.png",
            text: "mobile",
            //这里要对应数据
          },
          {
            url: "/static/img/icon-ginfo-finger@3x.png",
            text: "fingerprint",
          },
        ],

      }
    },
    computed: {
      device_lock() {
        if (this.idInfoAll.device_lock) {
          return this.idInfoAll.device_lock;
        }
        return null;
      }
    },
    methods: {
      clickDeviceLock() {
        //设备存在则跳转否则调用扫码
        if (this.device_lock) {
          const url = '../deviceInfo/main';
          wx.navigateTo({url})
          return;
        }
        wx.scanCode({
          success: (res) => {
            console.log(res)
          }
        })
      },
      // 假装本地数据初始化
      setRenterStyle() {
        // 最后一个背景白
        this.renterList[this.renterList.length - 1].bgfff = true;
        this.renterList[this.renterList.length - 1].focus = true;
      },
      defaultData() {
        Object.assign(this.$data, this.$options.data())
        // console.log(this.$data);
      },
      getResource() {
      },
      showCard(list, item, index) {
        // renerInfo
        // 全部为灰色
        console.log(item, index, list);
        //判断是否带有error，有跟没有是2个style（这里是没固定高度影响的）
        item.status != 1 ? this.transStyle = 'styleTrans252' : this.transStyle = 'styleTrans210'
        //全部设置为不带 白色背景
        list.forEach((arr) => {
          arr.bgfff = false;
          arr.focus = false;
        })
        let indexs = index;
        // 后面的。展开，如果已经展开，则收缩
        for (indexs; indexs < list.length; indexs++) {
          list[indexs].trans = true;
          console.log("...else")
        }
        //前面要改成false.....前面的取消style,后面的添加style......因为上面++了
        for (let num = 0; num < index; num++) {
          list[num].trans = false;
          console.log(num);
        }
        // 自身取消动画。点击的变白。
        item.trans = false;
        item.bgfff = true;
        item.focus = true;

        // 租贷的信息
        // this.contractInfo=item.contract;
        console.log(list, this.renterList);
        //强制刷新
        this.$forceUpdate()
      },
      //获取设备的列表。。。。
      getDeviceList() {
        let vm = this;
        this.fns.wxMsgLoad();
        let data = {};
        vm.$https.ajax(1, "POST", "api/device/get_device_lists", data).then((res) => {
          console.log('deivceList...to select', res);
          wx.hideLoading();
          let rs = res.data.data;
          rs.map((item) => {
            vm.deviceItem.array.push(item.name);
            vm.deviceItem.arrayId.push(item.deviceId);
          })
        }).catch((err) => {
          console.log(err);
        })
        // wx.request({
        //   url: vm.$url2+'api/device/get_device_lists', //仅为示例，并非真实的接口地址
        //   data: {
        //     "access_token":vm.$store.state.rqToken,
        //   },
        //   success: function(res) {
        //     console.log('deivceList...to select',res);
        //     wx.hideLoading();
        //     let rs=res.data.data;
        //     rs.map((item)=>{
        //       vm.deviceItem.array.push(item.name);
        //       vm.deviceItem.arrayId.push(item.deviceId);
        //     })
        //   }
        // })
      },
      // wx.hideLoading();
      //房间详情
      getData() {
        //先置空一下
        this.renterList = [];
        let roomId = this.$store.state.rid;
        let vm = this;
        this.fns.wxMsgLoad();

        let data = {
          "rid": roomId,
        };
        vm.$https.ajax(1, "GET", "api/room/room_detail", data).then((res) => {
          // vm.getResource();
          wx.hideLoading();
          wx.stopPullDownRefresh();
          console.log(' [room_detail] RES', res);
          let rs = res.data.data;
          vm.idInfoAll = rs;
          wx.setNavigationBarTitle({
            title: vm.idInfoAll.name
          })
          //这里很神奇，居然设置为空，因为空和{}接收不一样。。。然后拿到的是json 2个合同
          if (rs.contract.length == 0 || Object.keys(rs.contract[0].renter).length == 0) {
            vm.renterList = ""
          } else {
            //这里直接获取里面的renter填入的时候就方便多了。
            let arr = [];
            rs.contract.map((item) => {
              if (Object.keys(item.renter).length > 0) {
                // item.renter.cid=item.no;
                arr.push(item.renter);
              }
            })
            vm.renterList = arr;
          }
          console.log('idInfoAll...', vm.idInfoAll)
          console.log('renderList...', vm.renterList);
          //替换vuex info...
          //emmm?
          vm.$store.commit('setRommInfo', vm.idInfoAll);
          // 房间的数据
          vm.roomList.map((item) => {
            switch (item.text) {
              case "site":
                item.text = vm.idInfoAll.apartment.address;
                break;
              case "owner":
                item.text = vm.idInfoAll.organization.name;
                break;
              case "phone":
                item.text = vm.idInfoAll.apartment.tel;
                break;
            }
          })
          console.log(vm.roomList);
          // vm.$forceUpdate()
          //必须在这里把id传给vx。。跳转详情和添加租客的时候都用到。
          vm.$store.commit("setDlid", vm.idInfoAll.device_lock.dlid);
          // vm.fns.BLEdata.dlid=vm.idInfoAll.device_lock.dlid
          //租客Style
          if (vm.renterList == "") return false;
          vm.renterList.map((item) => {
            item.bgfff = false;
            item.trans = false;
            item.status = 1;
            item.err = ""
          })
          vm.setRenterStyle();
        }).catch((err) => {
          console.log(err);
        })

        // wx.request({
        //   // url: vm.$url2+'api/room/room_detail', //仅为示例，并非真实的接口地址
        //   // data: {
        //   //   "access_token":vm.$store.state.rqToken,
        //   //   "rid":roomId,
        //   // },
        //   // success: function(res) {
        //   //   wx.hideLoading();
        //   //   wx.stopPullDownRefresh();
        //   //   console.log(' [room_detail] RES',res);
        //   //   if(res.data.code!=0) return false;
        //   //   let rs=res.data.data;
        //   //   vm.idInfoAll=rs;
        //   //   wx.setNavigationBarTitle({
        //   //     title: vm.idInfoAll.name
        //   //   })
        //   //   //这里很神奇，居然设置为空，因为空和{}接收不一样。。。然后拿到的是json 2个合同
        //   //   if(rs.contract.length==0||Object.keys(rs.contract[0].renter).length==0){
        //   //     vm.renterList=""
        //   //   }else{
        //   //     //这里直接获取里面的renter填入的时候就方便多了。
        //   //     let arr=[];
        //   //     rs.contract.map((item)=>{
        //   //       if(Object.keys(item.renter).length>0){
        //   //         arr.push(item.renter);
        //   //       }
        //   //     })
        //   //     vm.renterList=arr;
        //   //   }
        //   //   console.log('idInfoAll...',vm.idInfoAll)
        //   //   console.log('renderList...',vm.renterList);
        //   //   //替换vuex info...
        //   //     //emmm?
        //   //   vm.$store.commit('setRommInfo',vm.idInfoAll);
        //   //   // 房间的数据
        //   //   vm.roomList.map((item)=>{
        //   //     switch(item.text){
        //   //       case "site":
        //   //         item.text=vm.idInfoAll.apartment.address;
        //   //         break;
        //   //       case "owner":
        //   //         item.text=vm.idInfoAll.organization.name;
        //   //         break;
        //   //       case "phone":
        //   //         item.text=vm.idInfoAll.apartment.tel;
        //   //         break;
        //   //       case "deviceName":
        //   //         console.log(Object.keys(vm.idInfoAll.device_lock).length);
        //   //         if(Object.keys(vm.idInfoAll.device_lock).length!=0){
        //   //           item.text=vm.idInfoAll.device_lock.name
        //   //         }else{
        //   //           item.text="未绑定"
        //   //         }
        //   //         break;
        //   //     }
        //   //   })
        //   //   console.log(vm.roomList);
        //   //   // vm.$forceUpdate()
        //   //   // vm.roomList[0].text=vm.idInfoAll.apartment.address;
        //   //   // vm.roomList[1].text=vm.idInfoAll.organization.name;
        //   //   // vm.roomList[2].text=vm.idInfoAll.apartment.tel;
        //   //   // Object.keys(vm.idInfoAll.device_lock).length!=0?vm.roomList[3].text=vm.idInfoAll.device_lock.name:vm.roomList[3].text="(未绑定)";
        //   //   //租户数据
        //   //   // vm.rentalInfo[0].text=vm.renterList.id;
        //   //   // vm.rentalInfo[1].text=vm.renterList.mobile
        //   //   // vm.rentalInfo[2].text=vm.renterList.status||"未录入";

        //   //   //原本用于绑定设备的代码
        //   //   // if(Object.keys(vm.idInfoAll.device_lock).length==0){
        //   //   //   vm.noLength=true;
        //   //   // }
        //   //   // else{
        //   //   //   vm.noLength=false;
        //   //   // }
        //   //   //必须在这里把id传给vx。。跳转详情和添加租客的时候都用到。
        //   //   vm.$store.commit("setDlid",vm.idInfoAll.device_lock.dlid);
        //   //   // vm.fns.BLEdata.dlid=vm.idInfoAll.device_lock.dlid

        //   //   //租客Style
        //   //   if(vm.renterList=="") return false;
        //   //   vm.renterList.map((item)=>{
        //   //     item.bgfff=false;
        //   //     item.trans=false;
        //   //     item.status=1;
        //   //     item.err=""
        //   //   })
        //   //   vm.setRenterStyle();
        //   // }
        // })
      },
      //绑定设备到门锁
      bindDevice() {
        let vm = this;
        this.fns.wxMsgLoad("绑定中");
        wx.request({
          url: vm.$url2 + 'api/room/room_edit',
          method: "POST",
          data: {
            "access_token": vm.$store.state.rqToken,
            "rid": vm.idInfoAll.rid,
            "dlid": vm.deviceItem.arrayId[vm.deviceItem.index],
            "name": vm.idInfoAll.name,
            "room_type": vm.idInfoAll.room_type,
            "aid": vm.idInfoAll.apartment.aid,
            "price": vm.idInfoAll.price,
            "space": vm.idInfoAll.space,
            "floor": vm.idInfoAll.floor,
            "config": vm.idInfoAll.config,
            "desc": vm.idInfoAll.desc,
            "picture": vm.idInfoAll.picture
          },
          success: function (res) {
            console.log(res);
            wx.hideLoading();
            if (res.data.code != 0) return false;
            let rs = res.data.data;
            vm.mesToast("绑定设备成功");
            vm.getData();
          }
        })
      },
      //去租客添加
      goAddRenter() {
        const url = '../addRenter/main'
        // const url = '../deviceInfo/main'
        wx.navigateTo({url})
      },
      //select公用
      bindPickerChange: function (e) {
        this.deviceItem.index = e.mp.detail.value;
        console.log(e, this.deviceItem.index);
      },

      menuOnesAct(item) {
        let vm = this;
        switch (item.name) {
          case "phone":
            vm.fns.wxMsgToast();
            break;
        }
      },

      delRenterBefore(item) {
        let msg = "确定删除 " + item.name + "(" + item.mobile + ")?",
          vm = this;
        wx.showModal({
          title: '提示',
          content: msg,
          confirmText: '删除',
          cancelText: '取消',
          success: function (res) {
            if (res.confirm) {
              vm.delRenter(item);
            } else if (res.cancel) {
              console.log("已取消删除");
            }
          }
        })
      },
      delRenter(item) {
        console.log(item);
        let vm = this,
          ruid = item.renter_id;
        let data = {
          "renter_id_lists": [ruid],
        }
        vm.$https.ajax(1, "POST", "api/renter/del_renter", data).then((res) => {
          console.log('[initialize] del_renter >> RES', res);
          vm.fns.wxMsgToast("删除成功");
          vm.getData();
        })
      },

      //备份一下我的ruid然后跑去add里面转为编辑模式。
      goInfoRenter(item) {
        console.log(item);
        let vm = this,
          url = '../addRenter/main';
        vm.$store.commit("setRuid", item.renter_id)
        // vm.$store.commit("setCid",item.cid)
        wx.navigateTo({url})
      },
      test0918() {
        let pages = getCurrentPages(),
          currentPage = pages[pages.length - 1],
          url = currentPage.route;
      },
    },
    onPullDownRefresh() {
      console.log("下拉");
      if (getCurrentPages().length != 0) {
        //刷新当前页面的数据
        getCurrentPages()[getCurrentPages().length - 1].onShow()
      }
    },
    onReachBottom() {
      console.log("上拉");
      // this.getData(this.focusIndex,1);
    },
    onShow() {
      // test
      this.test0918();
      //test end
      this.getResource();
      this.getData();
      this.defaultData();
    },
    onUnload() {
      console.log('unload..')
    },
    onHide() {
      console.log('hide..')
    }
  }
</script>


<style scoped>
  img{
    width:100%;
    height:100%;
  }
  .page{
    background:#F6F7F8;
    min-height: 100%;
    height:auto;
  }
  .apartment-list,.rental-content{
    padding:30rpx;
  }
  /* paws-->room */
  .pw-info{
    margin:0;
    margin-top:35rpx;
    position: relative;
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: auto 100%;
  }
  .pw-info:first-child{
    margin-top: 0rpx;
  }
  .pw-list{
    /* padding:40rpx 30rpx; */
    /* padding: 40rpx; */
    /* background-image: url("/static/img/img-gestlistbg@3x.png"); */
    /* background-repeat: no-repeat;
    background-position: right;
    background-size: 50% 100%; */
  }
  .main{
  }
  .apartment-detail{
    margin:0;
    position:absolute;
    top:113rpx;
    left:40rpx;
  }
  img{
    width:100%;
    height:100%;
  }
  /* begin */
  .apartment-list{

  }
  .pw-info{
    /* border:1rpx solid rgba(139,139,139,0.25); */
    border-radius:10rpx;
    box-shadow:-4rpx 0 16rpx rgba(139,139,139,0.25);
    background-color: #fff;
  }
  .rental-img{
    width:60rpx;
    height:60rpx;
    border-radius: 50%;
    overflow: hidden;
    background-color: #F6F7F8;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .static-img{
    width:50%;
    height:50%;
  }
  .rental-info-top{
    display: flex;
    margin-bottom: 20rpx;
    align-items: center;
  }
  .rental-name{
    margin-left: 27rpx;
  }
  .ones-img,.warn-img{
    width:32rpx;
    height:32rpx;
    background-color:#F6F7F8;
  }
  .rental-card{
    /* border:1rpx solid #000; */
    padding:30rpx 35rpx;
    /* border-radius:20px; */
    background-color: #FFFFFF;
  }
  .rental-ones,.rental-warn{
    display: flex;
  }
  .rental-warn{
    padding:5rpx 35rpx 5rpx 8rpx;
    background-color: #FFF2E1;
    align-items: center;
    border-radius: 21rpx;
    float: left;
  }
  .warn-text{
    color:#FA8D00;
    font-size: 20rpx;
    margin-left: 12rpx;
  }
  img{
    display: block;
  }
  .rental-ones{
    padding:10rpx;
    display: flex;
    align-items: center;
  }
  .rental-text{
    margin-left: 40rpx;
    color:#454545;
    font-size: 30rpx;
    display:flex;
  }
  /* 重叠 */
  .rental-lists{
    position: relative;
  }
  .rental-card{
    position: absolute;
    width:100%;
    box-sizing: border-box;
    background:#F6F7F8;
    border-radius:20rpx;
    box-shadow:6rpx 0 22rpx rgba(151,151,151,0.12);
    border:2rpx solid #E5E5E5;
    transition: all .5s;
  }
  .clearfloat{
    /* display: block; */
    clear: both;
  }
  .cardBg{
    background-color: #fff;
  }
  .rental-name{
    color:#282828;
    font-size: 32rpx;
  }
  .top-img{
    width:234rpx;
    height:66rpx;
    position: absolute;
    top:0;
    right:0;
  }
  .person-card{
    text-align: right;
    flex-grow: 1;
    justify-content: flex-end;
  }
  .top-img-text{
    position: absolute;
    left:60rpx;
    top:16rpx;
    /* bottom:20rpx; */
    font-size: 24rpx;
    color:#fff;
  }
  .styleFix{
    z-index:999;
    background-color: #fff;
  }
  .styleTrans252{
    transition: all .5s;
    transform: translateY(252rpx);
  }
  .styleTrans210{
    transition: all .5s;
    transform: translateY(210rpx);
  }
  .contract-list ul{
    display: flex;
  }
  .rental-top{
    margin-bottom: 30rpx;
    display: flex;
    align-items: center;
    padding:0 10rpx;
    justify-content: space-between;
  }
  .rental-title{
    font-size:36rpx;
    font-family:SourceHanSansCN-Medium;
    color:#282828;
  }
  .rental-top-img{
    width:40rpx;
    height:40rpx;
  }
  /* 菜单same......... */
  .contract-content{
    position: fixed;
    bottom:20rpx;
    width:100%;
  }
  .type2-same-list{
    display: flex;
    padding:35rpx 40rpx;
    justify-content: space-between;
    align-items: center;
    border:1rpx solid #E5E5E5;
    flex-grow:1;
    background-color: #fff;
  }
  .contract-title{
    color:#282828;
    font-size: 30rpx;
    font-family:SourceHanSansCN-Medium;
  }
  .contract-info-div{
    display: flex;
    align-items: center;
  }
  .contract-info{
    font-size:30rpx;
    font-family:SourceHanSansCN-Regular;
    color:#454545;
  }
  .contract-icon{
    width:22rpx;
    height:22rpx;
    margin-left: 30rpx;
  }
  /*  */
  .rental-card{
    margin-bottom: 135rpx;
  }
  .rental-title{
    font-weight: bold;
    line-height: 34rpx;
    height:34rpx;
  }
  .ones-text{
    font-size: 30rpx;
    color: #454545;
  }
  /* room style........ */
  .pw-info{
    padding:35rpx 40rpx;
    height:204rpx;
  }
  .room-img{
    width:400rpx;
    height:100%;
    position: absolute;
    right: 0;
    top:0;
    /* float:right; */
    /* width:400rpx;
    height:100%; */
  }
  .apartment-name{
    font-size: 36rpx;
    font-weight: bold;
    height: 34rpx;
    line-height: 34rpx
  }
  .one-text{
    font-size: 30rpx;
    color:#454545;
    height:32rpx;
    line-height: 32rpx;
    /* font-weight: lighter; */
    width:380rpx;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;

  }
  ._p{
    font-family: SourceHanSansCN;
  }
  .top{
    margin-bottom: 45rpx;
    position:absolute;
    top:35rpx;
    left:40rpx;
  }
  .one-img{
    width:32rpx;
    height:32rpx;
    margin-right: 25rpx;
  }
  .detail-one{
    display: flex;
    align-items: center;
    /* height: 32rpx; */
    margin-bottom: 20rpx;
  }
  .nullInfoText{
    padding-top: 30rpx;
    text-align: center;
  }
  .page{
    height:100%;
  }
  .bind-device-img{
    position:absolute;
    top:10rpx;
    right:10rpx;
    font-size:30rpx;
  }
  /* 租客信息，默认 */
  .static-renter-info .rental-name{
    height:30rpx;
    width:150rpx;
    background:#F6F7F8;
  }
  .static-renter-info .person-card{
    height:30rpx;
    /* width:200rpx; */
    background:#F6F7F8;
  }
  .static-renter-info .ones-text{
    height:26rpx;
    width:300rpx;
    background:#F6F7F8;
  }
  /* 2 */
  .static-renter-info .rental-card{
    height:350rpx;
    display:flex;
    align-items:center;
    justify-content:center;
  }
  .static-renter-info .static-idv{
    text-align: center;
  }
  .static-renter-info .static-renter-img{
    width:60rpx;
    height:78rpx;
    display: inline-block;
  }
  .static-renter-info .static-renter-text{
    color:#D2D2D2;
    font-size: 30rpx;
  }
  .error-text{
    /* font-size: 30rpx; */
    color:#ED3C3C;
    font-weight: bold;
  }
  .btn-img{
    width:32rpx;
    height:32rpx;
    padding:1px;
  }
  .info-img{
    margin-left: 20rpx;
  }
  .btn-idv{
    justify-content: flex-end;
  }
  /* btn----top */
  .action-top-txt{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
  }
  .action-txt{
    font-size: 30rpx;
    padding-left: 20rpx;
  }
  .edit-txt{
    color:royalblue;
  }
  .del-txt{
    color:#ED3C3C;
  }
  .device_lock {
    width: 100%;
    background: #FFFFFF;
    height: 80rpx;
    line-height: 80rpx;
    padding:  0 40rpx;
    position: relative;
  }

  .device_lock .xj {
    color:#ED3C3C;
    position:absolute;
    top:0;
    right:120rpx;
    padding-right:72rpx;
    font-size:30rpx;
  }

  .device_lock .xj img {
    height: 47rpx;
    position: absolute;
    top:19rpx;
    right:0;
    width:66rpx;

  }
</style>
