<template>
  <div @click="click" class="ball">
    <img src="/static/img/dongjie@2x.png">
  </div>
</template>

<script>
  export default {
    data(){
      return {};
    },
    props: {

    },
    methods: {
      click() {
        this.$emit('click');
      }
    }
  }
</script>

<style scoped>
  .ball {
    position: fixed;
    width: 100rpx;
    height: 100rpx;
    right: 50rpx;
    bottom: 50rpx;
  }

  .ball img{
    height: inherit;
    width: inherit;
  }
</style>
