<template>
	<div class="main" v-if="isShow">
		<div class="icontent">
      <div class="wxtitle">
        <p class="title-sty">{{title}}</p>
      </div>
      <div class="wxcontent">
        <p class="content-sty">{{content}}</p>
      </div>
      <!-- <div class="button-cancal" @click="sonCancal">
        <p class="btn-sty">{{cancal}}</p>
      </div> -->
    </div>
	</div>
</template>
<script>
	export default {
		name: 'test',
		components: {
		},
		data() {
			return {
        //****************1、一般数据
        title:"提示",
        content:"内容",
        cancal:"取消",
        // isShow:true,
        //****************2、表单数据

				//****************3、rule

				//****************4、本地数据（伪）
			}
    },
    props:['content','isShow'],
		computed: {
		},
    methods: {
			//1、初始函数————————————————————————————————
			defaultSet(){
			},
			defaultData(){
      },
      watchBLEMes(){
        // console.log('watch');
        // this.$bus.$on('BLEmes',(mes)=>{
        //   console.log('bus,mes',mes);
        //   if(mes==false){
        //     this.isShow=false;
        //     console.log("i an hide");
        //     return;
        //   }
        //   this.content=mes;
        //   this.isShow=true;
        // })
      },
      
      //2、公用模组————————————————————————————————

      //3、一般函数————————————————————————————————
      sonCancal(){
        // this.$emit('toaClick',"mmp");
        this.isShow=false;
      },
      
      //4、请求函数————————————————————————————————

      //9、测试函数————————————————————————————————
    },
		created(){
      // this.defaultSet();
      // this.watchBLEMes();
		},
  }
</script>
<style scoped="scoped">
  .main{
    position: absolute;;
    top:0;
    bottom:0;
    right:0;
    left:0;
    background-color:rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:99;
  } 
  .icontent{
    /* display: flex; */
    /* padding:30rpx; */
    background-color: #fff;
    transform: translateY(-50rpx);
    text-align: center;
    width: 500rpx;
    border-radius: 10rpx;
  }
  .title-sty{
    color:#353535;
    font-weight: bold;
    font-size: 36rpx;
    padding-top:40rpx;
  }
  .content-sty{
    color:#888;
    font-size: 30rpx;
    /* padding:0 50rpx; */
    padding: 50rpx 0;
    max-width:80%;
    /* text-align: center; */
    margin:0 auto;
  }
  .btn-sty{
    border-top: 1px solid #888;
    color:#09BB07;
    font-size: 34rpx;
    padding:30rpx 0;
  }
</style>
