<template>
  <div class="notification" :class="{notiAct:notiData}" >
    <!-- noti-act有数据的时候触发这个 -->
    <p class="noti-text">{{notification}}</p>
  </div>
</template>

<script>
import codemes from '../data/codeMes.json';
export default {
  name:"socketMes",
  data () {
    return {
      notification:'',    //展示的字符串
      notiData:false,
      mesNum:0,
      wayOpen:true,       //控制逻辑是否关闭
      mesArrs:[],
      hideData:false,
      // btnCreated:false,   //控制on是否关闭..
    }
  },
  methods: {
    sockerMes(){
    //   let $this=this;
    //   console.log('mes...',$this.$store.state.mes);
    //   //控制执行完setTimeout再进行第二次赋值
    //   // for($this.mesNum;$this.mesNum<$this.$store.state.mes.length;$this.mesNum++){
    //     //
    //     // traverse();
    //     // function traverse(){
    //       console.log($this.mesNum,$this.$store.state.mes.length);
    //       $this.notiData=true;        //出来吧原谅
    //       $this.notification=$this.$store.state.mes[$this.mesNum]; //展示的字符串
    //       // console.log($this.notification,$this.mesNum,$this.$store.state.mes);
    //       setTimeout(function(){
    //         console.log('s1');
    //         $this.notiData=false;     //回去吧原谅
    //         console.log('s1 -->',)
    //         if($this.mesNum<$this.$store.state.mes.length){
    //           console.log('<');
    //           setTimeout(function(){
    //             console.log('s2');
    //             $this.mesNum++;
    //             // if()
    //             $this.sockerMes();
    //           },1000)
    //         }
    //         else{
    //           return;
    //         }
    //       },2500);
    },
    //......****
    collectMes(){
      // if(this.$store.state.socketMesSat!==true) return false;    
      // console.log(this.$store.state.socketMesSat,'  只允许第一个组件执行该方法，并且不影响on的执行。');
      // this.$store.commit("socketMes");
      // console.log("socketMes start......");
      // if(this.btnCreated) return;
      let $this=this;
      this.$bus.$on('socketMes',(mes)=>{
        // console.log(this.btnCreated);
        // this.btnCreated=true;
        if(mes==undefined) return false;
        //  0823新增识别
        let $mes=codemes.data.map((item)=>{
          if(item.code==mes.data.status){
            return item.msg;
          }
        })
        this.mesArrs.push(mes);
        console.log(this.mesArrs.length,'on => length   实时的通知数组  &  open ',this.wayOpen);
        // console.log('堆积的数据',this.mesArrs);
        //先别进去,先判断是否已经执行完，因为只能有一个在执行。
        if(this.wayOpen){
          // $this.$bus.$on('mesArrBus',(mes)=>{
            // if(this.$store.state.notifiNum!==0){
              this.dealMes();
            // }
          // });
        }
      })
    },
    dealMes(){
      this.wayOpen=false;
      let mesArr=this.mesArrs,
        $this=this;
      $this.notiData=true;        //出来吧原谅
      $this.notification=mesArr[$this.mesNum]; //展示的字符串
      console.log('notification...  ★展示的数据         ',$this.notification);
      console.log('mesArr...        ☆逻辑函数里的通知数组',mesArr);
      $this.mesNum++;
      setTimeout(function(){
        console.log('s1...Next >>  ',$this.mesNum,mesArr.length,'  判断循环还是new');
        $this.notiData=false;     //回去吧原谅~2.5s
        if($this.mesNum<mesArr.length){
          console.log('if...wait 1500ms');
          setTimeout(function(){
            console.log('s2...——————————————————————————————————',);
            if($this.hideData){
              console.log('stop btc.....遍历已中断');
              console.log('最后的值.....End >> ',$this.mesNum,$this.mesArrs);
              return false;
            }
            $this.dealMes();
            //有剩余的堆积数据（数据获取时间比展示时间短导致）
          },1000)
        }
        else if($this.mesNum==mesArr.length){
          console.log('else if...wait 1500ms');   
          setTimeout(function(){
            console.log('s2...——————————————————————————————————');
            // bug 应该是这里....但是wayOpen也不会执行接收函数了啊，因为已经移除监听...
            if($this.hideData){
              console.log('刚好遍历完....跳转');
              console.log('最后的值.....End >> ',$this.mesNum,$this.mesArrs);
              return false;
            }
            $this.wayOpen=true;
            // $this.btnCreated=true;
            //如果循环完则让接收数据的方法开始调用。arr和num都是延续的。
            //已无堆积数据，开放逻辑接口，准备下次数据接收到的处理
          },1000)
        }
        else{
          console.log('else...none');//这个应该是不会触发的。
          return;
        }
      },2500);
    },
    setRest(){
      //1执行
      this.mesNum=this.$store.state.notifiNum;
      this.mesArrs=this.$store.state.mesArr;
      console.log('rest ok',this.$store.state.mesArr,this.$store.state.notifiNum)
			// this.$bus.$emit('mesArrBus',this.$store.state.notifiNum);
      // //2执行
      // this.$bus.$on('mesArrBus',(mes)=>{
      //   this.mesNum=this.$store.state.notifiNum;
      //   this.mesArrs=this.$store.state.mesArr;
      //   console.log('rest ok 2',this.$store.state.mesArr,this.$store.state.notifiNum)
      // })
    }
  },
  mounted() {
    // this.sockerMes();
    // this.collectMes();
    // console.log('mounted')
  },
  // 生命周期函数--监听页面加载
  onLoad:function(options){
    console.warn("   mes onLoad");
    // if(!this.hideData) //放置第二次false进来还执行
    // this.$bus.$on()//on了bus就活了。但是需要wayOpen来执行逻辑，
    this.setRest();
    this.wayOpen=true;
    this.hideData=false;
    this.collectMes();
  },
  // 生命周期函数--监听页面初次渲染完成
  onReady:function(){
    console.warn("   mes onReady");
  },
  // 生命周期函数--监听页面显示
  onShow:function(){
    console.warn("   mes onShow");
    // if(!this.hideData) 
    this.setRest();
    // this.$bus.$on('socketMes')
    this.wayOpen=true;
    this.hideData=false;
    this.collectMes();
  },
  // 生命周期函数--监听页面隐藏
  onHide:function(){
    console.warn("   mes onHide");
    this.hideData=true;
    this.$bus.$off()
    console.log(' [Socket] 传过去的值 => ',this.mesNum,this.mesArrs);
    this.$store.commit("notifiData",{num:this.mesNum,arr:this.mesArrs});
    // this.setRest();
    console.log('open..',this.wayOpen);
    this.wayOpen=true;
  },
  onUnload:function(){
    // 生命周期函数--监听页面卸载
    console.warn("   mes onUnload");
    this.hideData=true;
    this.$bus.$off()
    console.log(' [Socket] 传过去的值 => ',this.mesNum,this.mesArrs);
    this.$store.commit("notifiData",{num:this.mesNum,arr:this.mesArrs});
    console.log('open..',this.wayOpen);
    this.wayOpen=true;
  },
}
</script>

<style scoped>
  /* 通知 */
  .notification{
    background-color: #23F18D;
    position: fixed;
    top:0;
    width:100%;
    opacity: 0;
    transition: .5s all; 
  }
  .noti-text{
    text-align: center;
    padding:10rpx 0;
    color:#FEFEFE;
    font-size: 28rpx;
  }
  .notiAct{
    opacity: 1;
    transition: .5s all; 
  }
</style>
