<template>
  <div class="main">
     <!-- v-if="bgImgHead" -->
    <div class="head-info">
      <div class="head-img">
        <img src="/static/img/img-idcard@3x.png" alt="" >
      </div>
    </div>
    <div class="menu-list">
      <div class="menu-header">
        <p class="menu-header-title">身份证基本信息</p>
      </div>
      <div class="info-menu" v-for="(item,index) in idCardMenu" @click="menuOnesAct(item.menuName,index,1)" :key="index">
        <!-- 1+3种表单元素 -->
        <div class="menu-title" :class="item.type===0?'typeOneStyle':''">
          <p class="menu-name">{{item.menuName}}</p>
          <!-- <div class="icon-dv"> -->
            <div class="menu-li" v-if="item.type===0">
              <p class="menu-li-text value-p vlaue-red">{{item.value}}</p>
              <img src="/static/img/icon.png" alt="" class="menu-icon"></img>
            </div>
            <p class="menu-name warnInput yzm-time" v-else-if="item.yzm">{{yzmNum}}</p>
            <img class="menu-one-img" :class="item.max==6?'yzmSty':''" :src="item.img" alt="" v-else-if="item.img"  @click.stop="menuOnesAct(item.menuName,index)">
            <img class="menu-normla-img" src="/static/img/icon-ok-red@3x.png" alt="" v-else-if="item.value&&!item.warnInput">
            <img class="menu-normla-img" src="/static/img/icon-ok-gray@3x.png" alt="" v-else>
          <!-- </div> -->
        </div>
        <div class="menu-value" v-if="item.type===1">
          <input class=" value-p" :class="item.warnInput?'warnInput':''" :placeholder="item.placeholder" :disabled="item.disabled" v-model="item.value" :maxlength="item.max||20" @input="ruleForm(item,index)"/>
        </div>
        <div class="menu-value" v-else-if="item.type===2">
          <picker @change="bindSexChange" :range="array">
            <view class="picker value-p">
              {{item.value}}
            </view>
          </picker>
        </div>
        <div class="menu-value" v-else-if="item.type===3">
          <picker mode="date" :end="endDate" @change="bindDateChange">
            <view class="picker value-p" :class="item.value==''?'placeholderStyle':''">
              {{item.value==""?item.placeholder:item.value}}
            </view>
          </picker>
        </div>
      </div>
      <div class="submit-btn-box">
        <button type="warn" class="submit-btn" @click="ruleSubmit">提交</button>
      </div>
      <!-- warn -->
      <div class="warning-idv" v-if="isWarn">
        <p class="warning-txt">{{"请检查是否有漏填或出错项"}}</p>
      </div>
    </div>
    <mes></mes>
  </div>
</template>

<script>
import mes from '../../components/socketMes.vue';
export default {
  data () {
    return {
      isWarn:false,      //warn控制
      // bgImg:'',       //图片绑定数据url，状态
      // bgImgHead:'',   //图片绑定url,背景
      // 0其他各种类型,1 input,2 自定select,3 年月slect
      // 虽说别人的是一个html返回
      yzmNum:60,          //验证码
      interval:"",        //倒计时
      idCardMenu:[
        {
          menuName:"身份证号码",
          value:"",
          disabled:false,
          placeholder:"请上传身份证照片",
          type:1,
          img:"/static/img/icon-camera@3x.png",
          max:18,
          warnInput:false,
          regexp:/(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/,
        },
        {
          menuName:"姓名",
          value:"",
          placeholder:"请填写姓名",
          type:1,
          warnInput:false,
          regexp:/(^[\u4e00-\u9fa5]{2,4}$)|(^[A-Za-z]+$)/,
        },
        {
          menuName:"性别",
          value:"",
          type:2,
        },
        {
          menuName:"出生年月",
          value:"",
          placeholder:"请填写出生年月",
          type:3,
        },
        {
          menuName:"地址",
          value:"",
          placeholder:"请填写详细住址",
          type:1,
        },
        {
          menuName:"上传手持证件照片",
          value:"未上传",
          type:0,
          url:"",
        },
        {
          menuName:"手机号",
          value:"",
          disabled:false,
          placeholder:"请填写手机号",
          type:1,
          max:11,
          warnInput:false,
          regexp:/^(1[34578][0-9])\d{8}$/
        },
        {
          menuName:"验证码",
          value:"",
          placeholder:"请填写手机收到的验证码",
          type:1,
          warnInput:false,
          img:"/static/img/get_sms_code.png",
          max:6,
          yzm:false,
        },
      ],
      array:['男','女'],      //1-31日
      dateStart:'',          //限定开始
      endDate:'',
      yzmAble:true,
      //只有2个src是用到的。。
      formItem:{
        idCardSrc:"",
        idCard:0,
        name:"",
        sex:0,
        brithDate:"",
        idCardHoldSrc:"",
        phone:0,
        yzm:0,
      }
    }
  },
  components: {
    mes,
  },
  computed:{
  },
  methods: {
    // 1-1、初始化.....................数据
    // 1-2、初始化...........背景图...
    baseImg(){
      // this.bgImgHead=this.imghead+'lockstatus_bg@3x.png';
    },
    // 设置默认值
    showModalFun(){
      // 这里设置modal为true,并且给一个默认值
      let vm=this,
          date=new Date();
      // this.idCardMenu[3].value=this.idCardMenu[3].placeholder;
      // this.endDate=this.formatTime(date);
      // this.dateStart=date.getFullYear()+"-01-01"
      this.endDate=vm.fns.format(date);
      this.idCardMenu[2].value=this.array[0]
    },
    deafultData(){
      Object.assign(this.$data, this.$options.data())
      // console.log(this.$data);
    },
    // 2、共用的modal等........

    // 3、基础函数..........
    //获取手机验证码。10-5-1
    getYZM(){
      //防止二次点击
      console.log(this.idCardMenu[7].yzm);
      if(this.idCardMenu[7].yzm==true) return;
      let vm=this,
        mobile;
      vm.idCardMenu.map((item)=>{
        //窒息的遍历找菜单名
        if(item.menuName=="手机号"){
          mobile=item.value;
        }
      })
      //str
      let data={
        mobile
      };
      console.log(this.idCardMenu[7].yzm);
      vm.$https.ajax("","POST","api/system/mobile_code",data).then((res)=>{
        console.log('[initialize] mobile_code >> RES',res);
        vm.fns.wxMsgToast("验证码已发送");
        // 倒计时
        vm.idCardMenu[7].yzm=true;
        vm.yzmNum=60;
        vm.interval=setInterval(function(){
          if(vm.yzmNum!=0){
            console.log(0);
            vm.yzmNum--;
          }else{
            clearInterval(vm.interval);
            vm.idCardMenu[7].yzm=false;
          }
        },1000)
      }).catch((err)=>{
        console.log(err);
      })
    },
    //v-for index菜单判断事件
    menuOnesAct(name,index,num){
      let vm=this,
        url;
      switch(name){
        case "上传手持证件照片":
          url = '../becomeLandlord_2/main'
          wx.navigateTo({ url });
        break;
        case "身份证号码":
          if(num==1)return;
          vm.userCodeAct(index);
        break;
        case "验证码":
          //emmmm 这个1是啥子
          if(num==1)return;
          vm.getYZM();
        break;
        // case 0:
        //   wx.chooseImage({
        //     count: 1, // 默认9
        //     sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
        //     sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
        //     success: function (res) {
        //       // 返回选定照片的本地文件路径列表，tempFilePath可以作为img标签的src属性显示图片
        //       var tempFilePaths = res.tempFilePaths
        //       console.log(res);
        //       console.log(require("../../../static/img/indexbg.jpg"));
        //       let img=require("../../../static/img/indexbg.png")
        //       console.log(img);
        //       console.log(vm.$url2+'api/system/image_upload');
        //       const uploadTask=wx.uploadFile({
        //         url: vm.$url2+'api/system/image_upload', //仅为示例，非真实的接口地址
        //         filePath: tempFilePaths[0],
        //         name: 'file',
        //         formData:{
        //           "access_token": vm.$store.state.rqToken,
        //           "icon":img,
        //           "path":"apartment",
        //         },
        //         success: function(res){
        //           console.log(res);
        //           // var data = res.data
        //           //do something
        //         }
        //       })
              
        //       uploadTask.onProgressUpdate((res) => {
        //         console.log('上传进度', res.progress)
        //         // console.log('已经上传的数据长度', res.totalBytesSent)
        //         // console.log('预期需要上传的数据总长度', res.totalBytesExpectedToSend)
        //       })
        //     }
        //   })
        //   break;
      }
      // if(index===1){
      //   this.showModalFun();
      // }
      // else if(index===2){
      //   this.isPerPasw=true;
      // }
      // else if(index===3){
      //   let url='../passwordList/main'
      //   wx.navigateTo({url});
      // }
    },
    userCodeAct(num){
      let vm=this;
      wx.chooseImage({
        count: 1,                             // 默认9
        sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
        sourceType: ['album', 'camera'],      // 可以指定来源是相册还是相机，默认二者都有
        success: function (res) {
          console.log(res);
          // 返回选定照片的本地文件路径列表，tempFilePath可以作为img标签的src属性显示图片
          let  tempFilePaths = res.tempFilePaths;
          console.log(tempFilePaths[0]);
          vm.fns.wxMsgLoad("读取信息");
          wx.uploadFile({
            url: vm.$url2+'api/system/ocr_id_card', //仅为示例，非真实的接口地址
            filePath: tempFilePaths[0],
            name: 'id_card_image',
            header: { "Content-Type": "multipart/form-data" },
            // formData:{
              // "access_token": vm.$store.state.rqToken,
            // },
            success: function(res){
              wx.hideLoading();
              console.log(res);
              let rs = res.data;
              let idCardInfo=JSON.parse(rs);
              console.log(idCardInfo);
              vm.formItem.idCardSrc=idCardInfo.img_url
              vm.idCardMenu.map((item)=>{
                switch(item.menuName){
                  case "身份证号码":
                    item.value=idCardInfo.data.id_card_num;
                    item.warnInput=false;
                    break;
                  case "姓名":
                    item.value=idCardInfo.data.name;
                    item.warnInput=false;
                    break;
                  case "性别":
                    item.value=idCardInfo.data.sex;
                    break;
                  case "出生年月":
                    item.value=idCardInfo.data.brith_date;
                    break;
                  case "地址":
                    item.value=idCardInfo.data.address;
                    break;
                }
              })
            }
          })
        }
      })
    },
    //提交判断
    ruleSubmit(){
      let vm=this,
        i=0;
      vm.fns.wxMsgLoad("正在提交");
      vm.idCardMenu.map((item)=>{
        //没有属性的直接看value
        //有熟悉的看value的值是否符合reg所修改的warnInput
        // console.log(!item.warnInput,item.value)
        if(!item.warnInput&&item.value){
          i++;
        }
      })
      console.log(vm.formItem.idCardSrc,vm.formItem.idCardHoldSrc)
      if(i==vm.idCardMenu.length&&vm.formItem.idCardSrc&&vm.formItem.idCardHoldSrc){
        vm.uploadPic();
      }else{
        wx.hideLoading();
        vm.isWarn=true;
        setTimeout(function(){
          vm.isWarn=false;
        },3500);
      }
    },

    // 4、其他函数........
    //input事件。正则验证.....好像只需要验证Input
    ruleForm(item,index){
      // console.log(item.value);
      switch(item.menuName){
        case "身份证号码":
          // console.log(item.regexp.test(item.value))
          if(!item.regexp.test(item.value)){
            item.warnInput=true;
          }else{
            item.warnInput=false;
          }
          break;
        case "姓名":
          // console.log(item.regexp.test(item.value))
          if(!item.regexp.test(item.value)){
            item.warnInput=true;
          }else{
            item.warnInput=false;
          }
          break;
        case "手机号":
          // console.log(item.regexp.test(item.value))
          if(!item.regexp.test(item.value)){
            item.warnInput=true;
          }else{
            item.warnInput=false;
          }
          break;
      }
    },
    //时间选择
    bindDateChange: function (e) {
      console.log(e);
      console.log('picker发送选择改变，携带值为', e.mp.detail.value)
      let value=e.mp.detail.value;
      value=this.fns.replaceAll(value,"-","");
      this.idCardMenu[3].value=value;
    },
    bindSexChange: function (e) {
      // console.log(e);
      // console.log('picker发送选择改变，携带值为', e.mp.detail.value)
      this.idCardMenu[2].value=this.array[e.mp.detail.value];
    },
    checkIdCard(){
      // console.log(this.$store.state.idCardUrl);
      if(this.$store.state.idCardUrl!=""){
        this.idCardMenu[5].value="已添加";
        this.formItem.idCardHoldSrc=this.$store.state.idCardUrl
      }
    },
    //上传图片。。。
    uploadPic(){
      let vm=this;
      console.log(vm.$store.state.idCardUrl);
      wx.getFileSystemManager().readFile({
        filePath: vm.$store.state.idCardUrl, //选择图片返回的相对路径
        encoding: 'base64', //编码格式
        success: res => { 
          //上传到后台
          // console.log('data:image/png;base64,' + res.data)
          let imgUrl='data:image/png;base64,' +res.data;
          let data={
            icon:imgUrl,
            path:"img_renter"
          }
          vm.$https.ajax("","POST","api/system/image_upload",data).then((res)=>{
            console.log(res);
            vm.formItem.idCardHoldSrc=res.data.data.img_url;
            vm.becomeHost();
          }).catch((err)=>{
            console.log(err);
          })
        }
      })
    },
    //申请成为房东。
    becomeHost(){
      let vm=this,
        formItem={};
      vm.idCardMenu.map((item)=>{
        switch(item.menuName){
          case "身份证号码":
            formItem.idCard=item.value;
          break;
          case "姓名":
            formItem.name=item.value;
          break;
          case "性别":
            // item.value=="男"?item.value=0:item.value=1;
            formItem.sex=item.value;
          break;
          case "出生年月":
            formItem.brithDate=item.value;
          break;
          case "地址":
            formItem.address=item.value;
          break;
          case "手机号":
            formItem.phone=item.value;
          break;
          case "验证码":
            formItem.yzm=item.value;
          break;
        }
      })
      //str
      let data={
        mobile:formItem.phone,
        id_card_photo:vm.formItem.idCardSrc,
        hold_id_card_photo:vm.formItem.idCardHoldSrc,
        id_card_num:formItem.idCard,
        name:formItem.name,
        birth_date:formItem.brithDate,
        sex:formItem.sex,
        mobile:formItem.phone,
        mobile_code:formItem.yzm,
      };
      vm.$https.ajax("","POST","api/system/become_host",data).then((res)=>{
        console.log('become_host >> RES',res);
        vm.fns.wxMsgToast("申请成功，等待审核",3000);
        setTimeout(function(){
          // const url = '../initialize/index/main'
          // wx.redirectTo({url})
          wx.navigateBack({
            delta: 1
          })
        },3000);
      }).catch((err)=>{
        console.log(err);
      })
    }
  },
  onUnload(){
    console.log(' unload 申请');
    this.deafultData();
    clearInterval(this.interval);
  },
  onHide(){
    console.log(' hide 申请');
    clearInterval(this.interval);
  },
  onShow () {
    console.log(' show 申请');
    this.showModalFun();
    this.checkIdCard();
  },
}
</script>

<style scoped>
@import "../../utils/weui.css";
  img{
    width:100%;
    height:100%;
    /* display: block; */
  }
  .value-p{
    font-size: 30rpx;
    color:#282828;
    /* font-weight: lighter; */
    line-height: 29rpx;
    height:29rpx;
  }
  .vlaue-red{
    color:#FD404B;
  }
  .menu-name{
    color: #454545;
    font-size: 30rpx;
    /* font-weight: lighter; */
    line-height: 29rpx;
    height:29rpx;
  }
  ._p{
    font-family: SourceHanSansCN;
  }
  /* .......房东 */
  .head-img{
    width:100%;
    height:363rpx;
    background-color: rgb(253,64,75)
  }
  .menu-header-title{
    color:#282828;
    font-size: 42rpx;
    line-height: 40rpx;
    height: 40rpx;
    font-weight: bold;
  }
  .menu-list{
    padding:60rpx;
  }
  .menu-header{
    margin-bottom: 70rpx;
  }
  /* .icon-dv{
    width:48rpx;
    height:40rpx;
  } */
  .menu-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  input{
    /* background-color: antiquewhite; */
  }
  .menu-one-img{
    width:48rpx;
    height:40rpx;
  }
  .menu-normla-img{
    width:35rpx;
    height:35rpx;
  }
  .menu-li img{
    width:22rpx;
    height:22rpx;
  }
  .menu-title{
    margin-bottom: 10rpx;
  }
  .info-menu{
    margin-bottom: 35rpx;
  }
  .menu-value{
    /* background-color: #FD404B; */
  }
  input,.picker{
    border-bottom: 1rpx solid #D2D2D2;
    padding:30rpx 0;
  }
  .menu-li{
    display: flex;
    align-items: center;
  }
  .typeOneStyle{
    margin-bottom: 0;
    padding-bottom: 35rpx;
    border-bottom: 1rpx solid #D2D2D2;
  }
  .menu-li-text{
    margin-right: 30rpx;
  }
  .submit-btn{
    margin-top: 100rpx;
    border-radius: 46rpx;
    height: 92rpx;
    line-height: 92rpx;
    font-size: 36rpx;
    color: #fff;
    font-family: SourceHanSansCN;
    transition: width .8s;
    width:100%;
  }
  ::-webkit-input-placeholder{
    color:#B6B6B6;
  }
  /* .tiimg{
    box-sizing: border-box;
    padding:20rpx;
    width:92rpx;
    height:92rpx;
    border-radius: 50%;
    transition: all 50s;
    transform: rotateZ(99999deg);
    animation:zhuan 3000ms infinite linear;
  }
  @keyframes zhuan
  {
      0%  {transform: rotate(0deg);}
      100%{transform: rotate(360deg)}
  }
  .submit-btn-box{
    text-align: center;
  } */
  .placeholderStyle{
    color:#B6B6B6;
    font-size: 30rpx;
    height: 29rpx;
    line-height: 29rpx;
  }
  .warnInput{
    color:#FD404B;
  }
  .yzmSty{
    height:48rpx;
  }
  .yzm-time{
    line-height: 48rpx;
    height:48rpx;
  }
  /* warn */
  .warning-idv{
    transition: all .5s;
    position: fixed;
    top:0;
    left:0;
    right:0;
    background-color: #23F18D;
    padding:20rpx 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation:anim .8s;
  }
  .warning-txt{
    color:#fff;
    font-size: 30rpx;
  }
  @keyframes anim
  {
    from {opacity:0;}
    to {opacity: 1;}
  }
</style>
