<template>
  <div class="main">
    <!-- v-if="bgImgHead" -->
    <div class="head-info" :style="{backgroundImage:'url('+bgImgHead+')'}">
      <div class="state-info" :style="{backgroundImage:'url('+bgImg+')'}"
           :class="{stateOnline:(idInfo.status=='ONLINE')}">
        <p class="state">{{idInfo.status != 'ONLINE' ? '离线' : (idInfo.lock_status == 0 ? '正常' : '告警')}}</p>
      </div>
      <!-- right -->
      <div class="right-info">
        <div class="cell-info">
          <div class="cell-img same-state">
            <image src="/static/img/icon_nobattery@3x.png" alt="" v-if="idInfo.status!='ONLINE'"></image>
            <image src="/static/img/icon_battery@3x.png" alt="" v-else-if="idInfo.power>20"></image>
            <image src="/static/img/icon_lowbattery@3x.png" alt="" v-else-if="idInfo.power<20"></image>
          </div>
          <p>{{idInfo.status != 'ONLINE' ? '已离线' : idInfo.power + '%'}}</p>
        </div>
        <div class="wlan-info">
          <div class="wlan-img same-state">
            <image src="/static/img/icon_online@3x.png" alt="" v-if="idInfo.web_status==1"></image>
            <image src="/static/img/icon_offline@3x.png" alt="" v-else></image>
          </div>
          <p>{{idInfo.web_status == 1 ? '在线' : '离线'}}</p>
        </div>
        <div class="blt-state" @click="connectBLT">
          <div class="btn-img same-state">
            <image src="/static/img/icon-lockstatus-btonline@3x.png" alt="" v-if="BLEstatus"></image>
            <image src="/static/img/icon-lockstatus-btoffline@3x.png" alt="" v-else></image>
          </div>
          <p>{{BLEstatus ? '已连接' : '未连接'}}</p>
        </div>
      </div>
    </div>
    <div class="menu-list">
      <div class="info-menu" v-for="(item,index) in deviceMenuList" @click="menuOnesAct(item)" :key="index">
        <p class="menu-name">{{item.menuName}}</p>
        <div class="info-detail">
          <p>{{item.menuDetail}}</p>
          <image src="/static/img/icon.png" alt="" class="menu-icon"></image>
        </div>
      </div>
    </div>
    <!-- 遮罩 临时密码-->
    <div class="modal-big" v-if="temporaryModal" @click="modalToHide">
    </div>
    <!-- 内容 -->
    <div class=" picker-div picker600" v-if="temporaryModal">
      <div class="picker-modal">
        <p class="modal-tit">设置临时密码</p>
        <view class="section">
          <picker mode="date" :value="date" :start="dateStart" @change.stop="bindDateChange">
            <view class="picker">
              <p class="sele-text">生成日期：</p>
              <div class="sele-dv">
                <p class="select-light">{{date}}</p>
              </div>
            </view>
          </picker>
        </view>
        <view class="section">
          <picker :value="date" @change="bindDayChange" :range="array">
            <view class="picker">
              <p class="sele-text">有效天数：</p>
              <div class="sele-dv">
                <p class="select-light">{{day}}</p>
              </div>
            </view>
          </picker>
        </view>
      </div>
      <button type="warn" size bindtap="warn" class="llpw-btn" @click="getPassword">获取密码</button>
      <div class="get-pw-dv" v-if="lsText">
        <p class="introduce-mes">密码如下（点击复制）</p>
        <div class="pw-dv">
          <!-- <text class="pw-text" selectable>{{code}}</text> -->
          <p class="pw-text" @click="easyCode">{{code}}</p>
        </div>
      </div>
    </div>
    <!-- 遮罩 永久密码 -->
    <div class="modal-big" v-if="isPerPasw" @click="modalToHide">
    </div>
    <!-- 内容 -->
    <div class="picker-div picker-modal2" v-if="isPerPasw" @click="isFocus=!isFocus">
      <div class="perpetual-pw-modal">
        <p class="modal-tit per-pw-tit">设置永久密码</p>
        <div class="per-pw-content">
          <p class="introduce-mes per-pw-mes">请输入8位数字</p>
          <div class="lovely-btn">
            <!-- （COMP-lvInput) -->
            <ul class="lvul">
              <li v-for="(item,index) in 8" :key="index" class="lvli">
                <span class="lvspan" :class="isIndex==index?'activeBoder':''">{{lvInputTest[index]}}</span>
              </li>
            </ul>
            <!-- end -->
            <input type="number" class="lv-input" v-model="lvInput" maxlength=8    :focus="isFocus" @input="lovelyAct"/>
          </div>
          <button type="warn" size bindtap="warn" class="llpw-btn per-pw-btn" @click="setPassword">设置完毕</button>
        </div>
      </div>
    </div>
    <mes></mes>
  </div>
</template>

<script>
  import mes from '../../components/socketMes.vue';

  export default {
    components: {
      mes,
    },
    data() {
      return {
        //****************1、一般数据
        //1-1 控制数据  modal、样式、开关
        temporaryModal: false,   //临时密码modal 的picker
        lsText: false,           //控制随机密码html
        isPerPasw: false,        //永久密码modal
        BLEstatus: false,        //蓝牙

        //1-2 存储数据
        idInfo: {},              //设备详情.socket会更新
        //modal
        day: 1,                  //有效天数。永久密码参数
        date: '',               //有效日期，永久密码参数2（不知道这里为毛是生成日期，还是自选的。。）（而且这里还不是二选一）
        dateStart: '',           //picker，有效日期，限定开始。该值为js初始
        code: '',                //随机密码code

        //****************0、render
        //****************2、表单数据
        //****************3、rule
        //****************4、本地数据/资源
        imghead: this.$url + '/static/wxImage/',       //图片请求头。后缀为img名字
        bgImg: '',               //状态背景图.名字
        bgImgHead: '',           //黑色背景图
        array: [],               //微信的select，自定义数据，这里是1-31日
        deviceMenuList: [
          {
            menuName: "设备名称",
            menuDetail: "",
          },
          {
            menuName: "所在房间",
            menuDetail: "",
          },
          {
            menuName: "超级管理员密码",
            menuDetail: "",
          },
          // {
          //   menuName:"临时密码",
          //   menuDetail:"",
          // },
          // {
          //   menuName:"永久密码",
          //   menuDetail:"",
          // },
          {
            menuName: "密码管理",
            menuDetail: "",
          },
          {
            menuName: "门卡管理",
            menuDetail: "",
          },
          {
            menuName: "指纹管理",
            menuDetail: "",
          },
          {
            menuName: "记录管理",
            menuDetail: "",
          },
          // {
          //   menuName:"用户管理",
          //   menuDetail:"",
          // },
          {
            menuName: "设置",
            menuDetail: "",
          },
        ],

        //****************N、过期数据
        // isInter:false,          //请求轮询控制量..是旧轮询操作的一个控制量

        //****************X、组件数据
        //（COMP-lvInput)
        lvInput: '',             //input所有字段。待切割分配给span
        isFocus: false,          //input焦点。用于处理ios无法自动获焦。在点击modal的时候会取反。
        isIndex: 0,              //焦点初始位置
      }
    },
    computed: {
      //（COMP-lvInput)
      //input的所有字符串切割
      lvInputTest() {
        //把input里的string分割成每一份，让span用[index]接收每一个
        return this.lvInput.split('');
      }
    },
    methods: {
      //1、公用框架模组————————————————————————————————
      //input  （COMP-lvInput)
      lovelyFun(e) {
        console.log('lvInput e >> ', e);
        //位置对应index，控制style
        this.isIndex = e.mp.detail.cursor - 1;
        //返回到第一个之前的时候手动设置为0
        this.isIndex === -1 ? this.isIndex = 0 : '';
      },
      //自动收起键盘。
      // bindHideKeyboard(e){
      //   console.log(e);
      //   if(e.mp.detail.value.length==8){
      //     wx.hideKeyboard();
      //     console.log(e.mp.detail.value.length);
      //   }
      // },
      // 时间处理方案....弃用
      formatTime(date) {
        const year = date.getFullYear()
        let month = date.getMonth() + 1
        let day = date.getDate()
        if (month < 10) {
          month = "0" + month;
        }
        if (day < 10) {
          day = "0" + day;
        }

        const hour = date.getHours()
        const minute = date.getMinutes()
        const second = date.getSeconds()

        // const t1 = [year, month, day].map(vm.formatNumber).join('/')
        const t1 = year + '-' + month + '-' + day;
        return t1;
      },

      //2、初始函数————————————————————————————————
      //初始
      defaultSet() {
        this.BLEstatus = this.$store.state.BLEstatus;
      },
      //modal clear 临时modal初始化
      modalToHide() {
        //modal data oth
        this.customModal = false;
        this.day = 1;
        this.date = "";
        this.code = "";
        this.lsText = false;
      },
      //perpasw clear 永久modal初始化
      modalToHidePer() {
        this.isPerPasw = false;
        this.lvInput = '';
        this.isFocus = false;
        this.isIndex = 0;
      },
      // 临时密码modal显示，设置默认值
      showModalFun() {
        // 这里设置modal为true,并且给一个默认值
        let date = new Date();
        this.date = vm.fns.formatTime(date);
        this.dateStart = date.getFullYear() + "-01-01"
        for (let i = 1; i < 32; i++) {
          this.array.push(i);
        }
        this.temporaryModal = true;
      },

      //3、一般函数————————————————————————————————
      // 获取图片状态背景、关闭loading
      baseImg() {
        if (this.idInfo.status != 'ONLINE') {
          this.bgImg = this.imghead + 'lockstatus_offline@3x.png';
        } else {
          this.idInfo.lock_status == 0 ? this.bgImg = this.imghead + 'lockstatus_normal@3x.png' : this.bgImg = this.imghead + 'lockstatus_warm@3x.png';
        }
        this.bgImgHead = this.imghead + 'lockstatus_bg@3x.png';
        // wx.hideLoading();
        // console.log('门锁状态',this.bgImg);
      },
      //时间选择
      bindDateChange: function (e) {
        // mpvue的封装e。e.mp.xx
        // console.log(e);
        // console.log('picker发送选择改变，携带值为', e.mp.detail.value)
        this.date = e.mp.detail.value;
      },
      bindDayChange: function (e) {
        this.day = this.array[e.mp.detail.value];
      },
      //点击复制到粘贴板（调用wx接口)
      easyCode() {
        let vm = this;
        wx.setClipboardData({
          data: vm.code,
          success: function (res) {
            wx.getClipboardData({
              success: function (res) {
                console.log('[IDINFO] easyCode success RES', res.data) // data
                wx.showToast({
                  title: '已复制',
                  icon: 'success',
                  duration: 2000
                })
                setTimeout(vm.modalToHide, 2000);
              }
            })
          }
        })
      },
      //v-for index菜单判断事件
      menuOnesAct(item) {
        let url,
          vm = this;
        let dlid = vm.$store.state.dlid;
        switch (item.menuName) {
          case "密码管理":
            url = '../passwordList/main'
            wx.navigateTo({url});
            break;
          case "门卡管理":
            url = '../cardList/main'
            wx.navigateTo({url});
            break;
          case "指纹管理":
            // url='../cardList/main'
            // wx.navigateTo({url});
            break;
          case "记录管理":
            url = '../actRecord/main'
            wx.navigateTo({url});
            break;
          case "设置":
            url = '../settingMenu/main'
            wx.navigateTo({url});
            //蓝牙在连接并且是该设备。则直接进去
            if (dlid == vm.$store.state.dlid && vm.$store.state.BLEstatus) {
              // vm.BLEAct(115);
              url = '../settingMenu/main'
              wx.navigateTo({url});
            } else {
              console.log("没有连接蓝牙");
              url = '../bltSearchResult/main'
              wx.navigateTo({url});
            }
            break;
          case "超级管理员密码":
            if (dlid == vm.$store.state.dlid && vm.$store.state.BLEstatus) {
              vm.BLEAct(101);
            } else {
              console.log("没有连接蓝牙");
              url = '../bltSearchResult/main'
              wx.navigateTo({url});
            }
            break;
        }
      },
      connectBLT() {
        let url = '../bltSearchResult/main'
        wx.navigateTo({url});
      },

      //4、请求函数————————————————————————————————
      //实时（5s）更新详情数据，根据vuex赋值过来的info的id
      // 这玩意看来本来就是轮询才会用到，因为vuex的数据本来就可以展示完整
      getData() {
        let vm = this, dlid = vm.$store.state.dlid;
        vm.fns.wxMsgLoad();
        let data = {
          "option": "all",
          "p": 1,
          "l": 30,
        }
        vm.$https.ajax(1, "GET", "api/device/device_lists", data).then((res) => {
          wx.hideLoading();
          console.log('[Index] DeviceList ones >> RES', res);
          let rs = res.data.data;
          rs.lists.map((item, index) => {
            if (item.dlid == dlid) {
              vm.idInfo = item;
              vm.$store.commit("setSuperPsw", item.super_pwd)
              // console.log(index,item);
            }
          });
          vm.baseImg();
          // console.log(vm.idInfo.name);
          wx.setNavigationBarTitle({
            title: vm.idInfo.name
          })
          vm.deviceMenuList.map((item) => {
            switch (item.menuName) {
              case "设备名称":
                item.menuDetail = vm.idInfo.name;
                break;
              case "所在房间":
                item.menuDetail = vm.idInfo.room[0].name;
                break;
            }
          })
        }).catch((err) => {
          console.log(err);
        })
      },

      //获取密码,(随机，临时密码)
      getPassword() {
        let vm = this,
          $passwordType = 4;
        vm.fns.wxMsgLoad();
        console.log('[IDINFO] GET Pasw ARG', vm.idInfo.deviceId, vm.date, vm.day);
        wx.request({
          url: vm.$url + 'openApi/devices/lock/password',
          data: {
            "deviceId": vm.idInfo.deviceId,
            "effectiveTime": vm.date,
            "effectiveCount": vm.day,
            "passwordType": $passwordType,
            "newPwd": '',
            "deviceId": vm.idInfo.deviceId,
            "supperPwd": vm.idInfo.supperPwd,
            "action": "add",
            "lengtg": "4"
          },
          success: function (res) {
            wx.hideLoading();
            let $mes = res.data.data.errMsg;
            if (res.data.data.errCode === 0) {
              vm.lsText = true;
              console.log('[IDINFO] GET Pasw  RES', res)
              vm.code = res.data.data.password;
            }
            wx.showToast({
              title: $mes,
              icon: 'none',
              duration: 2000
            })
          }
        })
      },
      //设置永久密码    //////
      setPassword(temp) {
        let vm = this,
          $passwordType = 2;
        vm.fns.wxMsgLoad();
        console.log('[IDINFO] PerPasw ARG', vm.idInfo);
        wx.request({
          method: "POST",
          url: vm.$url2 + 'openApi/devices/lock/password',
          data: {
            "passwordType": $passwordType,
            "newPwd": '',
            "deviceId": vm.idInfo.deviceId,
            "supperPwd": vm.idInfo.supperPwd,
            "action": "add",
            "lengtg": "4"
          },
          header: {
            "accessToken": vm.$store.state.token,
          },
          success: function (res) {
            wx.hideLoading();
            console.log('[IDINFO] PerPasw RES', res.data)
            let $mes = res.data.errMsg;
            // if(res.data.code=='') vm.code="获取密码出错,获取日期重复的密码已超过3次";
            if (res.data.errCode == 0) {
              wx.showToast({
                title: '设置成功',
                icon: 'success',
                duration: 2000
              })
              // setTimeout(vm.modalToHidePer,2000);//这个是false
            } else {
              wx.showToast({
                title: $mes,
                icon: 'none',
                duration: 2000
              })
            }
          }
        })
      },
      //远程开锁
      remoteUnlock() {
        let vm = this;
        vm.fns.wxMsgLoad();
        // console.log('[IDINFO] RemoteUnlock ARG',vm.idInfo.deviceId);
        wx.request({
          method: "POST",
          url: vm.$url2 + 'api/device/remote_open',
          data: {
            "access_token": vm.$store.state.rqToken,
            "device_id": vm.idInfo.deviceId,
            "supper_pwd": vm.idInfo.supperPwd,
          },
          success: function (res) {
            wx.hideLoading();
            console.log('[IDINFO] PerPasw RES', res)
            let $mes = res.data.errMsg;
            // if(res.data.code=='') vm.code="获取密码出错,获取日期重复的密码已超过3次";
            if (res.data.errCode == 0) {
              wx.showToast({
                title: $mes,
                icon: 'none',
                duration: 2000
              })
              setTimeout(vm.modalToHidePer, 2000);//这个是false
            } else {
              wx.showToast({
                title: $mes,
                icon: 'none',
                duration: 2000
              })
            }
          }
        })
      },

      //4.9999999(主函数)
      BLEAct(category) {
        let vm = this,
          mac = vm.fns.BLEdata.deviceId,
          dlid = vm.$store.state.dlid,
          commandId = vm.fns.BLEdata.commandId;
        vm.fns.ActBLE(this, category);
        //4、server tab msg
        //后台返回。响应
        vm.$bus.$on('BLEvalueChange', (content) => {
          if (vm.fns.BLEdata.category != category) return;
          console.log("响应的是...", category);
          let $time = new Date(),
            time = vm.fns.formatTime($time),
            status = content ? 1 : 2;
          // content?status=1:status=2;
          vm.fns.BLEdata.imac ? mac = vm.fns.BLEdata.imac : "";
          let data = {
            "dlid": dlid,
            "bt_mac": mac,
            "category": category,
            "time_str": time,
            "command_id": commandId,
            "status": status,
            "content": [content]
          };
          vm.$https.ajax(1, "POST", "api/device/bt_response", data).then((res) => {
            console.log('%c bt_response RES', 'blue', res);
            wx.hideLoading();
            vm.codeMes.data.map((item) => {
              if (item.code == res.data.data.rep_code) {
                vm.fns.wxMsgToast(item.msg)
              }
            })
          }).catch((err) => {
            console.log(err);
          })

          // wx.request({
          //   method:"POST",
          //   url: vm.$url2+"api/device/bt_response",
          //   data: {
          //     "access_token":vm.$store.state.rqToken,
          //     "dlid":dlid,
          //     "bt_mac":mac,
          //     "category":category,
          //     "time_str":time,
          //     "command_id":commandId,
          //     "status":status,
          //     "content":[content]
          //   },
          //   success: function(res) {
          //     wx.hideLoading();
          //     console.log('bt_response RES',res);
          //     vm.codeMes.data.map((item)=>{
          //       if(item.code==res.data.data.rep_code){
          //         vm.fns.wxMsgToast(item.msg)
          //       }
          //     })
          //   },
          //   fail:function(res){
          //     console.log("后台响应失败..",res);
          //   }
          // })
        })
      },

      //9、测试函数————————————————————————————————
      //监听本页面的socket获取情况来获取新的列表信息
      uploadMes() {
        this.$bus.$on('socketMes', (mes) => {
          console.log('[DeviceInfo] socket mes ', mes)
          console.log("%c [DeviceInfo] on socket GetNews.....", "color:orange");
          this.getData();
        })
      },
    },
    //打开modal强行后退的操作
    onUnload() {
      this.modalToHide();
      this.modalToHidePer();
    },
    //跳转到其他页面的操作
    onHide() {
    },
    onShow() {
      this.defaultSet();
      this.getData();
      this.uploadMes();
    }
  }
</script>

<style scoped>
  @import "../../utils/weui.css";
  view._p{
    color:#333333;
  }
  .head-info{
    padding:0 98rpx;
    display:flex;
    justify-content:space-between;
    align-items: center;
    background-size:100% 100%;
    background-repeat: no-repeat;
    flex-direction:column;
    background-color: #333333;
  }
  .head-info p{
    color:#fff;
    font-size: 30rpx;
  }
  .same-state{
    margin-bottom: 20rpx;
  }
  .same-state+p{
    text-align: center;
  }
  .left-info>div:first-child,.right-info>div:first-child{
    /* margin-bottom: 60rpx; */
    text-align: center;
  }
  .left-info>div,.right-info>div{
    display:flex;
    align-items: center;
    flex-direction:column;
  }
  .left-info,.right-info{
    /* margin: 90rpx auto; */
    /* text-align: center; */
  }
  .state-info{
    width:257rpx;
    height:257rpx;
    background-size:100% 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    /* 2 */
    /* position: absolute;
    top:37rpx;
    left:50%;
    transform: translate(-50%); */
    /* 3 */
    margin:0 auto;
    margin-top: 37rpx;
  }
  .stateOnline{
    animation:mymove 3000ms infinite;
  }
  @keyframes mymove
  {
    0%  {
      transform: scale(1);
      filter: brightness(1);
    }
    /* 25% {transform: scale(1.05)} */
    50% {
      transform: scale(1.05);
      filter: brightness(1.2);
    }
    /* 75% {transform: scale(1.05)} */
    100%{
      transform: scale(1);
      filter: brightness(1);
    }
  }
  .state{
  }
  .state-info p{
    font-size: 24rpx;
  }
  .state-info p.state-about{
    position: absolute;
    bottom:-52rpx;
  }
  .stateError{
    color:#E3293B !important;
  }
  .same-state{
    width:62rpx;
    height:62rpx;
  }
  .info-menu{
    display: flex;
    padding: 30rpx 0;
    border-bottom: 1px solid #A4A4A4;
    justify-content:space-between;
    align-items: center;
  }
  .info-menu p{
    font-size: 34rpx;
    margin-left: 10rpx;
    /* font-weight:lighter; */
  }
  .info-menu .info-detail p{
    font-size: 30rpx;
    color:#858585;
  }
  .info-detail{
    display: flex;
    align-items: center;
  }
  .menu-list{
    margin: 28rpx 33rpx;
  }
  .info-detail image{
    width:22rpx;
    height:22rpx;
    margin-left: 10rpx;
  }
  .menuBorder{
    border-top:1px solid #A4A4A4;
  }

  image{
    width:100%;
    height:100%;
  }
  /* select */
  .picker{
    padding: 13px;
    background-color: #FFFFFF;
  }
  /* modal picker */
  .picker-div{
    border-radius: 30rpx;
    /* border-bottom-right-radius: 10rpx; */
    padding:40rpx 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    width:600rpx;
    /* border:1px solid #000; */
  }
  .picker-btnp{
    text-align: center;
    background-color: #fff;
    font-size: 28rpx;
    color:#09bb07;
    margin-top: 20rpx;
  }
  .modal-big{
    position: absolute;
    bottom:0;
    top:0;
    left:0;
    right:0;
    background-color: rgba(0,0,0,.5);
  }
  image.menu-icon{
    width:30rpx;
    height:22rpx;
  }
  /* 修改默认picker */
  .picker{
    /* text-align: center; */
    display:flex;
    /* padding:16rpx; */
    align-items:center;

  }
  p.select-light{
    color:#09bb07;
  }
  .sele-dv{
    display:flex;
    justify-content:center;
    flex-grow:1;
  }
  .select-light{
    /* flex-grow: 1; */
  }
  .sele-text{
    font-size: 30rpx;;
  }
  .picker-modal{
    /* border-bottom:1px solid red; */
    padding:0 40rpx;
  }
  .modal-tit{
    font-size: 40rpx;
    padding-bottom: 44rpx;
    text-align: center;
    border-bottom:1rpx solid #D2D2D2;
    font-weight: bold;
  }
  .section{
    border-bottom:1rpx solid #D2D2D2;
  }
  .llpw-btn{
    width:60%;
    border-radius: 50rpx;
    margin-top:30rpx;
    font-size: 34rpx;
  }
  p.introduce-mes{
    font-size: 26rpx;
    color:#858585;
    margin-top: 15rpx;
  }
  .pw-text{
    font-size: 48rpx;
    color:#282828;
  }
  .get-pw-dv{
    padding:0 40rpx;
  }
  .pw-dv{
    padding:30rpx 0;
    width:100%;
    background-color: #E8E8E8;
    text-align: center;
    margin-top: 22rpx;
  }
  /* modal2 */
  .per-pw-once{
    /* padding:20rpx 10rpx; */
    background-color: #E8E8E8;
    color:#282828;
    font-size: 48rpx;
    margin-right: 5rpx;
    text-align: center;
    height:88rpx;
    min-height: 88rpx;
    line-height: 88rpx;
  }
  .per-pw{
    /* display:flex;
    justify-content: space-around; */
  }
  .picker-modal2{
    padding:40rpx;
  }
  .per-pw-tit{
    padding:0;
    margin-bottom: 55rpx;
    border:none;
  }
  .per-pw-mes{
    margin:0;
    margin-bottom: 24rpx;
  }
  .per-pw-btn{
    margin-top:57rpx;
  }
  .state,.state-about{
    font-size: 20rpx;
  }
  /* 0509.该布局 */
  .right-info{
    display:flex;
    justify-content: space-around;
    margin: 15rpx 0 32rpx 0;
    width:100%;
  }
  .right-info>div{
    width:90rpx;
    /* 固定大小解决字符不对等时的不对称问题 */
  }
  /* input &&&&&&&& */
  .lvul{
    display:flex;
    justify-content: space-between;
    /* margin-top:-102rpx;   */
  }
  .lvspan{
    font-size: 40rpx;
    /* width:136rpx; */
    width:65rpx;
    height:98rpx;
    background-color: #E8E8E8;
    align-items:  center;
    justify-content: center;
    display:flex;
    box-sizing: border-box;
  }
  input.lv-input{
    height:1rpx;
    overflow: hidden;
    min-height: 1rpx;
    background-color: transparent;
    color: transparent;
    width:1rpx;
    box-sizing: border-box;
    /* margin-bottom: 98rpx; */
    margin-left:-100%;
  }
  .activeBoder{
    border:1px solid #09bb07;
  }
  .lovely-btn{
    overflow: hidden;
  }
  /* 4位数的样式。 */
  /* .picker-div{
    width:400rpx;
  }
  .lvspan{
    box-sizing: border-box;
    width:95rpx;
  }
  .per-pw-btn{
    line-height: 2;
    width:60%;
  } */
  /* end */
  /* .picker600{
    width:600rpx;
  } */
  /* 修补 */
  .menu-name{
    font-weight: normal;
  }
  /*  功能区.....开锁*/
  .function-area{
    position: absolute;
    top:27rpx;
    right:34rpx;
  }
  .fun-unlock{
    display:flex;
    align-items:center;
  }
  .fun-unlock-img{
    margin-right: 16rpx;
    width:35rpx;
    height:35rpx;
  }
  .fun-unlock-img img{
    display: block;
  }
  .white30{
    color: #fff;
    font-size: 30rpx;
  }
</style>
