<template>
  <div class="main">
    <div class="menu-list">
      <div class="info-menu" v-for="(item,index) in menuList" @click="onesMenuAct(index)" :key="index">
        <p class="normal-text">{{item.menuName}}</p>
        <div class="info-detail">
          <div class="head-img" v-if="index===0">
            <!-- <img :src="item.menuDetail" alt="" class="info-img" v-if="item.menuDetail!=''"> -->
            <open-data type="userAvatarUrl"></open-data>
          </div>
          <open-data type="userNickName" v-else-if="index===1" class="normal-text"></open-data>
          <p class="normal-text" v-else>{{item.menuDetail}}</p>
          <image src="/static/img/icon.png" alt="" class="menu-icon"></image>
        </div>
      </div>
    </div>
    <mes></mes>
  </div>
</template>

<script>
import mes from '../../../components/socketMes.vue';
export default {
  data () {
    return {
      menuList:[
        {
          menuName:"头像",
          menuDetail:"",
        },
        {
          menuName:"用户名",
          menuDetail:"",
        },
        {
          menuName:"绑定手机号",
          menuDetail:"123***",
        }
      ],
    }
  },
  components: {
    mes,
  },
  computed:{
  },
  methods: {
    //v-for index菜单判断事件
    onesMenuAct(index){
      if(index===0){
        this.goUsWeb();
      }
    },
  },
}
</script>

<style scoped>
  /* MENULIST STR */
  .info-menu{
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-bottom: 1px solid #A4A4A4;
    padding: 30rpx 0;
    margin-left:23rpx;
  }
  .info-menu>p{
    font-size: 34rpx;
    margin-left: 10rpx;
    /* font-weight: lighter; */
    color:#282828;
  }
  .info-menu .info-detail p,.info-menu .info-detail open-data{
    font-size: 30rpx;
    color:#858484;
  }
  .info-detail{
    display: flex;
    align-items: center;
  }
  .menu-list{
    margin: 28rpx 33rpx;
  }
  .info-detail>image{
    width:30rpx;
    height:30rpx;
    margin-left: 10rpx;
  }
  .menuBorder{
    border-top:1px solid #A4A4A4;
  }
  /* MENULIST END */
  .menu-img{
    width: 58rpx;
    height:58rpx;
  }
  .logo-img img{
    width:220rpx;
    height:220rpx;
  }
  .logo-text{
    color:#858484;
    font-size: 30rpx;
  }
  .logo-dv{
    margin:0 auto;
  }
  .logo-img{
    display:flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 67rpx;
    margin-top: 78rpx;
  }
  .logo-img img{
    margin-bottom: 23rpx;
  }
  .head-img{
    width:83rpx;
    height:83rpx;
    border-radius: 50%;
    background-color: #DCDCDC;
    overflow: hidden;
  }
  .head-img img{
    width:100%;
    height:100%;
  }

  /* 字体样ff */
  .num-text{
    font-family: serif;
  }
  .normal-text{
    font-family: SourceHanSansCN-Light;
  }
  /* 通知 */
  /* 这玩意应该是socket的 */
  /* .notification{
    background-color: #23F18D;
    position: fixed;
    top:0;
    width:100%;
    opacity: 0;
    transition: .5s all; 
  }
  .noti-text{
    text-align: center;
    padding:10rpx 0;
    color:#FEFEFE;
    font-size: 28rpx;
  }
  .notiAct{
    opacity: 1;
    transition: .5s all; 
  } */
</style>
