<template>
  <div class="page">
    <div class="main">
      <div class="all-list"  v-if="apartmentList.length!=0">
        <!-- 管家 -->
        <div class="pw-list">
          <div class="pw-info" v-for="(item,index) in apartmentList" :key="index">
            <img src="/static/img/img-gestlistbg@3x.png" alt="" class="room-img">
            <div class="top">
              <p class="apartment-name">{{item.title}}</p>
            </div>
            <div class="apartment-detail">
              <div class="detail-one" v-for="(items,indexs) in roomList" :key=indexs>
                <div class="one-img">
                  <img :src="items.url" alt="">
                </div>
                <p class="one-text" v-if="indexs===3">{{"共有"+item.apartmentNum+"间公寓"}}</p>
                <p class="one-text" v-else>{{item[items.text]}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pw-info-null" v-else>
        <p class="nullInfoText one-text">这个人很穷.还.没.有.房...</p>
      </div>
      <div class="add-btn" @click="goAddRoom">
        <img src="/static/img/icon_add@3x.png" alt="">
      </div>
    </div>
    <mes></mes>
  </div>
</template>

<script>
import mes from '../../components/socketMes.vue';
export default {
  data () {
    return {
      apartmentList:[
        {
          title:'青年公寓',
          site:'20号',
          owner:'小明',
          phone:'0769',
          apartmentNum:'99',
        },
        {
          title:'青年公寓2',
          site:'20号',
          owner:'小明',
          phone:'0769',
          apartmentNum:'99',
        },
      ],
      //固定数据url........text是testList的键
      roomList:[
        {
          url:"/static/img/icon-glist-map@3x.png",
          text:"site",
        },
        {
          url:"/static/img/icon-glist-user@3x.png",
          text:"owner",
        },
        {
          url:"/static/img/icon-glist-photo@3x.png",
          text:"phone",
        },
        {
          url:"/static/img/icon-glist-home@3x.png",
          text:"apartmentNum",
        }
      ],

    }
  },
  components: {
    mes,
  },
  computed:{
  },
  methods: {
    //没想到会用你那么多啊。。。
    loadSysModal(){
      wx.showLoading({
        title: '加载中',
      })
    },
    //获取密码列表信息（在每次操作之后都需要获取新的信息
    getRoomList(){
      let $this=this;
      this.loadSysModal();
      console.log('[ROOM-LIST] RoomList ARG (rqToken,)',$this.$store.state.rqToken);
      wx.request({
        url: $this.$url2+'api/apartment/apartment_lists', //仅为示例，并非真实的接口地址
        data: {
          "access_token":$this.$store.state.rqToken,
          "option":"all",
          "l":99,
          "p":1,
        },
        success: function(res) {
          console.log(' [room-list] RES',res);
          wx.hideLoading();
          let $data=res.data.data;
          console.log('[PASW-LIST] PaswList (All Action)',$data,$this.apartmentList,$this.pwtemList);
        }
      })
    },
    goAddRoom(){
      console.log("[RoomList] hide... go addRoom");
      const url = '../deviceInfo/main'
      wx.navigateTo({ url })
    },
  },
  onShow () {
  },
  onUnload(){
  },
}
</script>

<style scoped>
  /* paws-->room */
  img{
    display: block;
    width:100%;
    height:100%;
  }
  .pw-info{
    margin:0;
    margin-top:35rpx;
    box-shadow:0rpx 0 16rpx rgba(139,139,139,0.25);
    border-radius: 10rpx;
  }
  .pw-info:first-child{
    margin-top: 0rpx;
  }
  .pw-list{
    padding:40rpx 30rpx;
    /* padding: 40rpx; */
  }
  .main{
    background:rgba(246,247,248,1);
    min-height: 100%;
    height:auto;
  }
  .apartment-detail{
    margin:0;
  }
  .one-img img{
    width:100%;
    height:100%;
  }
  
  /* room style........ */
  .pw-info{
    padding:35rpx 40rpx;
    position: relative;
  }
  .room-img{
    width:400rpx;
    height:100%;
    position: absolute;
    right: 0;
    top:0;
  }
  .apartment-name{
    font-size: 36rpx;
    font-weight: bold;
    height: 34rpx;
    line-height: 34rpx
  }
  .one-text{
    font-size: 30rpx;
    color:#454545;
    height:32rpx;
    line-height: 32rpx;
    /* font-weight: lighter; */
  }
  ._p{
    font-family: SourceHanSansCN;
  }
  .top{
    margin-bottom: 45rpx;
  }
  .one-img{
    width:32rpx;
    height:32rpx;
    margin-right: 25rpx;
  }
  .detail-one{
    display: flex;
    align-items: center;
    /* height: 32rpx; */
    margin-bottom: 20rpx;
  }
  .nullInfoText{
    padding-top: 30rpx;
    text-align: center;
  }
  .page{
    height:100%;
  }
  /* button */
  
  .add-btn{
    width:50rpx;
    height:50rpx;
    padding:25rpx;
    position: fixed;
    /* bottom:100rpx;
    right:100rpx; */
    /* border:1rpx solid #000; */
    border-radius:50%;
    bottom:50rpx;
    right:50rpx;
    background:rgba(255,255,255,1);
    /* border-radius:20px; */
    box-shadow:6rpx 0 22rpx rgba(151,151,151,0.12);
    border:1rpx solid rgba(151,151,151,0.12);
  }
</style>
