<template>
	<div class="main">
		<!-- <div class="icontent">
      <div class="img" :style="{backgroundImage:'url('+bgImg+')'}" v-if="bgImg" ></div>
      <p v-else @click="mmpAct">我嬲。。。。。。</p>
      <img src="/static/img/7.png" alt="">
      <img :src=bgImg alt="">
      <image :src=bgImg alt=""></image>
      <img src="https://wx.grandacom.cn/768/install.png" alt="">
      <image src="https://wx.grandacom.cn/768/install.png" alt=""></image>
    </div> -->
    <web-view src="https://wx.grandacom.cn/768/install.png"></web-view>
	</div>
</template>
<script>
	export default {
		name: 'installExplain',
		components: {
		},
		data() {
			return {
        //****************1、一般数据

        //****************2、表单数据
        formItem: {
				},

				//****************3、rule

				//****************4、本地数据（伪）
        // bgImg:"http://wx.grandacom.cn/768/768install.png",
        // bgImg:this.$url2+'static/apartment/adc38f6859ff0fbdd3c9d785533c745d.png'
        bgImg:"",
      }
		},
		computed: {
		},
    methods: {
			//1、初始函数————————————————————————————————
			defaultSet(){
        // this.bgImg=require('https://wx.grandacom.cn/768/768install.jpg');
        // this.bgImg=this.$url2+"768/install.png"
        // wx.setNavigationBarTitle({
        //   title: "安装说明"
        // })
			},
			defaultData(){
      },
      

      //2、公用模组————————————————————————————————

      //3、一般函数————————————————————————————————

      //4、请求函数————————————————————————————————

      //9、测试函数————————————————————————————————
    },
		created(){
			this.defaultSet();
		},
  }
</script>
<style scoped="scoped">
  .img-explain{
    width:100%;
  }
  .img{
    width:300rpx;
    height:300rpx;
    background-size: 100% 100%;
    background:orange;
  }
</style>
