<template>
  <div class="page">
    <div class="main">
    <div class="menu-list">
      <div class="info-menu" v-for="(item,index) in deviceMenuList" @click="menuOnesAct(item)" :key="index">
        <div class="icon-menu-idv">
          <image :src="item.src" alt="" class="icon-menu-bef"></image>
        </div>
        <div class="content-menu">
          <p class="menu-name">{{item.menuName}}</p>
          <div class="info-detail">
            <div class="img-idv">
              <image src="/static/img/icon.png" alt="" class="menu-icon"></image>
            </div>
            <template v-if="item.arr">
              <picker @change="arrayPickerChange($event,item)" :value="item.num" :range="item.arr" class="picker-main" v-if="item.id==115">
                <view class="picker">
                  {{item.arr[item.num]+"s"}}
                </view>
              </picker>
              <picker @change="bindPickerChange($event,item)" :value="item.num" :range="item.arr" range-key="name" class="picker-main" v-else-if="item.id!=117&&item.id!=118">
                <view class="picker" v-if="item.arr[item.num]">
                  {{item.arr[item.num].name}}
                </view>
              </picker>
            </template>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</template>

<script>
// import mes from '../../components/socketMes.vue';
// import wxtoast from '../../components/meToast.vue';
import { unBindRoomDevice } from '../../https/api'
export default {
  components: {
    // mes,wxtoast
  },
  data () {
    return {
      itv:"",     //计时器
      // indexs:0,
      // volume:"",
      //音量
      // volumeArr:["最高音量","中等音量","低等音量","静音"],
      volumeArr:[
        {
          id:1,
          name:"最高音量",
        },
        {
          id:2,
          name:"中等音量",
        },
        {
          id:3,
          name:"低等音量",
        },
        {
          id:4,
          name:"静音"
        }
      ],
      //开门方式
      // openDoorArr:["单人开锁","双人开锁","指纹+指纹","密码+密码","指纹+密码","管家开锁","常开"],
      openDoorArr:[
        {
          id:1,
          name:"单人开锁",
        },
        {
          id:2,
          name:"双人开锁",
        },
        {
          id:3,
          name:"指纹+指纹",
        },
        {
          id:4,
          name:"密码+密码"
        },
        {
          id:5,
          name:"指纹+密码"
        },
        {
          id:6,
          name:"管家开锁"
        },
        {
          id:7,
          name:"常开"
        }
      ],
      //反锁
      backLockArr:[
        {
          id:1,
          name:"反锁忽略关闭",
        },
        {
          id:2,
          name:"反锁忽略打开",
        },
        {
          id:3,
          name:"门锁冻结",
        },
        {
          id:4,
          name:"门锁启用"
        }
      ],
      //数据清除
      clearDataArr:[
        {
          id:1,
          name:"用户数据",
        },
        {
          id:2,
          name:"恢复出厂",
        },
        {
          id:3,
          name:"日志",
        },
      ],
      //门锁权限
      jurisdictionArr:[
        {
          id:1,
          name:"禁止添加密码",
        },
        {
          id:2,
          name:"禁止添加卡片",
        },
        {
          id:3,
          name:"禁止添加指纹",
        },
        {
          id:4,
          name:"允许添加密码"
        },
        {
          id:4,
          name:"允许添加卡片"
        },
        {
          id:4,
          name:"允许添加指纹"
        }
      ],
      //menuName:标题;arr:picker:数据源;num:选中第几个(应该跟显示的对应);id:操作参
      //本地数据...........
      deviceMenuList:[
        {
          menuName:"音量",
          // menuDetail:"",
          arr:[],
          num:0,
          id:111,
          src:"/static/img/voice@2x.png",
        },
        {
          menuName:"开门方式",
          // menuDetail:"",
          arr:[],
          num:0,
          id:112,
          src:"/static/img/door@2x.png",
        },
        {
          menuName:"反锁配置",
          // menuDetail:"",
          arr:[],
          num:0,
          id:113,
          src:"/static/img/lock@2x.png",
        },
        {
          menuName:"自动关锁时间",
          // menuDetail:"",
          arr:[],
          num:0,
          id:115,
          src:"/static/img/lockoff@2x.png",
        },
        {
          menuName:"同步时间",
          // menuDetail:"",
          // arr:[],
          num:0,
          id:117,
          src:"/static/img/time@2x.png",
        },
        {
          menuName:"NB网络断开",
          // menuDetail:"",
          // arr:[],
          num:0,
          id:118,
          src:"/static/img/web@2x.png",
        },
        {
          menuName:"数据清除",
          // menuDetail:"",
          arr:[],
          num:0,
          id:114,
          src:"/static/img/data@2x.png",
        },
        {
          menuName:"权限配置",
          // menuDetail:"",
          arr:[],
          num:0,
          id:116,
          src:"/static/img/limite@2x.png",
        },
        {
          menuName:"解除绑定",
          // menuDetail:"",
          num:0,
          id:116,
          src:"",
        },
      ],

    }
  },
  computed:{
  },
  methods: {
    //claer   Unload
    resetData(){
      Object.assign(this.$data, this.$options.data())
      // console.log(this.$data);
    },
    //deal    Show
    defaultDealData(){
      let vm=this;
      vm.deviceMenuList.map((item)=>{
        switch(item.menuName){
          case "音量":
            item.arr=vm.volumeArr;
          break;
          case "开门方式":
            item.arr=vm.openDoorArr;
          break;
          case "反锁设置":
            item.arr=vm.backLockArr;
          break;
          case "自动关锁时间":
            let arr=[];
            for(let i=3;i<16;i++){
              arr.push(i)
            }
            item.arr=arr;
          break;
          case "数据清除":
            item.arr=vm.clearDataArr;
          break;
          case "权限配置":
            item.arr=vm.jurisdictionArr;
          break;
        }
      })
    },
    menuOnesAct(item){
      console.log(item);
      switch(item.menuName){
        case "同步时间":
          this.BLEAct(117);
          break;
        case "NB网络断开":
          this.BLEAct(118);
          break;
        case "解除绑定":
          this.unBind();
          break;
      }
    },
    //解除绑定
    unBind() {
      console.log('room_info:', this.$store.state.roomInfo);
      unBindRoomDevice(this.$store.state.rid)
    },
    //object array
    bindPickerChange (e,item) {
      item.num=e.mp.detail.value;
      console.log(item,item.id,item.arr[item.num].id);
      this.BLEAct(item.id,item.arr[item.num].id)
    },
    //纯数组形式 array
    arrayPickerChange(e,item){
      item.num=e.mp.detail.value;
      console.log(item.id,item.num,item,item.arr[item.num])
      this.BLEAct(item.id,item.arr[item.num])
    },

    //BLE
    //BLE   1、config & getTime
    BLEAct(category,arg){
      let vm=this,
        mac=vm.fns.BLEdata.deviceId,
        dlid=vm.$store.state.dlid,
        commandId=vm.fns.BLEdata.commandId,
        params={
          value:arg||"",
          valueNew:"",
          effectData:"",
          effectTimes:"",
          role:vm.$store.state.role,
          superPwd:vm.$store.state.superPwd
        },
        time=0;
      vm.fns.ActBLE(this,category,params);
      vm.itv=setInterval(function(){
        time++
        if(time==10){
          wx.hideLoading();
          clearInterval(itv);
          vm.fns.wxMsgToast("蓝牙响应超时")
          responseBLE(2);
        }
      },1000)
      //4、server tab msg
      vm.$bus.$on('BLEvalueChange',(content)=>{
        vm.responseBLE(content);
      })
    },
    responseBLE(content){
      //后台返回。响应
      if(this.fns.BLEdata.category!=category) return;
      console.log("响应的是...",category);
      let vm=this;
      clearInterval(vm.itv);
      let $time=new Date(),
        time=vm.fns.formatTime($time);
        // status;
      // Array.isArray(content)?status=1:status=content
      vm.fns.BLEdata.imac?mac=vm.fns.BLEdata.imac:"";
      let data={
        "dlid":dlid,
        "bt_mac":mac,
        "category":category,
        "time_str":time,
        "command_id":commandId,
        // "status":status,
        // "content":[content]
      };
      if(Array.isArray(content)){
        data.status=1;
        data.content=[content]
      }else{
        data.status=content;
        data.content=[];
      }
      vm.$https.ajax(1,"POST","api/device/bt_response",data).then((res)=>{
        console.log('%c bt_response RES','blue',res);
          wx.hideLoading();
          vm.fns.wxMsgToast(item.msg)
      }).catch((err)=>{
        console.log(err);
      })
    },
  },
  onShow () {
    this.resetData();
    this.defaultDealData();
    console.log('...show SettingMenu');
  },
  onUnload(){
    console.log('...unload SettingMenu');
  },
  onHide(){
    console.log('...hide SettingMenu');
  }
}
</script>

<style scoped>
  /* //li样式 */
  .menu-list{
    /* margin: 28rpx 33rpx; */
  }
  .info-menu p{
    font-size: 34rpx;
  }
  .info-menu .info-detail p{
    font-size: 30rpx;
    color:#858585;
  }
  .info-detail{
    /* display: flex; */
    align-items: center;
    flex-grow: 1;
    font-size: 30rpx;
    color:#858585;
    justify-content:flex-end;
    margin-right: 30rpx;
  }
  .menu-list{
    /* margin: 28rpx 33rpx; */
    margin-left: 28rpx;
  }
  .img-idv{
    float: right;
    width:22rpx;
    height:22rpx;
    margin-left: 10rpx;
  }
  .picker{
    padding: 30rpx 0;
    text-align: right;
    color:#B6B6B6;
  }
  .menu-name{
    padding: 30rpx 0;
  }
  .img-idv{
    padding: 30rpx 0;
  }
  image{
    width:100%;
    height:100%;
  }
  .icon-menu-idv{
    width:59rpx;
    height:59rpx;
    margin-right: 28rpx;
  }
  .info-menu{
    display: flex;
    align-items: center;
  }
  .content-menu{
    flex-grow:1;
    display: flex;
    border-bottom: 1px solid #A4A4A4;
    justify-content:space-between;
    align-items: center;
  }
  .page{
    height:auto;
    min-height: 100%;
    background-color: #fff;
  }
</style>
