<script>
export default {
  created () {
    // 调用API从本地缓存中获取数据
    //如果已经有缓存就直接拿过来，如果没有就为空数组，倒序插入时候填入a:1
    // const logs = wx.getStorageSync('logs') || []
    // logs.unshift(Date.now())
    // wx.setStorageSync('logs', logs)

    // console.log('app created and cache logs by setStorageSync ....')
  }
}
</script>

<style>
/*.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 200rpx 0;
  box-sizing: border-box;
}*/
/* this rule will be remove */
* {
  transition: width 2s;
  -moz-transition: width 2s;
  -webkit-transition: width 2s;
  -o-transition: width 2s;
  /* font-family: 'Courier New', Courier, monospace;
  font-family: SourceHanSansCN-Medium; */
}
page{
  position: relative;
  height:100%;
  /* height:auto; */
  font-family: SourceHanSansCN-Regular;
  /* overflow: auto; */
  background-color:#F6F7F8;
  /* background: red; */
}
view._p{
  color:#545454;
  font-family: "SourceHanSansCN-Regular";
  /* font-weight: 300; */
}
button{
  line-height: 2;
}
page{
  min-height: 100%;
  /* height:auto; */
}
</style>
